[2017-02-11 03:51] ronakulus opened #1 "Get Django installed on Dev system"
Viv, I have created dev install instructions here, wanna help me test them?

https://github.com/opencurrents/opencurrents/wiki/Setup-Django-Development-System

[2017-02-11 03:56] ronakulus opened #2 "Create a python hello world script"
Please create a python script called hello.py that displays the following message:

"Hello using Python!"

It should display this by:
+ Opening up Terminal
+ cd <location_of_hello.py>
+ python hello.py

[2017-04-05 17:25] dannypernik opened #10 "Create tasks for hour tracking"

[2017-04-05 17:26] dannypernik opened #11 "Add opt-in on signup for receiving monthly updates"

[2017-04-05 17:27] dannypernik opened #12 "Feedback on Mission statement"

[2017-04-05 18:33] dannypernik opened #13 "Send Gabe django tutorials"

[2017-04-06 01:03] dannypernik commented on #13
I sent this one to @quixotepr, which @nickolashe had recommended to us awhile back: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django

[2017-04-18 22:08] dannypernik opened #15 "Send email to Max and Danny when social org applies for pilot"
Please check to see if any new orgs have applied.

[2017-04-19 13:15] dannypernik opened #16 "Send all 3 of us an email when 15+ users sign up in a day"
Might be good to have alerts at 100 and 500 if they're easy enough to duplicate

[2017-04-19 14:28] dannypernik opened #17 "Enable signup as Individual or Org from homepage"
See screenshots. If signup as Org, user receives validation email, then confirms email and password. User should then be directed to Pilot org application, and Org name should be autopopulated. Note the checkbox on screenshots.

<img width="1009" alt="screen shot 2017-04-19 at 9 23 31 am" src="https://cloud.githubusercontent.com/assets/3347095/25185243/779bd7f2-24e2-11e7-9cbd-ebd3c200abb9.png">
<i

[2017-04-19 17:56] #13 closed

[2017-04-19 17:58] #12 closed

[2017-04-19 18:27] nickolashe commented on #16
@dannypernik Besides posting suggested issues, can you also post what motivated you make one please?

[2017-04-19 18:28] nickolashe commented on #16
What if our growth rate is at 10 users / day?

[2017-04-19 18:31] nickolashe commented on #15
No new orgs.

[2017-04-19 18:32] nickolashe commented on #16
I think what we really need is a dashboard, which we can get from Mailchimp (or whatever email sender we use)

[2017-04-19 18:37] nickolashe commented on #17
@dannypernik Until we have a well-defined site map, when you use terms like "Pilot org application", can you also include the corresponding template name please.

[2017-04-19 18:40] nickolashe commented on #15
@dannypernik You can check things like this by logging in directly to the admin console of the production site.

[2017-04-19 18:54] nickolashe commented on #17
@dannypernik Also, I created 3 different labels to assign task priorities. When you create one, can you suggest a priority on it as well.

[2017-04-19 19:34] dannypernik commented on #16
@nickolashe I want to make sure we know when we should be thinking about scaling up. Your question of 10 users/day is valid, but my thinking is that a large number of users signing up at the same time could crash the server if we're not ready for it.

[2017-04-19 19:59] nickolashe commented on #16
@dannypernik Ok, thanks for clarifying. The numbers we are talking about here are not anywhere near ones that can crash the server. Also, mailchimp can be configured to send periodic reports.

[2017-04-19 23:51] dannypernik commented on #16
@nickolashe Periodic reports could work, though one day we're going to get a story on a high-traffic website and we will need to know that day to upgrade the server.

[2017-04-20 01:13] dannypernik opened #18 "Choose alternative hosting to Heroku"
Must support SSH so that we can link GitHub account
Cost effective option
No monthly fee for SSL

[2017-04-20 05:05] nickolashe commented on #16
@dannypernik Signups is not a direct measure of server load. It may have some indirect effect, or it can be negligible. There are other, more direct measures that are normally monitored, such as average CPU and memory load. It'd be good if you can start by stating the problem next time.

[2017-04-20 20:03] dannypernik commented on #17
@nickolashe sounds good. Pilot org application's template is org-signup

[2017-04-20 20:03] #2 closed

[2017-04-20 20:04] #1 closed

[2017-04-20 20:08] dannypernik opened #19 "Make homepage revisions based on Max's input"
Desktop home
-Always Sign me up/Tell me more
-More spacing for Our mission page
-Back button
-Seeks to… Engage?
-Shrink only on desktop?
-Version of homepage without question
-Fix Sign me up on How it Works
-Change pointer to arrow on How it works
-“Volunteer invests time”
-“Organization approves work”
-Move Everyone to top center
-Change “I want to join the team” to “I have a question”
-“Who We A

[2017-04-28 08:21] dannypernik opened #20 "Volunteer and org user flows"

[2017-04-28 08:28] #20 closed

[2017-05-08 05:54] nickolashe commented on #17
@dannypernik Are we done with this one?

[2017-05-08 19:53] nickolashe opened #23 "Getting more done in GitHub with ZenHub"
Hola! @nickolashe has created a [ZenHub](http://www.zenhub.com) account for the **opencurrents** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=Z

[2017-05-08 20:15] nickolashe opened #24 "Create Django model for time tracking"

[2017-05-10 23:49] dannypernik opened #25 "Getting more done in GitHub with ZenHub"
Hola! @dannypernik has created a [ZenHub](http://www.zenhub.com) account for the **opencurrents** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=

[2017-05-13 02:34] #25 closed

[2017-05-13 02:35] dannypernik commented on #17
@nickolashe yep!

[2017-05-13 02:35] #17 closed

[2017-05-13 02:39] dannypernik opened #26 "Differentiate between red and green status messages"
class="alert" makes text red, class="success" makes text green.

[2017-05-13 06:55] nickolashe opened #27 "Consider moving to a private repo"
@dannypernik What are your thoughts on this?

[2017-05-13 14:53] dannypernik commented on #27
@nickolashe  I know you mentioned recently that you thought we should move to private given that we are a for-profit business. Could it not be advantageous to make most of our code open source while keeping certain aspects private?

[2017-05-29 04:20] #24 closed

[2017-05-29 04:20] #10 closed

[2017-05-29 04:25] nickolashe opened #30 "Implement Django's custom input widgets"
https://docs.djangoproject.com/en/1.11/topics/forms/media/

We can identify common patterns in the UI and define custom widgets, so we don't have to explicitly specify css styling in the template any more.

[2017-05-29 04:31] nickolashe commented on #27
@dannypernik It could be. Which parts are you thinking specifically?

[2017-05-29 04:31] nickolashe commented on #26
@dannypernik Is this issue still relevant?

[2017-05-29 04:32] nickolashe commented on #19
@dannypernik Is this done?

[2017-05-29 06:11] nickolashe opened #31 "Redesign "Add location" flow in create-project"
We can't use existing one because we don't know how many locations have been submitted and the input names depend on that. If we could use a multiple choice input element somehow and add options to that list, I think this would work.

[2017-05-29 06:17] nickolashe opened #32 "Prioritize upcoming projects view based on relevance to user"
Such as those projects the user was invited to

[2017-05-29 07:09] nickolashe opened #33 "Fix radio buttons on event-detail"
Currently, I am able to select multiple locations simultaneously, and not able to deselect.

[2017-05-29 19:24] nickolashe commented on #31
If the above option does not work, we could also submit the number of locations as a separate input in the form, but that would be soft of ad hoc imho.

[2017-05-29 20:00] dannypernik commented on #31
@nickolashe not sure I understand how the multiple choice input would work in this case, let's discuss by skype

[2017-05-29 20:03] nickolashe commented on #31
Ah right, I think this should be just a select box actually

[2017-05-29 20:06] dannypernik commented on #33
I've added name="location-[]" to each radio button, I believe this will correct the issue though I'm not sure how to view the event-detail template due to a required parameter

[2017-05-29 20:14] dannypernik opened #34 "Validate that end_time > start_time on create-project and edit-project"

[2017-05-29 20:17] dannypernik commented on #19
@nickolashe done. Marking as such.

[2017-05-29 20:17] #19 closed

[2017-05-29 20:21] dannypernik commented on #26
@nickolashe yes. There are a few places where I'd like to add a success message after a user completes an action. Instead of making a new template, we can display it at the top of their profile template. When an admin edits or deletes a project, for example.

[2017-05-29 20:24] nickolashe commented on #34
check time_end within the same day

[2017-05-29 20:25] nickolashe commented on #34
@dannypernik When creating an issue, can you please also set the "Project" and "Milestone" tags

[2017-05-29 20:28] nickolashe commented on #33
I am confused now, is this form even supposed to let the user pick multiple locations?

[2017-05-29 20:31] dannypernik commented on #33
I'm assuming view-project became event-detail and that a user is coming here after selecting a project from upcoming-projects. If this is the case, then no, a user should only be allowed to pick one location. I believe adding name="location-[]" to a set of radio buttons puts them into the same set and allows only one to be selected at a time.

[2017-05-29 20:32] dannypernik commented on #34
@nickolashe noted. will do.

[2017-05-29 20:33] dannypernik commented on #27
@nickolashe I don't know that there's anything in our MVP that would need to be kept private. What do you think?

[2017-05-29 21:02] nickolashe commented on #33
I think this will work

[2017-05-29 21:04] nickolashe opened #35 "Clarify the purpose of the "Going" button on upcoming projects view in profile"
Also define the link when project is clicked

[2017-05-29 21:42] nickolashe opened #36 "Create a single profile template that would display differently ..."
depending on whether the user has admin rights. Having two different templates forces us to branch in all other templates (based on users' privileges)

[2017-05-31 07:54] #35 closed

[2017-05-31 07:57] nickolashe commented on #31
@dannypernik So the "[]" syntax is apparently some PHP legacy. I am still not clear how we can implement this.

[2017-05-31 07:58] nickolashe opened #37 "Use AJAX for live check in of volunteers"
This is what we need to use:
https://learn.jquery.com/ajax/

[2017-06-01 05:24] nickolashe commented on #36
@dannypernik How is this one coming along?

[2017-06-01 05:29] nickolashe commented on #31
This commit solves it:
https://github.com/opencurrents/opencurrents/commit/015e28386160303f5ab0276b81b68eb8ebb2d803

[2017-06-01 05:29] #31 closed

[2017-06-01 05:34] nickolashe opened #38 "Should be able to check / uncheck multiple "Going" buttons in "My upcoming projects (events?)" section"

[2017-06-01 06:07] nickolashe opened #39 "Live dashboard: have the volunteer move into the registered section once added"
And change to "Add volunteer" (only 1 a time needed)

[2017-06-01 07:56] nickolashe commented on #39
This commits implements live checkin (without refresh):
https://github.com/opencurrents/opencurrents/commit/a7e5a7013dd3befa581f0e908f4d15f291014a36

[2017-06-01 07:59] nickolashe opened #40 "Explain how we can tell if the checkmark button is checked or unchecked ..."
since we know it changes color it must have a state @dannypernik

[2017-06-01 08:00] nickolashe commented on #37
This commit implements live checkin:
https://github.com/opencurrents/opencurrents/commit/a7e5a7013dd3befa581f0e908f4d15f291014a36

[2017-06-01 08:00] nickolashe commented on #37
@dannypernik Waiting on resolution of #40 to proceed on this one

[2017-06-01 17:16] dannypernik commented on #39
@nickolashe you just mean so that the new volunteers appear in the same section as the registered vols, right? If so, I've revised it.

[2017-06-02 23:18] #40 closed

[2017-06-02 23:18] #39 closed

[2017-06-02 23:18] #37 closed

[2017-06-03 16:09] dannypernik opened #45 "verification-token on confirm-account should be added into input field, not above it"

[2017-06-03 16:31] dannypernik commented on #38
@nickolashe I've added a popup to change rsvp status when "Going" is clicked.

[2017-06-03 16:33] #38 closed

[2017-06-03 16:45] dannypernik commented on #33
@nickolashe I'm not able to test this page because I assume I need a project ID to load event-detail

[2017-06-03 17:26] nickolashe opened #46 "Populate upcoming events section on user profile"

[2017-06-03 17:27] nickolashe commented on #36
Decided in favor of separate profiles

[2017-06-03 17:27] #36 closed

[2017-06-03 17:30] nickolashe commented on #34
Validate the form in Django forms (upon submitting) or in Javascript (before submitting)

[2017-06-03 18:04] nickolashe opened #47 "Link to admin-profile"

[2017-06-03 18:18] nickolashe opened #48 "Create event: pick existing project or create new one based on autocomplete"

[2017-06-03 18:24] nickolashe opened #49 "Invite volunteers: implement the form"

[2017-06-03 18:35] nickolashe opened #50 "Live dashboard: Add new user should check them in"

[2017-06-03 18:36] nickolashe opened #51 "Live dashoard: Improve UI"

[2017-06-03 18:45] nickolashe opened #52 "Edit event: implement the form"
Take a look at project create one

[2017-06-03 19:27] harmonrky commented on #50
New user should automatically be checked in when added @nickolashe

[2017-06-03 21:18] edsfocci commented on #34
More work needs to be done still.

[2017-06-03 22:28] dannypernik commented on #47
@nickolashe this issue is for menu.html, right? I got this linking correctly now, so we can close it.

[2017-06-03 23:32] nickolashe commented on #34
@edsfocci what else need to be done here you think?

[2017-06-03 23:47] nickolashe opened #56 "Clicking "Going" button for an event on user profile should change rsvp status"
Implement this front-end change #38

[2017-06-04 00:20] everydaydaniel commented on #51
commit: 0f23814eabefe42773c3569a921fa1ecbf9a1cc2 adresses this issue

[2017-06-04 01:29] everydaydaniel opened #58 "opencurrents logo in header logs you out"
I recommend having the header link to the user profile. It seems to log you out if you click it, makes it a little useless to have.

[2017-06-04 08:59] nickolashe commented on #58
@everydaydaniel I agree, can you please make the change?

[2017-06-04 09:10] nickolashe opened #59 "Create-project: fix template"
Form is not displayed correctly

[2017-06-04 09:12] nickolashe commented on #59
Fixed:
https://github.com/opencurrents/opencurrents/commit/12ef90c445c391816776260983c9b796a9062955

[2017-06-04 09:12] #59 closed

[2017-06-04 09:26] nickolashe commented on #48
Implements autocomplete of existing project names for org:
https://github.com/opencurrents/opencurrents/commit/31864eb9d8a7939d29488757a721720b8c93ac66

[2017-06-04 09:29] nickolashe opened #60 "Hide community feed from user & admin profiles"

[2017-06-04 09:30] nickolashe opened #61 "Fix the UTC/local time discrepancy for project start times"

[2017-06-04 09:39] nickolashe commented on #50
@harmonrky Good point

[2017-06-04 09:40] nickolashe commented on #50
Adding new user is working in general, with the only exception right after registering an existing user

[2017-06-04 13:33] dannypernik commented on #59
@nickolashe was this problem just due to the indent?

[2017-06-04 13:38] dannypernik commented on #58
@nickolashe @everydaydaniel I've added the following logic to check for admin status, let me know if this will work with all templates:
`{% if orgid %}
      <a href="{% url 'openCurrents:admin-profile' %}">
      {% else %}
      <a href="{% url 'openCurrents:profile' %}">
      {% endif %}`

[2017-06-04 14:50] nickolashe commented on #59
yeah

[2017-06-04 14:51] nickolashe commented on #58
thats correct

[2017-06-04 15:09] nickolashe commented on #60
should be an easy one

[2017-06-04 15:10] nickolashe commented on #56
... on the backend

[2017-06-04 15:14] nickolashe commented on #56
@edsfocci if you feel adventurous today feel free to take on this one!

[2017-06-04 15:15] #60 closed

[2017-06-04 15:17] nickolashe commented on #52
@harmonrky Is there a PR i can take a look at for this one?

[2017-06-04 15:19] nickolashe commented on #46
@edsfocci @harmonrky should be an easy one

[2017-06-04 15:54] everydaydaniel opened #66 "Live dashboard hour tracking checks out when page is refreshed/re-opened etc."
The live dashboard will check you out if you refresh the page. This is a major issue seeing that the selling point is to track hours volenteer hours. This is important because users will most likely close the window and come back to it later.

[2017-06-04 16:21] harmonrky opened #67 "Change create-project.html and edit-event-html templates"
Remove multiple locations, change labels, edit buttons

[2017-06-04 16:49] dannypernik opened #68 "For upcoming events on admin-profile, check that event has not ended"

[2017-06-04 17:37] harmonrky opened #70 "Edit Event page loads datetime wrong"
The start time, end time, and date from the models need to be formatted before populating the page fields

[2017-06-04 18:35] dannypernik opened #71 "live-dashboard add volunteers to Registered list even if email already exists in system"

[2017-06-04 18:58] edsfocci opened #73 "live-dashboard Check-in persistence after browser refresh or log out & log back in"

[2017-06-04 20:55] nickolashe commented on #71
@dannypernik did you say that this eventually worked for you?

[2017-06-05 17:16] dannypernik commented on #71
No but possible that it's only preventing the logged in user from adding
themselves.

On Sun, Jun 4, 2017 at 3:55 PM, nickolashe <notifications@github.com> wrote:

[2017-06-05 17:18] dannypernik opened #74 "email templates undefined variables"
Copyright © 2017 *|LIST:COMPANY|*, All rights reserved.
*|LIST:DESCRIPTION|*

Our mailing address is:
*|HTML:LIST_ADDRESS_HTML|*

[2017-06-05 17:39] dannypernik opened #75 "live-dashboard: Only send verification emails to new users"
Max received a verification email after we added his email to live-dashboard despite already being registered.

[2017-06-05 23:33] nickolashe commented on #75
ah yes, good catch!

[2017-06-05 23:33] nickolashe commented on #74
?

[2017-06-06 04:44] dannypernik commented on #74
@nickolashe the text I copied here is at the bottom of all the emails we send out. I can just delete it from the templates or we can define the variables.

[2017-06-06 07:46] nickolashe commented on #74
Ok, lets just delete

[2017-06-06 07:58] nickolashe commented on #71
Ok, because I am able to add new users

[2017-06-06 08:17] nickolashe commented on #75
Actually @dannypernik do you where this took place? In production? I've just merged and deployed the latest copy of develop. This should not happen any more.

[2017-06-06 16:36] MaxTattenbach commented on #75
@nickolashe  Danny,  sent added me to an event with my email to which I had already registered with.  I then received the validation email to my gmail, and invalidated my previous password.
Max

[2017-06-06 16:39] MaxTattenbach opened #77 "Change email message."
Lets add a touchier email message for confirmation!

"Changing the world with one Current at time"

[2017-06-06 18:28] nickolashe commented on #75
@MaxTattenbach @dannypernik I don't think I am following still. Do we think there is an issue or not? If we do, can you please state whether you saw on the production site or locally and the sequence of steps you took so I can reproduce.

[2017-06-06 22:01] dannypernik opened #79 "500 and 404 pages"

[2017-06-06 22:29] dannypernik opened #80 "admin-profile: Event start and end time displays incorrectly"
I created an event from 10:00am to 12:00pm, and it's showing on admin-profile as 10:06am to 12:06pm

[2017-06-07 18:24] nickolashe commented on #80
???

[2017-06-07 18:26] nickolashe commented on #75
bump. do we still think this is an issue?

[2017-06-07 18:27] nickolashe commented on #71
are we ok with closing this?

[2017-06-07 18:28] dannypernik commented on #80
Two things now - first, timezone has changed to system timezone, pushing start and end times back 5 hours. 2nd, it says 5:06 to 7:06 when it was entered into the db as 5:00 to 7:00 (timezone adjusted). See screenshot.
<img width="640" alt="screen shot 2017-06-07 at 1 24 56 pm" src="https://user-images.githubusercontent.com/3347095/26894835-2f601060-4b85-11e7-8f47-4107bf1098af.png">

[2017-06-07 18:30] nickolashe opened #84 "Link to All upcoming projects from user profile"
Currently if the user is not registered for any events, the page only shows the balance and nothing else. would be nice to link to all upcoming projects so they can register.

[2017-06-07 20:00] karbmk opened #86 "profile: Opencurrents icon click redirection error."
When you login into the dashboard of Opencurrents as a legitimate user and click the Opencurrents icon on the top left the website behaves as expected.
1. But when you move the "Organisation signup" page after login and try clicking the Opencurrents icon on the top left error occurs. Find attached the screenshot of the same.
2. Also, in login page when you click Opencurrents icon same behaviour is

[2017-06-08 06:38] nickolashe commented on #86
@karbmk Thanks
@dannypernik Is the link on org-signup correct?

[2017-06-08 06:39] nickolashe commented on #84
@dannypernik Thoughts? Lets try to respond to issues within 24 hr.

[2017-06-08 06:44] nickolashe commented on #80
@dannypernik The minute thing was an easy fix:
https://github.com/opencurrents/opencurrents/commit/cb0bd48837e7fd93f7dd29d3252aa0a0608dd0b1

[2017-06-08 06:45] nickolashe commented on #80
The "system timezone" thing is the expected behavior. When you enter dates into admin it takes them as UTC. But the event is showing in local (Austin) time.

[2017-06-08 06:46] nickolashe commented on #80
@dannypernik Feel free to close the issue if you are happy with this

[2017-06-08 06:48] nickolashe commented on #68
@dannypernik Pretty sure this is happening already, but can you doublecheck pls

[2017-06-08 06:49] nickolashe commented on #61
https://github.com/opencurrents/opencurrents/pull/82

[2017-06-08 06:49] #61 closed

[2017-06-08 06:50] nickolashe commented on #45
@dannypernik This should fix it:
https://github.com/opencurrents/opencurrents/commit/f51a11e671d2ae61122f22b04bab5b576f3cf482

Can you doublecheck and close the issue if you are happy?

[2017-06-08 06:50] #45 closed

[2017-06-08 06:52] nickolashe commented on #77
@MaxTattenbach Welcome to GH issues!

[2017-06-08 06:57] nickolashe commented on #66
Closing as a duplicate of #73

[2017-06-08 06:57] #66 closed

[2017-06-08 06:58] #34 closed

[2017-06-08 06:59] #71 closed

[2017-06-08 07:00] #46 closed

[2017-06-08 07:06] dannypernik commented on #86
@nickolashe @karbmk earlier I changed the link on my branch to /user-home as Nicko and I agreed. This link is in header.html which is extended to all the templates. I just tested on my version and header img successfully directs to user-home. This ties back into my suggestion that we merge or delete the 6 outstanding PRs.

[2017-06-08 07:08] dannypernik commented on #86
@nickolashe @karbmk however if we do want to direct to /profile after all, we'll need to figure this out. I suggest we leave it as user-home for Saturday and merge profile with admin-profile afterwards.

[2017-06-08 07:09] dannypernik commented on #84
@nickolashe I suggest we leave this until after Saturday, then merge profile with admin-profile.

[2017-06-08 07:10] dannypernik commented on #68
@nickolashe correct.

[2017-06-08 07:10] #68 closed

[2017-06-08 07:16] dannypernik commented on #45
confirmed

[2017-06-08 07:30] dannypernik commented on #75
@nickolashe It was confusing for us too. It seemed that Max was in fact getting a confirmation email when it was added to live-dashboard locally, and it may have locked him out. However, I just uncommented the "Add volunteer" inputs locally to test, and I have not received a confirmation email. We may want to watch for this if we do decide to use the "add volunteer" feature later, but given that I

[2017-06-08 07:30] #75 closed

[2017-06-08 07:35] #58 closed

[2017-06-08 07:37] #80 closed

[2017-06-08 07:43] #51 closed

[2017-06-08 07:45] dannypernik commented on #47
@nickolashe actually not sure what this relates to but I think it's done, right?

[2017-06-08 07:59] dannypernik opened #91 "live-dashboard: Manually enter names/emails of registrants from lunch meeting"
The lunch group will all be added under Linda's event. I've created Karen's event in production. I also added my friend Curry, who has agreed to come volunteer, to Linda's event. Unless we get some emails from Karen, I don't know that we'll have anyone for her to check in. Max will be attending at her site, however. I'll add him to Karen's and me to Linda's.

[2017-06-08 15:17] nickolashe commented on #86
@dannypernik lets step through the outstanding PR's together sometime today

[2017-06-08 15:26] nickolashe commented on #47
i think so

[2017-06-08 15:26] #47 closed

[2017-06-08 19:35] nickolashe commented on #84
sounds good

[2017-06-08 19:41] dannypernik commented on #86
@nickolashe from an admin account, if I go to org-signup and click the home logo, it takes me to user-home instead of admin-profile. I'm guessing orgid is not passed into org-signup template? This leads to the question: is passing in orgid to every template the most efficient way of checking admin status?

[2017-06-08 19:42] #67 closed

[2017-06-08 19:45] nickolashe opened #93 "Implement unit tests for live-dashboard"

[2017-06-08 20:44] dannypernik commented on #77
@MaxTattenbach @nickolashe @karbmk what do you think of this as the subject line once email is confirmed: "Let's make waves - one Current at a time"

[2017-06-08 20:49] dannypernik commented on #74
Mailchimp informed me that by law, we need contact info in emails. It's not clear to me why Mailchimp's own merge tags are not populating with the company info, as I found the settings page where these fields are defined, and our info is there. Maybe a bug with MC. I'm just hard-coding these fields instead.

[2017-06-09 03:02] nickolashe commented on #86
@dannypernik We need to add `SessionContextView` to every view that needs `orgid` context, including this one:
https://github.com/opencurrents/opencurrents/blob/master/openCurrents/views.py#L153
Feel free to open a PR with these changes.

[2017-06-09 03:02] dannypernik commented on #91
I've added users from the lunch group. I will continue adding any names of friends who wish to join.

[2017-06-09 03:03] #74 closed

[2017-06-09 03:03] nickolashe commented on #86
@dannypernik It is not passed explicitly, every view that needs it inherits it from that parent view. Do you have a suggestion on how to do this better?

[2017-06-09 03:05] nickolashe commented on #74
@dannypernik I think because this is not a list but a transactional email. I am pretty sure I saw an equivalent set of variables being populated for transactional emails before.

[2017-06-09 03:08] dannypernik commented on #86
@nickolashe since every view has a header logo which links to profile, every view will require orgid. I'm just hoping it's not something you have to add every single time. But if there's no other way, then so be it.

[2017-06-09 03:18] nickolashe commented on #86
@dannypernik Its just a matter of adding an extra word to the def. Follow the example here:
https://github.com/opencurrents/opencurrents/blob/master/openCurrents/views.py#L173

[2017-06-09 20:15] dannypernik opened #96 "Redirect to profile for new users"

[2017-06-09 20:24] dannypernik opened #97 "Live-dashboard: opt-in checkbox to receive oC invite"

[2017-06-09 21:15] dannypernik opened #98 "admin-profile: Live event from a different Org is showing in Keep Austin Beautiful's live events"
Only KAB events should display in live event section. Note that my account is currently associated with Keep Austin Beautiful for testing purposes.
<img width="1205" alt="screen shot 2017-06-09 at 4 14 24 pm" src="https://user-images.githubusercontent.com/3347095/26994782-bc7e70ea-4d2e-11e7-9b47-4cc3ecef8170.png">

[2017-06-09 21:18] dannypernik commented on #98
@nickolashe @karbmk in fact, upcoming events have the same problem:
<img width="1207" alt="screen shot 2017-06-09 at 4 16 46 pm" src="https://user-images.githubusercontent.com/3347095/26994841-30b091aa-4d2f-11e7-8a5f-836b29bea1c0.png">

I'm deleting both test events in case one of the admins log in.

[2017-06-09 23:34] dannypernik opened #101 "org-signup: Incomplete form crashes instead of returning status_msg"
<img width="1194" alt="screen shot 2017-06-09 at 6 34 32 pm" src="https://user-images.githubusercontent.com/3347095/26997794-4eb64fba-4d42-11e7-8a16-b292868130aa.png">

[2017-06-10 04:32] nickolashe commented on #98
@dannypernik Your accounts is associated with two orgs, KAB and test org, correct?

[2017-06-10 04:32] nickolashe commented on #98
@dannypernik I did not quite follow the last statement where you said you are deleting something.

[2017-06-10 04:36] nickolashe commented on #97
@dannypernik What's the status of this one? Are we aiming to have this by tomorrow?

[2017-06-10 06:45] #73 closed

[2017-06-10 06:50] nickolashe commented on #97
@dannypernik Can you please associate the PR with the issue to make reasoning easier.

[2017-06-10 07:34] nickolashe opened #103 "Figure out a way to pass booleans in the url"

[2017-06-10 07:47] nickolashe commented on #98
https://github.com/opencurrents/opencurrents/pull/104

[2017-06-10 07:48] nickolashe commented on #97
https://github.com/opencurrents/opencurrents/pull/104

[2017-06-10 22:34] #98 closed

[2017-06-10 22:35] #97 closed

[2017-06-10 22:37] nickolashe opened #106 "live-dashboard: add event location to header"

[2017-06-10 22:39] nickolashe opened #107 "admin-profile: list past events"

[2017-06-12 01:27] dannypernik commented on #98
@nickolashe sorry I didn't get to these sooner but seems we got them sorted out. My account was only associated with one org, for the record

[2017-06-13 02:03] dannypernik opened #110 "live-dashboard: Lag when "add volunteer" is clicked allows 1 volunteer to be added multiple times"
We also need to ensure that hours are not being double-counted.

[2017-06-15 03:51] nickolashe opened #111 "Set up local development environment"
@tsiology The first step would be to set up our local development environment following the instructions:
https://github.com/opencurrents/opencurrents/blob/master/README.md

[2017-06-15 15:44] MaxTattenbach opened #112 "Opt-in box remains clicked (opted-in) after opting someone in in the live dash board"

[2017-06-15 15:48] MaxTattenbach opened #113 "Checked-in Volunteers now are unclicked - http://www.opencurrents.com/live-dashboard/2/"
When checking the link to see if Karen had finished checking in the rest of the volunteers I noticed none of us are checked-in now.

[2017-06-16 01:45] nickolashe commented on #112
@MaxTattenbach @dannypernik I don't understand what the issue is here

[2017-06-17 00:22] dannypernik commented on #112
@nickolashe the thinking here is that once one person opts in, the checkbox is automatically set for future volunteers. @MaxTattenbach 's thinking is that each volunteer should explicitly opt in, otherwise we could have some accidental opt-ins. I tend to agree.

[2017-06-17 01:19] nickolashe commented on #112
can you give a specific example perhaps

[2017-06-17 01:22] dannypernik opened #114 "live-dashboard: Track admin who checks in volunteer"
Associate admin to each check-in and check-out; also track who approves hours of hours submitted by a volunteer

[2017-06-17 01:23] dannypernik commented on #112
Admin adds a new volunteer who wants an invite to openCurrents, they check the "Invite to openCurrents" checkbox. After clicking "Add volunteer", the checkbox remains checked. If the admin doesn't notice this, the next volunteer they add may be accidentally invited to openCurrents.

[2017-06-19 05:26] #96 closed

[2017-06-19 05:27] #86 closed

[2017-06-19 05:57] dannypernik opened #115 "admin-profile: Incorrect hour total"
As an admin of Keep Austin Beautiful, my account is showing 393 org hours recorded

[2017-06-19 05:59] dannypernik opened #116 "volunteer-requests: Enable "Continue" when all radio groups checked"

[2017-06-19 06:33] nickolashe commented on #115
ok, lemme doublecheck

[2017-06-21 23:53] dannypernik opened #118 "live-dashboard: Seems that any org can access any event via URL manipulation"

[2017-06-25 00:58] dannypernik opened #119 "Unknown set the channel's purpose: Discussion amongst active team members"
Created with Slack by @danny

[2017-06-25 01:01] #119 closed

[2017-06-27 19:19] dannypernik opened #120 "Create events to populate upcoming events"

[2017-06-27 19:29] dannypernik opened #121 "Make email optional on live-dashboard"

[2017-06-28 15:39] dannypernik opened #122 "Test"
Created with Slack by danny

[2017-06-28 19:39] #122 closed

[2017-06-28 19:41] dannypernik opened #123 "Admin earns Currents when one volunteer is checked in (after event happens)"

[2017-06-28 19:42] dannypernik opened #124 "time-tracker: Volunteers can record hours worked for an organization"

[2017-06-28 19:44] dannypernik opened #125 "time-tracker: Volunteer hours should be pending until approved"

[2017-06-28 19:46] dannypernik opened #126 "edit-hours: Admins can edit volunteer hours before approving"

[2017-06-28 19:59] dannypernik opened #127 "Admins can approve, decline, or defer volunteer hours in a weekly basis"

[2017-06-28 20:00] nickolashe opened #128 "Volunteer submits manual hours"
1. Pass in all orgs to template
2. Define a form in forms.py
3. Follow create project flow to transform dates
4. Create a handler, either a class-based or function-based that accepts the data and saves it to db
5. Redirect to time-tracked upon success

[2017-06-30 01:45] nickolashe commented on #128
@karbmk How are things coming along here?

[2017-07-02 20:35] nickolashe commented on #127
@dannypernik can we define what defer does here?

[2017-07-02 20:36] nickolashe commented on #126
@dannypernik think we can launch this without the edit function first? (just approve or decline that is)

[2017-07-03 14:22] dannypernik opened #129 "Front-end changes"
Approve-hours: defer/decline in same radio group
invite-volunteers: naming convention, change invite fields

[2017-07-03 20:20] #129 closed

[2017-07-06 19:41] karbmk opened #135 "Create Project submission error on Opencurrents server"
![screen shot 2017-07-06 at 2 37 19 pm](https://user-images.githubusercontent.com/8406712/27929545-0308a546-6259-11e7-8fa6-02fc800aa6ad.png)

Able to reproduce this error when you try submitting a new Project.

[2017-07-06 22:23] nickolashe commented on #135
@karbmk this is off develop, correct?

[2017-07-06 22:23] nickolashe commented on #135
i am aware this is not working yet

[2017-07-07 14:57] dannypernik opened #137 "live-dashboard: Live event is showing as past event on local server (develop branch)"
Created with Slack by danny

[2017-07-07 21:12] dannypernik opened #138 "admin-profile: Org hours appear to be around 4x too large"
<img width="675" alt="screen shot 2017-07-07 at 3 14 02 pm" src="https://user-images.githubusercontent.com/3347095/27977146-02437e52-632f-11e7-9d34-ecece96c9a1c.png">

[2017-07-08 16:27] nickolashe commented on #137
@dannypernik @karbmk I think this is fixed in `master` now. Can you confirm pls?

[2017-07-09 04:53] dannypernik commented on #137
@nickolashe confirmed.

[2017-07-09 04:53] #137 closed

[2017-07-09 22:32] #113 closed

[2017-07-09 22:32] #107 closed

[2017-07-09 22:33] nickolashe commented on #115
#142

[2017-07-09 22:35] nickolashe opened #143 "Show correct user balances"
needs testing

[2017-07-09 22:35] nickolashe commented on #143
#142

[2017-07-09 22:36] nickolashe commented on #138
needs testing

[2017-07-09 22:45] nickolashe commented on #91
@dannypernik Can we close this?

[2017-07-09 23:09] nickolashe commented on #101
@dannypernik Has this been fixed?

[2017-07-09 23:12] nickolashe commented on #106
@dannypernik What's the status of this one?

[2017-07-09 23:13] nickolashe commented on #84
@dannypernik What's the status of this one?

[2017-07-10 00:27] dannypernik opened #145 "admin-profile: Event Start/End times are displaying the month instead of minutes"
<img width="982" alt="screen shot 2017-07-09 at 7 27 06 pm" src="https://user-images.githubusercontent.com/3347095/27998980-a5b66c12-64dc-11e7-99e1-116366796ce8.png">

Incorrect time is showing on the page as well as in the database.

[2017-07-10 00:48] dannypernik commented on #84
@nickolashe We are now linking to both upcoming-projects and time-tracker on the profile page. I've added 2 events to upcoming-projects, but the event start/end times are displaying the month instead of the minutes (#145). Also, time-tracker is not ready so I'm removing that link for now. Please review PR #146.

[2017-07-10 17:10] dannypernik commented on #101
<img width="1059" alt="screen shot 2017-07-10 at 12 08 19 pm" src="https://user-images.githubusercontent.com/3347095/28030292-c5e6ffe2-6568-11e7-8697-ef7d134d2019.png">

@nickolashe not yet, at least not on develop or master.

[2017-07-10 19:25] nickolashe commented on #145
@dannypernik this is just the /admin gui, i am pretty sure the app is showing the right times (can you doublecheck)?

[2017-07-10 19:29] nickolashe opened #148 "Get in touch button on profile brings back to profile (and popup)"

[2017-07-10 19:30] nickolashe commented on #84
@dannypernik can you doublecheck re: times? I think they are showing up properly for me in the app.

[2017-07-10 19:37] nickolashe commented on #101
@dannypernik @tsiology i think this one is a low hanging fruit

[2017-07-10 20:54] dannypernik opened #150 "events: Add public/private field to events"
Events created via manual hour tracking should be marked private. This way they will not show in upcoming-events page.

[2017-07-10 21:15] #91 closed

[2017-07-10 21:37] dannypernik commented on #106
<img width="321" alt="screen shot 2017-07-10 at 4 36 54 pm" src="https://user-images.githubusercontent.com/3347095/28041201-1b6842e4-658e-11e7-9ff9-7051fd578d7e.png">

@nickolashe what do you think? Seems a bit busy.

[2017-07-11 03:09] nickolashe commented on #106
what if we make location start on a new libe?

[2017-07-11 04:50] nickolashe commented on #150
@karbmk Lets make public/private a separate task. For now, lets just add event type to the model and only list non-manual events for upcoming.

[2017-07-11 05:13] nickolashe commented on #106
*line

[2017-07-11 06:20] dannypernik commented on #106
@nickolashe Basically it pushes the form further and further down which I'm finding aesthetically and functionally unappealing.

[2017-07-11 06:21] dannypernik commented on #106
Maybe if we abbreviated the location at the first comma

[2017-07-11 06:23] dannypernik commented on #106
would be super nice to display just the name of the location and link to it in google maps. v6 or something :)

[2017-07-11 06:24] nickolashe commented on #106
with Keep Austin beautiful
at Texas Rowing Center
(location in smaller font)

[2017-07-11 06:24] nickolashe commented on #106
how about that?

[2017-07-11 06:29] dannypernik commented on #106
yeah that would be nice. Google Places autocomplete actually puts a comma after the name of a place so I could change the Texas rowing center name from hyphen to comma and we could truncate at first comma?

[2017-07-11 06:37] nickolashe commented on #106
which first comma you mean?

[2017-07-11 06:38] nickolashe commented on #106
or what do you mean by first comma

[2017-07-11 06:41] dannypernik commented on #84
@nickolashe huh interesting. ok so all of Karen's volunteers had been manually checked out. I checked all 31 volunteers back into the event. KAB's total went from 67 to 115.2. The expected total was 67 + 62 = 129.

[2017-07-11 06:49] nickolashe commented on #84
to be accurate, this logic is conditional upon them being excluded from the original count.
otherwise, the expected total would still be 67.

[2017-07-11 06:49] dannypernik commented on #106
Google places autocomplete for this location is "Texas Rowing Center, 1541 West Cesar Chavez, Austin, TX 78703" so if we only used the part before the first comma I think we're in business. Wouldn't even be hard to link to a google maps search of the full location.

[2017-07-11 06:56] dannypernik commented on #84
@nickolashe not following. We have a total of 62 volunteers- 31 at 2 events. If each volunteer gets exactly 2 hrs (which I realize isnt necessarily the case) the total should be 124

[2017-07-11 06:58] nickolashe commented on #84
if they were included in the original 67 in whatever form they won't get credit for the same event twice

[2017-07-11 07:03] dannypernik opened #152 "live-dashboard: Added user should display at top of registered user list"
Otherwise, the new name is at the bottom of the page and the admin needs to scroll to verify the addition.

[2017-07-11 07:15] dannypernik commented on #145
oc.com is showing correctly, things are strange on my local...

[2017-07-11 07:51] nickolashe opened #153 "Multiple checkins of the same user: evaluate the entire sequence for the record that determines the true contributed time"

[2017-07-11 15:50] dannypernik opened #155 "org-signup: Volunteer nominated Keep Austin Beautiful and was designated an admin"
I can only assume this is how tara.rains7@gmail was added as an OrgUser to KAB. Raises the question - if someone names himself a leader or employee of an org, should he or she automatically be assigned admin status?

[2017-07-11 16:45] dannypernik commented on #153
<img width="772" alt="screen shot 2017-07-11 at 11 34 12 am" src="https://user-images.githubusercontent.com/3347095/28079166-e7fc7548-662c-11e7-8a2c-63759f233d23.png">

@nickolashe Max and I tested live-dashboard with test org. When checking in to a past event, the checkbox click was recorded in the database (see above), but the total hours was not affected. Strange as this appears to be a differe

[2017-07-11 17:12] dannypernik opened #156 "event-detail: Get form working and sending optional message to volunteer coordinator"
I will need to create an email template in order to message coordinator, ping me when you get there.

[2017-07-11 19:37] tsiology commented on #156
I've proven that the optional message is being saved and is accessible by logging it from views, by i think we need to flesh out how to get it to the email template

[2017-07-11 19:53] #111 closed

[2017-07-11 21:19] nickolashe commented on #155
Yes, I am aware this is not working yet. This is within the authorization / permissioning scope which I have not had time to get to yet.

[2017-07-11 21:19] nickolashe commented on #155
I think they should not be assigned the status right away, only upon approval.

[2017-07-11 22:18] dannypernik commented on #155
@nickolashe agreed

[2017-07-12 05:10] dannypernik opened #158 "profile: welcome-popup should only display once for a user"
We could set this as only displaying when user is coming from confirm-account page.

This line auto-opens the popup on load: https://github.com/opencurrents/opencurrents/blob/master/openCurrents/templates/profile.html#L223

[2017-07-12 05:12] dannypernik opened #159 "profile: All users should direct to profile on login, with admin button for OrgUsers"

[2017-07-12 20:07] dannypernik commented on #30
@nickolashe I prefer to use css files unless there's some performance advantage?

[2017-07-12 21:08] nickolashe commented on #30
that's fine by me

[2017-07-12 21:36] nickolashe commented on #145
can you be more specific pls, in /admin gui or on one of the pages in the app?

[2017-07-12 22:12] dannypernik commented on #145
<img width="989" alt="screen shot 2017-07-12 at 5 09 41 pm" src="https://user-images.githubusercontent.com/3347095/28142143-33beff20-6725-11e7-980a-176433bbcd74.png">
<img width="1113" alt="screen shot 2017-07-12 at 5 10 37 pm" src="https://user-images.githubusercontent.com/3347095/28142144-33c01b76-6725-11e7-9f79-a9b07bcd545f.png">

the last event on the admin-profile page

[2017-07-12 22:23] nickolashe commented on #145
that's definitely not a month number there, it must be some test event you created locally

[2017-07-12 22:23] nickolashe commented on #145
notice that the admin panel is still not showing minutes properly and this is what needs to be fixed

[2017-07-13 17:05] tsiology commented on #156
I found that the datetime was causing an error in sending the email. Removing that field allows the emails to send successfully again. Will look into this.

Also still want to have a subject appear in the registration email to the coordinator.

[2017-07-13 18:44] nickolashe commented on #156
@tsiology What error specifically were you seeing?

[2017-07-13 18:55] tsiology commented on #156
From log/views.py,
ERROR:openCurrents.views:unable to send contact email: datetime.datetime(2017, 7, 15, 12, 0, tzinfo=<UTC>) is not JSON serializable (<type 'exceptions.TypeError'>)

Looking online, I think I can provide a serializer method to get past this.

[2017-07-13 18:57] nickolashe commented on #156
Yes, providing a custom serializer would work. Which field are we sending this datetime for?

[2017-07-13 18:58] tsiology commented on #156
Sending it as DATE so the email can detail the time/date of the event being registered for.

[2017-07-17 20:02] MaxTattenbach opened #164 "As soon as you log into new account the account shows "Here are some ways to get started""
I don't think the focus of the first landing is correct.   Mentioning Organization sign-up and Community Meetings is the write approach.  Perhaps just showing the Pop-up is better.

[2017-07-17 20:10] MaxTattenbach opened #165 "Optional contact box - from volunteer to org does not work or lack the submit message button."
I would eliminate this feature at the moment.

[2017-07-17 20:13] MaxTattenbach opened #166 "On personal profile - status - Going, Maybe, or Not Going is not working on the front end of the user."

[2017-07-17 20:20] MaxTattenbach opened #167 "Pop-up Message - slight ammendment"
Original Message:

We're excited to have you with us in the community. We are just getting started with our testing phase. Soon we will connect you with opportunities to volunteer for Currents and exchange them for partial payment with participating businesses.

If you'd like to help us fulfill our mission even sooner, please don't hesitate to reach out!

Proposed Message:

We're excited to have y

[2017-07-17 20:24] dannypernik commented on #164
Ah, we changed this when logging in but apparently not for creating account. @nickolashe I believe I've made the necessary redirect revision as part of PR #160

[2017-07-17 20:24] MaxTattenbach opened #168 "Get in touch in Pop-up not working - button should be linked to tawk.to"

[2017-07-17 20:26] dannypernik commented on #168
I believe this is also fixed In PR #160

[2017-07-17 20:28] dannypernik commented on #165
@tsiology how close are we on this one? The email is sending to the admin when a volunteer registers, correct? But is the volunteer then registered to the event?

[2017-07-17 20:31] dannypernik commented on #166
Yea I want to remove this button.

[2017-07-17 21:37] tsiology commented on #165
@dannypernik If this is the contact box on the event-detail page, then I think we are done as soon as PR #162 is merged. When user hits register, the coordinator will be emailed if it's the first time the user is registering to that event. If an optional contact message is entered, it will be included in the email to the coordinator. If the user registers for the same event additional times, an em

[2017-07-17 21:42] dannypernik commented on #165
Awesome!

[2017-07-18 19:58] dannypernik opened #169 "live-dashboard: Autopopulate search field with First and Last name"

[2017-07-18 20:52] #30 closed

[2017-07-19 23:12] tsiology opened #175 "mandrill template password-email to route users to password-reset.html"
New template needed for emailing users, should take user_email as input and generate a link to password-reset/user_email.

note: DATE still needed on volunteer-messaged template

[2017-07-20 05:49] dannypernik commented on #175
@tsiology added password-email and used this link on the button: http://www.opencurrents.com/password-reset/*|USER_EMAIL|*

Also added DATE to volunteer-messaged

[2017-07-20 05:49] #175 closed

[2017-07-20 18:36] dannypernik opened #176 "admin panel: Names not displaying on data fields"
<img width="495" alt="screen shot 2017-07-20 at 1 33 57 pm" src="https://user-images.githubusercontent.com/3347095/28433178-484147b0-6d50-11e7-91a0-9e6966433990.png">

At some point we lost the names and details of objects in the admin panel. Makes it quite tedious to debug.

[2017-07-21 16:54] dannypernik commented on #169
@nickolashe I'm thinking it would be better to have a separate search box instead of using the Last name field as a search.

[2017-07-21 18:36] nickolashe commented on #169
@dannypernik how do you see this search box?

[2017-07-24 19:13] dannypernik commented on #169
I guess I'm seeing it as an input text field displayed under the Registered volunteers heading?

[2017-07-25 05:02] #145 closed

[2017-07-25 05:04] nickolashe commented on #120
https://github.com/opencurrents/opencurrents/pull/182

[2017-07-25 05:04] #120 closed

[2017-07-25 05:17] nickolashe commented on #135
https://github.com/opencurrents/opencurrents/pull/182

[2017-07-25 05:18] nickolashe commented on #152
@dannypernik @tsiology I think this is working already

[2017-07-25 05:18] #152 closed

[2017-07-25 05:50] nickolashe commented on #153
https://github.com/opencurrents/opencurrents/pull/182

[2017-07-25 05:51] nickolashe commented on #155
@dannypernik @MaxTattenbach so are we ok with manual approval of admins by us for now?

[2017-07-25 06:34] dannypernik opened #183 "live-dashboard: No error message when invalid email is entered"
Page seems like it's not responding when invalid email is entered

[2017-07-25 15:19] tsiology commented on #158
completed in PR #162

[2017-07-25 15:20] tsiology commented on #156
Added in PR #162

[2017-07-25 16:27] dannypernik opened #187 "invite-volunteers: Add status message to admin-profile whenever event is created and/or volunteers are invited"
After clicking "Send invites" on invite-volunteers, page should direct to admin-profile with a green status message. Status message scenarios:

Admin creates event with create-event and invites volunteers: "You have created event(s) at X location(s) and invited Y volunteer(s) to the openCurrents community. Nice!"

Admin creates an event and skips invite: "You have created event(s) at X location(s)

[2017-07-25 16:29] tsiology commented on #183
PR #188

[2017-07-25 16:29] #153 closed

[2017-07-25 16:45] nickolashe commented on #143
I think this is working now

[2017-07-25 16:45] #143 closed

[2017-07-25 16:45] nickolashe commented on #138
I think this is working now

[2017-07-25 16:45] #138 closed

[2017-07-25 16:46] dannypernik opened #189 "event-detail: Org name is displaying as "non-profit Keep Austin Beautiful" instead of "Keep Austin Beautiful""
<img width="807" alt="screen shot 2017-07-25 at 11 38 33 am" src="https://user-images.githubusercontent.com/3347095/28583180-d956a020-712d-11e7-96df-3896973abe5e.png">

[2017-07-25 18:52] dannypernik opened #191 "create-event: Show status messages including "End time must be after Start time""

[2017-07-25 18:56] nickolashe opened #192 "CreateEventView needs to redirect to invite-volunteers"

[2017-07-25 18:57] dannypernik opened #193 "home.html and signup.html: Allow existing user with no name to sign up"
If user is invited through invite_volunteers, they are currently unable to create an account.

[2017-07-25 18:58] nickolashe opened #194 "Create a UserEventRegistration record for any volunteers invited through invite-volunteers"

[2017-07-25 19:56] #192 closed

[2017-07-25 21:28] karbmk commented on #189
Should be rectified in PR #181

[2017-07-26 06:35] nickolashe opened #195 "invite-volunteer-event email has no subject"
![image](https://user-images.githubusercontent.com/6278359/28607678-d2adcef6-7191-11e7-94d7-02f89c96ebde.png)

[2017-07-26 15:42] #195 closed

[2017-07-26 15:44] dannypernik opened #199 "create-event: No status message when end time is before start time"
Form does not submit but the user doesn't know why. Let's also check other scenarios where status message is needed.

[2017-07-26 16:39] dannypernik opened #201 "create-event: Autofill name and email of admin for Volunteer coordinator fields"

[2017-07-26 16:50] tsiology commented on #187
PR #200

[2017-07-26 17:36] dannypernik opened #204 "invite-volunteer-email: Change formatting of variables"
- Truncate location names at first comma
- Display multiple locations where applicable
- Put time in 12pm format and remove the seconds :00
- Display date as July 24 2017

[2017-07-26 19:18] #128 closed

[2017-07-26 19:34] nickolashe opened #210 "Filter out short duration checkins from the current totals"
Anything less than X minutes

[2017-07-26 19:35] #124 closed

[2017-07-26 19:35] #125 closed

[2017-07-26 19:36] #135 closed

[2017-07-26 19:46] nickolashe commented on #194
@karbmk I think this is working, right?

[2017-07-27 07:13] dannypernik commented on #155
Yes

[2017-07-27 16:27] dannypernik commented on #193
@karbmk is this live?

[2017-07-27 16:29] dannypernik opened #212 "live-dashboard: Automatically check in new volunteer when added with form"
Checkbox should be blue and record a usertimelog when "Add volunteer" is clicked

[2017-07-27 17:35] karbmk commented on #193
Yes it is merged to the master

[2017-07-27 17:59] #193 closed

[2017-07-27 18:20] dannypernik opened #213 "live-dashboard: Are all events for all orgs accessible to any admin?"
On my local server, I'm able to change the event id in /live-dashboard/#/ and access any event through a single admin.

[2017-07-27 18:24] #201 closed

[2017-07-27 18:26] karbmk commented on #194
Yes. some modifications of it has been added to PR

[2017-07-27 20:23] MaxTattenbach opened #215 "Box for communicating with Org in event page is associated with register. It should be independent from it."
@dannypernik
![issue 1 communication](https://user-images.githubusercontent.com/26234440/28690541-2f3f506a-72df-11e7-89d9-e4f38637e133.PNG)

[2017-07-27 20:37] MaxTattenbach opened #216 "On Profile I believe manage "Manage org" shouldn't be the main button should be moved."
Also, don't like the label "Manage org" perhaps relabel it or only make the org clickable.

![issue 2 manage org](https://user-images.githubusercontent.com/26234440/28691039-178807b2-72e1-11e7-856e-ea7bb6a4a752.PNG)

[2017-07-27 20:48] MaxTattenbach opened #217 "Not clear where the copy and past goes to. Why are they inviting them? Is this to one particular event?"
![issue 4 not showing profile name](https://user-images.githubusercontent.com/26234440/28691512-dabaf162-72e2-11e7-975c-69c57ec12cde.PNG)

[2017-07-27 20:50] MaxTattenbach opened #218 "Name of Admin not displayed on subsequent pages."
I think that the admin page should be displayed on subsequent pages.

![issue 4 not showing profile name](https://user-images.githubusercontent.com/26234440/28691570-1ac3c46e-72e3-11e7-858b-8ed86fbf1ea2.PNG)

[2017-07-27 20:55] MaxTattenbach opened #219 "We should have a link or share button to invite people to the community, rather than admin having to copy and past emails."
Note there should be an easy way for people to share a link and share it on their FB page or others to join openCurrents.   This should be an option for both Volunteers and Admins.

![issue 4 not showing profile name](https://user-images.githubusercontent.com/26234440/28691777-b7e631be-72e3-11e7-80c3-7fdd491a2085.PNG)

[2017-07-27 21:14] MaxTattenbach opened #220 "Admin can't see event detail page after its been created."
I suggest the event name is clickable on upcoming events on the admin profile.  Been able share the link to this Event Detail is what will get non-profits to share oC either in their social media or through cope and past in the body of the email.

![issue 1 communication](https://user-images.githubusercontent.com/26234440/28692430-1f4f2c5a-72e6-11e7-97fb-39198b4164c4.PNG)

[2017-07-27 21:21] MaxTattenbach opened #221 "On Admin Profile, the event is should be bold font, and a link to the event detal."
Note on Profile the event is bold, although not clickable.

![issue 5 event not bold](https://user-images.githubusercontent.com/26234440/28692710-55a71c8a-72e7-11e7-9bc5-05c2ba5a50f6.PNG)

[2017-07-27 21:36] MaxTattenbach opened #222 "Org sign-up error showing. Can't register my non-profit in Costa Rica, Costas Verdes"
![issue 6](https://user-images.githubusercontent.com/26234440/28693302-9db26b2c-72e9-11e7-9f65-e1fb661548d7.PNG)

[2017-07-27 21:43] dannypernik commented on #221
@MaxTattenbach agreed that we should link the text of upcoming events on profile to their event pages. The reason I decided to make location bold on admin-profile instead of event name is that an event with multiple locations will have everything the same except location and we want to make sure the admin accesses the correct location to check in volunteers.

[2017-07-27 21:44] dannypernik commented on #219
@MaxTattenbach agreed. do you think "Invite volunteers" is the page for this? Currently only admins have access to invite-volunteers. What about on the profile? @nickolashe

[2017-07-27 21:47] dannypernik commented on #218
@MaxTattenbach hmmm perhaps we put the user's name next to the ~waveburger~ in the header? this would be present on all pages. it would also mean name would be displayed twice when user is at their profile

[2017-07-27 21:49] dannypernik commented on #217
@MaxTattenbach perhaps we need a subtitle Invite volunteers... "to your event" or "to track hours"

[2017-07-27 21:52] dannypernik commented on #216
@MaxTattenbach this button only shows on admins' profile. I actually think it should be a main button for admins.

[2017-07-27 21:53] dannypernik commented on #215
@MaxTattenbach I think we can change the "Register" button to "Contact" if the user is already registered. How does that sound?

[2017-07-28 06:48] #49 closed

[2017-07-28 06:50] #159 closed

[2017-07-28 06:51] #156 closed

[2017-07-28 06:54] dannypernik opened #224 "live-dashboard: Add optional phone number field in "Add volunteer" form"

[2017-07-28 06:58] dannypernik commented on #112
<img width="316" alt="screen shot 2017-07-27 at 1 23 37 pm" src="https://user-images.githubusercontent.com/3347095/28706026-ffa6f0de-7337-11e7-9232-feddb7f1d029.png">

@MaxTattenbach @nickolashe what do you think of this as an alternative UI? Not 100% self explanatory but this would mean the admin doesnt have to click the checkbox every time

[2017-07-28 07:04] dannypernik opened #225 "invite-volunteers: Why can't admin invite herself? (shavone@bikeaustin.org)"
Shavone has not received emails after inviting herself to attend an event.

[2017-07-28 07:17] dannypernik commented on #176
@nickolashe any idea why this is happening all of the sudden? This used to display the org name

[2017-07-28 07:24] dannypernik commented on #199
Duplicate of #191

[2017-07-28 07:24] #199 closed

[2017-07-28 07:34] dannypernik commented on #213
@nickolashe I'm thinking an admin should only be able to access their own org's events, including through URL manipulation.

[2017-07-28 07:36] dannypernik commented on #123
@tsiology I saw that a PR was merged on this, is it now working? If so, you can close this issue.

[2017-07-28 07:39] dannypernik opened #226 "invite-volunteer emails: Autofill email in home.html"
Both invite-volunteer and invite-volunteer-event email templates. Let me know if I need to change the emails.

[2017-07-28 18:38] tsiology commented on #123
PR #179

[2017-07-28 18:39] #123 closed

[2017-07-28 19:30] MaxTattenbach commented on #222
@nickolashe This seems to be happening when we register and org from inside a profile.

[2017-07-28 19:49] tsiology commented on #191
PR #227

[2017-07-28 20:03] tsiology commented on #101
@dannypernik is this still an issue? Wasn't able to recreate it.

[2017-07-28 20:23] tsiology commented on #101
@dannypernik @nickolashe Making org name and org website required input fields prevents this issue, but where do we go after a successful signup? Right now it tries going to profile with a status_msg that is not accounted for in urls.py:

![image](https://user-images.githubusercontent.com/28738472/28734803-312b6a02-73a8-11e7-801a-f2875cf934e9.png)

[2017-07-28 21:11] dannypernik commented on #101
@tsiology  So do we just need to account for the status msg in urls.py?

[2017-07-28 21:14] tsiology commented on #101
Yes, and add it to top of profile template if desired

[2017-07-28 21:19] karbmk opened #228 "live-dashboard: Same user can be checked in to the same event multiple times."
![screen shot 2017-07-28 at 4 12 00 pm](https://user-images.githubusercontent.com/8406712/28736666-8bf7f5e2-73b0-11e7-95cd-bd177e9244cd.png)

[2017-07-28 21:38] karbmk commented on #212
@dannypernik, is'nt this a duplicate of issue #50 ??

[2017-07-28 22:51] dannypernik commented on #212
Yep!

[2017-07-28 22:51] #212 closed

[2017-07-31 17:01] tsiology commented on #222
PR #230

[2017-07-31 19:12] tsiology commented on #101
PR #230

[2017-07-31 19:32] tsiology opened #231 "org-signup success message update"
Completing org-signup sends user to profile with the status_msg "Thank you for nominating {org_name} to openCurrents!"

But there is no nominate/approval process happening; org is created immediately. Update status_msg to say "Thank you for registering {org_name} with openCurrents!" ??

[2017-07-31 19:46] tsiology opened #232 "Enable OrgUser to invite other admins for their org"
Current invite volunteers functionality from admin-profile/manage org sends an invitation from that org to join the openCurrents community, but does not tie the new user to the org. Org admins should have a way to add other admins.

[2017-08-01 18:34] karbmk commented on #228
Resolved in PR #229

[2017-08-01 18:50] dannypernik commented on #231
@tsiology We need to remove automatic org approval.

[2017-08-01 19:20] tsiology commented on #231
@dannypernik I spent time going through every iteration of existing/new org/user and could not reproduce that issue. I thought it was happening consistently, but it looks like not.

@nickolashe @karbmk The issue I had seen was at signup, when doing so as an org, it redirected me straight to confirmation page where you set password with the token included in the url. It should always send them to c

[2017-08-02 16:28] dannypernik opened #233 "confirm-account: New user logged into previous account on same device"
![image](https://user-images.githubusercontent.com/3347095/28883101-eede29f4-7772-11e7-94b9-874512f74498.png)

This is a screenshot taken from a friend's phone after she created an account and set her password in confirm-account. I must have logged into her device previously, and was never logged out. And somehow that login is being maintained despite her verifying her account.

But it sounds like

[2017-08-02 17:37] dannypernik opened #234 "Home and login: "Keep me logged in" checkbox"
If checked, direct user straight to profile when visiting opencurrents.com

[2017-08-02 21:01] dannypernik commented on #232
@tsiology agreed. This will become higher priority once we have manual tracking working smoothly. I will provide a template similar to invite-volunteers.

[2017-08-03 22:46] dannypernik opened #239 "invite-volunteers: Status message for non-event invites"
"You've invited X volunteer(s) to the openCurrents community. (Y volunteer(s are)(is) already (a) member(s).) Thank you!"

[2017-08-03 23:16] nickolashe opened #240 "Create an index on website column in org table"
https://github.com/opencurrents/opencurrents/pull/230

[2017-08-04 16:58] tsiology opened #242 "Audit urls for user_emails, replace with user_ids"
Aesthetic improvement to replace emails in the urls with ID integers.

[2017-08-04 20:19] nickolashe opened #243 "Empty view in approve hours"
When all of the weeks have been traversed, i was brought to an empty screen (still on approve-hours template)

<img width="1421" alt="screen shot 2017-08-04 at 1 18 03 pm" src="https://user-images.githubusercontent.com/6278359/28985464-7cdad806-7917-11e7-9bca-9fd71adfd77f.png">

[2017-08-05 20:48] #127 closed

[2017-08-05 20:52] nickolashe opened #246 "Admin can defer volunteer hours"

[2017-08-06 06:44] nickolashe opened #248 ""Earn currents" popup is not working"

[2017-08-06 08:16] dannypernik commented on #248
PR #249

[2017-08-07 16:25] karbmk commented on #243
PR #250

[2017-08-07 16:59] dannypernik commented on #155
PR #244

[2017-08-07 17:00] dannypernik commented on #187
@tsiology thanks please move to "Built" on the pipeline whenever an issue is ready for testing

[2017-08-07 18:07] #101 closed

[2017-08-07 18:15] #183 closed

[2017-08-07 20:54] dannypernik opened #251 "profile: Design tweaks"
Is it easy enough to change the True/False message to a 1/0 in the URL? Also, can we round the Currents total to 2 digits instead of 1? Or always display 2 decimals, like dollars and cents.

[2017-08-08 06:31] nickolashe commented on #225
have we made any progress on understanding why this did not work for her?

[2017-08-08 06:32] #222 closed

[2017-08-08 06:33] nickolashe commented on #221
what's the status of this one?

[2017-08-08 06:33] #220 closed

[2017-08-08 06:34] nickolashe commented on #219
what's the status of this one?

[2017-08-08 06:34] nickolashe commented on #218
what's the status of this one?

[2017-08-08 06:35] nickolashe commented on #216
what's the status of this one?

[2017-08-08 06:36] nickolashe commented on #217
I agree we need to clarify

[2017-08-08 06:36] nickolashe commented on #215
what's the status of this one?

[2017-08-08 06:37] nickolashe commented on #213
agreed

[2017-08-08 06:40] nickolashe commented on #213
@tsiology I think we should check whether event org matches that of admin explicitly when serving any pages related to the event

[2017-08-08 06:40] #210 closed

[2017-08-08 06:43] nickolashe opened #254 "invite-volunteers should have a skip button as well"

[2017-08-08 06:43] nickolashe commented on #204
what's the status of this one?

[2017-08-08 06:44] #191 closed

[2017-08-08 06:44] #189 closed

[2017-08-08 06:45] #187 closed

[2017-08-08 06:46] nickolashe commented on #176
what's the status of this one?

[2017-08-08 06:46] nickolashe commented on #168
what's the status of this one?

[2017-08-08 06:47] nickolashe commented on #167
what's the status of this one?

[2017-08-08 06:48] #150 closed

[2017-08-08 06:48] #148 closed

[2017-08-08 06:53] nickolashe commented on #121
@karbmk reassigning this one to you

[2017-08-08 06:54] nickolashe commented on #118
duplicate of https://github.com/opencurrents/opencurrents/issues/213

[2017-08-08 06:55] #118 closed

[2017-08-08 06:55] nickolashe commented on #116
what's the status of this one?

[2017-08-08 06:55] #115 closed

[2017-08-08 06:56] nickolashe commented on #114
@karbmk reassigning this one to you

[2017-08-08 06:57] nickolashe commented on #112
not sure i prefer this to the current one

[2017-08-08 06:58] nickolashe commented on #112
is the checkbox being reset now each time?

[2017-08-08 06:58] #110 closed

[2017-08-08 06:58] nickolashe commented on #106
what's the status of this one?

[2017-08-08 06:59] #103 closed

[2017-08-08 06:59] nickolashe commented on #79
what's the status of this one?

[2017-08-08 07:00] nickolashe commented on #77
what's the status of this one?

[2017-08-08 07:00] #70 closed

[2017-08-08 07:00] #56 closed

[2017-08-08 07:00] #52 closed

[2017-08-08 07:02] nickolashe commented on #11
what's the status of this one?

[2017-08-08 07:04] #243 closed

[2017-08-08 07:06] nickolashe commented on #233
what's the status of this one?

[2017-08-08 07:07] nickolashe commented on #231
what's the status of this one?

[2017-08-08 07:08] #228 closed

[2017-08-08 07:09] nickolashe commented on #226
what's the status of this one?

[2017-08-08 07:11] #166 closed

[2017-08-08 07:11] nickolashe commented on #165
what's the status of this one?

[2017-08-08 07:11] nickolashe commented on #164
what's the status of this one?

[2017-08-08 07:13] #84 closed

[2017-08-08 07:13] #48 closed

[2017-08-08 07:14] #33 closed

[2017-08-08 07:15] nickolashe commented on #26
what's the status of this one?

[2017-08-08 07:15] #23 closed

[2017-08-08 08:46] dannypernik commented on #221
PR #255 I opted for a submenu instead of a link on the words itself so that the admin knows exactly where he/she is going. Open to making a link as well. When an admin is looking at the event-detail page I think we should remove the "Contact coordinator" field and "Register" button. Possibly replace with "Edit event". @nickolashe what conditional statement should I use so that only admins of the e

[2017-08-08 16:02] nickolashe commented on #221
I don't think we need a conditional statement. Instead, on admin page we'll only show events for that org. On user profile there will be no edits regardless.

[2017-08-08 16:41] tsiology commented on #231
I don't think anything has been started for making Org creations need approval first. Making OrgUser creations take manual approval is in progress.

[2017-08-08 16:57] nickolashe commented on #231
@tsiology @dannypernik i think orgs can be created as long as access is not granted by default (which is what Tim is working on). thoughts?

[2017-08-08 17:24] dannypernik commented on #231
Agreed. Will make approval easier as well, so we don't have to manually create the org

[2017-08-08 17:46] nickolashe commented on #112
i just checked that the checkbox is still persistent

[2017-08-08 18:11] nickolashe commented on #254
@dannypernik i think this should be an easy front end change

[2017-08-08 18:13] nickolashe opened #256 "live-dashboard: volunteer check in should not be allowed for events far in future"

[2017-08-08 18:21] nickolashe commented on #194
@karbmk that PR has not been merged though. have those changes made into develop?

[2017-08-08 18:25] nickolashe commented on #121
@dannypernik actually, can you elaborate please? how will we able to create an account in this case?

[2017-08-08 18:29] nickolashe commented on #239
@dannypernik I think this message is too specific. why don't we just report number of volunteers that we registered for the event?

[2017-08-08 18:37] karbmk commented on #194
Nope I think it's not in develop

[2017-08-08 18:38] dannypernik opened #257 "org-signup, /nonprofit, /business: Make org status a Choice field instead of a string"
I think we can use the `design` branch to make this change since it will include the nonprofit and business forms. @nickolashe does that make sense?

[2017-08-08 19:02] dannypernik opened #258 "admin-profile: manual events are displaying "Events happening now""
Change events_current, events_upcoming, and events_past to refer only to Group events. Remove conditional logic in Event `for` loops on admin-profile

[2017-08-08 19:40] tsiology commented on #258
event_type='GR' filter added onto events_past, events_current, and events_future sent to admin-profile.

PR#259

[2017-08-08 20:08] tsiology commented on #251
PR #260

[2017-08-09 04:18] #116 closed

[2017-08-09 04:20] #248 closed

[2017-08-09 06:18] dannypernik commented on #164
done

[2017-08-09 06:18] #164 closed

[2017-08-09 06:27] dannypernik commented on #216
<img width="1110" alt="screen shot 2017-08-09 at 1 24 01 am" src="https://user-images.githubusercontent.com/3347095/29107843-bf238180-7ca1-11e7-98fb-0c09b30d6cd4.png">

@nickolashe @MaxTattenbach how about this? IMO it's really important that the admin has a clear way to get to admin-profile, which will be their most common page. Do you think the icon works?

[2017-08-09 08:17] dannypernik commented on #218
<img width="888" alt="screen shot 2017-08-09 at 3 16 13 am" src="https://user-images.githubusercontent.com/3347095/29111778-3acc1d92-7cb1-11e7-925d-4d60861cd8d9.png">
<img width="315" alt="screen shot 2017-08-09 at 3 16 35 am" src="https://user-images.githubusercontent.com/3347095/29111777-3acb6668-7cb1-11e7-8c44-3d5d0960e0e9.png">

@nickolashe @MaxTattenbach Name for medium+ screens, icon for sma

[2017-08-09 08:52] dannypernik opened #263 "create-event: display error message when time is wrong format"
<img width="821" alt="screen shot 2017-08-09 at 3 50 57 am" src="https://user-images.githubusercontent.com/3347095/29113232-21778282-7cb6-11e7-859e-0911ebee0fad.png">

I received this screen when entering letters instead of a start time. Try other irrational inputs too.

[2017-08-09 08:58] dannypernik commented on #217
@karbmk what should I put here to get event name to display?

https://github.com/opencurrents/opencurrents/commit/487c96e2f25862e4eb331fa15007188b19232834

[2017-08-09 09:01] dannypernik commented on #215
@nickolashe I think it makes sense for the button to say Register or RSVP before vol is registered, then Send message after vol is registered. what conditional logic would be required to do so?

[2017-08-09 09:03] dannypernik commented on #204
@karbmk is this done?

[2017-08-09 09:11] dannypernik commented on #168
@karbmk which PR includes the welcome popup?

[2017-08-09 09:14] dannypernik commented on #114
@nickolashe will we need an additional data field that saves the approving admin for each usertimelog?

[2017-08-09 09:16] dannypernik commented on #106
@nickolashe I need some variable name that truncates location at first comma.

[2017-08-09 09:16] #77 closed

[2017-08-09 09:20] dannypernik commented on #233
@karbmk @tsiology are we now checking all password requirements?

[2017-08-09 09:21] dannypernik commented on #226
@karbmk I believe this is done, close if correct

[2017-08-09 09:22] #165 closed

[2017-08-09 09:23] dannypernik commented on #215
Also do we need to change something to prevent a user from registering multiple times on subsequent form submissions?

[2017-08-09 09:27] dannypernik commented on #48
@nickolashe It seems like the most useful field to autofill based on prior project would be Event description, followed by multiple locations. At the moment is anything autofilled into the form besides name?

[2017-08-09 09:33] dannypernik commented on #26
@nickolashe Tim has been adding status messages directly into the templates, and so I've been able to make green status messages. Here's an example: https://github.com/opencurrents/opencurrents/blob/approve_hours/openCurrents/templates/admin-profile.html#L20

Is this acceptable or should we be handling status messages differently?

[2017-08-09 09:34] dannypernik commented on #219
Added to to-do list

[2017-08-09 09:41] dannypernik commented on #221
PR #261

[2017-08-09 09:59] dannypernik commented on #176
not sure what changed but working now

[2017-08-09 09:59] #176 closed

[2017-08-09 09:59] dannypernik commented on #254
@nickolashe this is included in PR #200

[2017-08-09 10:01] dannypernik commented on #194
@nickolashe do we need to merge this to master before Bike Austin invites their people?

[2017-08-09 10:19] dannypernik commented on #239
@nickolashe agreed. @tsiology is this ready in a PR?

[2017-08-09 10:25] dannypernik commented on #121
@nickolashe this is for the case that we want to track hours for a nonprofit but the volunteer doesn't want Currents. (In fact this could potentially replace the invite checkbox - no email = no invite.) Are we able to track hours without a user? If not, perhaps we could create a 'null' user for each org that would add hours (but not Currents) for each check-in without email?

[2017-08-09 12:14] MaxTattenbach commented on #216
Looks a lot better!

Max Tattenbach
Co-creator
www.opencurrents.com

On Wed, Aug 9, 2017 at 1:27 AM, dannypernik <notifications@github.com>
wrote:

[2017-08-09 15:00] tsiology commented on #239
I'm unclear on if there is a desired change.

PR #200 displays the following possible messages:
You have created events at {{ num_events }} location{{ num_events|pluralize }} and registered {{ num_vols }} volunteer{{ num_vols|pluralize }} to the event. Nice!

You have created events at {{ num_events }} location{{ num_events|pluralize }}. Nice!

You have invited {{ num_vols  }} volunteer{{ num_vols

[2017-08-09 16:54] tsiology commented on #263
PR #265 will validate the time data format.

[2017-08-09 18:41] nickolashe commented on #194
@karbmk does the current version of invite-volunteer form in develop register users for events?

[2017-08-09 21:26] #263 closed

[2017-08-09 21:37] karbmk commented on #194
You mean for user event registration? Yes

[2017-08-09 21:55] nickolashe commented on #194
@dannypernik so i think the answer to your question is no, we don't need to

[2017-08-09 21:55] #194 closed

[2017-08-09 22:19] dannypernik opened #267 "edit-event: Remove "Save template as", edit style"
"Save template as" is not useful right now in my opinion as Project table only saves project name and associates it to org (and the template already assumes this association)

[2017-08-09 22:21] dannypernik commented on #216
This is added in design branch

[2017-08-09 22:24] dannypernik commented on #239
@tsiology this looks good. The 2nd message that does not include volunteers invited can be used when an event is created without adding anyone, and the 3rd message can be used when volunteers are invited but not to an event.

[2017-08-09 22:53] nickolashe commented on #216
works for me

[2017-08-09 22:53] #216 closed

[2017-08-09 23:09] nickolashe commented on #121
ok, does the fact that they don't want currents warrant not asking for their email? if we this dummy user route this will require additional changes. also, may be they'll change their mind going forward.

[2017-08-09 23:13] #221 closed

[2017-08-09 23:14] nickolashe commented on #219
@dannypernik thanks, can you provide an estimate (in hours) for this task?

[2017-08-09 23:18] nickolashe commented on #26
@dannypernik @tsiology we should probably be passing messages in the context and not through the url (this ties back to our convo on how we can make urls more concise)

[2017-08-10 00:07] nickolashe opened #268 "approve-hours: check for overlap with previously tracked hours upon submitting the form"

[2017-08-10 00:21] nickolashe opened #269 "approve-hours: button is not displayed in admin-profile even though admin has hours to approve"

[2017-08-10 00:23] nickolashe commented on #269
I think the logic must be flipped since the button has appeared once all hours have been approved

[2017-08-10 00:28] nickolashe opened #270 "admin-profile: weird display of past manual tracking events"
I am seeing the following on develop branch:

<img width="1115" alt="screen shot 2017-08-09 at 5 26 34 pm" src="https://user-images.githubusercontent.com/6278359/29149287-0d13f970-7d28-11e7-8e10-0794ff551f57.png">

[2017-08-10 00:33] tsiology commented on #270
We've ended up with pieces of the events_group_current/upcoming/past change in develop while others are not. PR #259 has the other piece of the update that sends only GR events to the template.

[2017-08-10 00:34] tsiology commented on #270
@nickolashe I can make a new branch to fix this specifically.

[2017-08-10 00:38] tsiology commented on #270
This is similar to issue #258 which would also be solved with merging from PR #259

[2017-08-10 02:07] dannypernik commented on #121
@nickolashe and I don't know if the unique constraint would prevent us from registering multiple volunteers without emails and tracking hours accordingly? Perhaps more trouble than it's worth. And I bet the nonprofits always want the emails anyway. We can close this if you agree.

[2017-08-10 02:10] dannypernik commented on #219
@nickolashe  I've tried setting up Facebook sharing before and it was more complicated than I expected. Maybe 2-3 hours.

[2017-08-10 04:03] nickolashe commented on #219
@dannypernik lets use the Estimate PR tag to convey this

[2017-08-10 04:04] nickolashe commented on #121
agreed

[2017-08-10 04:04] #121 closed

[2017-08-10 04:13] nickolashe commented on #270
@tsiology yes I think you right that this is a duplicate of #258 .

[2017-08-10 04:13] #270 closed

[2017-08-10 04:15] nickolashe commented on #215
@dannypernik assume you have a context variable as usual (feel free to name it is_registered or something else). don't worry about multiple registrations.

[2017-08-10 04:19] nickolashe commented on #233
i believe this is work in progress https://github.com/opencurrents/opencurrents/pull/235

[2017-08-10 04:19] nickolashe commented on #233
we should expire sessions, i think there is an issue for this as well

[2017-08-10 04:19] nickolashe commented on #233
this one is related https://github.com/opencurrents/opencurrents/issues/234

[2017-08-10 04:21] nickolashe commented on #106
@karbmk @tsiology i think we can create a custom template tag to do this

[2017-08-10 04:22] nickolashe commented on #114
correct, so this will require adding the field to the `UserTimeLog` model

[2017-08-10 04:26] nickolashe commented on #114
@dannypernik @karbmk along the same lines, i think lets go ahead and start recording the admin id's that approve or decline hours. we can use the existing `DeferredUserTimes` for this purpose since it has just the right structure (we'll need to rename the table to something else to reflect this change)

[2017-08-10 04:29] nickolashe commented on #168
the popup does open, can we test that the messages are sent?

[2017-08-10 04:34] nickolashe commented on #217
@dannypernik is `event.project.name` not working for you?

[2017-08-10 04:36] nickolashe commented on #218
@dannypernik what's the purpose of the icon in the small version?

[2017-08-10 04:36] #251 closed

[2017-08-10 04:37] nickolashe commented on #257
sounds good. all we need to do is add choices field option. the choices are already verified in form though, so this would extra precaution

[2017-08-10 04:39] nickolashe commented on #231
did we change the message yet?

[2017-08-10 06:37] dannypernik commented on #168
@nickolashe messages are confirmed sent via tawk.to popup

[2017-08-10 15:01] #168 closed

[2017-08-10 15:27] tsiology commented on #231
Changed "nominating to" to "registering with" in PR #271

[2017-08-10 15:42] tsiology commented on #258
Specific fix in PR #272

[2017-08-10 17:22] #231 closed

[2017-08-11 04:04] dannypernik commented on #217
@nickolashe nope. Check branch design#217

[2017-08-11 04:05] dannypernik commented on #218
@nickolashe to bring you back to profile. We can get rid of it if we want to, we have a link to profile in the menu

[2017-08-11 04:44] #269 closed

[2017-08-11 04:46] nickolashe commented on #218
got it. i think it is somewhat redundant.

[2017-08-11 07:01] #246 closed

[2017-08-11 07:06] nickolashe commented on #239
@tsiology is this done already?

[2017-08-11 07:09] #50 closed

[2017-08-11 07:10] #112 closed

[2017-08-11 08:25] nickolashe commented on #217
@dannypernik https://github.com/opencurrents/opencurrents/commit/71e58c7db2d0f6e2d3f832a52e472dc600466b19 should fix this for you

[2017-08-11 14:38] dannypernik commented on #218
Removed it on small.

[2017-08-11 14:39] tsiology commented on #239
@nickolashe Yes, PR #200 has those conditions.

[2017-08-11 14:58] dannypernik commented on #217
Yep thanks

[2017-08-11 15:15] karbmk opened #274 "User needs to be redirected to Profile page."
1. If the user is logged in with keep me logged in button checked then he should be redirected to profile page always.
2. If the user is logged in normally and session is still in progress then should be redirected to profile page directly(Need to decide on a session time though).

[2017-08-11 20:14] nickolashe commented on #218
can we link this to a PR?

[2017-08-13 01:12] dannypernik opened #275 "invite-volunteers: Remove branding, add personal message"
We need to create a template and verify with Linda before working on this task. Only move forward if this is in "Verified External" bucket

[2017-08-13 01:15] dannypernik opened #276 "Error handling forbidden access"
If user is not logged in and tries accessing forbidden page, send to /login with message, possibly "Please log in to access this page". But for this message we'd want to hold onto the attempted URL so that we could direct them to the attempted page after login. @nickolashe do you think this makes sense? I will say that I've always been frustrated when I try to visit a website, it makes me log in,

[2017-08-13 01:21] dannypernik opened #277 "Redirect logged in user to /profile when they visit opencurrents.com"
Also log user out after 1 hour of inactivity Unless user has checked "Keep me logged in"

[2017-08-13 01:26] dannypernik opened #278 "edit-event: Event time was changed and ended up a different time in the database."
I noticed that Linda’s event was set for 4am to 6am. I received 2 emails the day before the event saying that the event details were changed. The first one said 2-4pm, and the next said 9am-11am. Neither of these match the event's listed time. Looks like it came from Linda’s account.

[2017-08-13 04:31] nickolashe commented on #276
do we have a 403 page ready?

[2017-08-13 04:32] nickolashe commented on #277
there is already an issue for the session duration, i believe

[2017-08-13 04:41] nickolashe commented on #278
i think i see the error, these times need to be explicitly assigned org's timezone:
https://github.com/opencurrents/opencurrents/blob/master/openCurrents/views.py#L848-L851

[2017-08-13 14:42] dannypernik commented on #274
@karbmk log out after 1 hour of inactivity sounds good. @nickolashe sound about right?

[2017-08-13 14:45] dannypernik commented on #218
PR #279

[2017-08-13 14:49] dannypernik commented on #276
@nickolashe we can use the 500 template for 403 or make a new one

[2017-08-13 14:50] dannypernik commented on #277
Yes, discussed in another issue

[2017-08-13 14:50] #277 closed

[2017-08-13 21:51] nickolashe commented on #274
sure

[2017-08-13 21:54] nickolashe commented on #276
403 is different in that its not a server error, so the error message needs to be different

[2017-08-14 04:28] dannypernik opened #280 "live-dashboard: Add "Autosaved" message that blinks on each checkbox click"
Linda at KAB was nervous about not having a Save button, I think a status message will suffice.

[2017-08-14 13:22] #258 closed

[2017-08-14 14:55] dannypernik opened #281 "admin-profile: 'Approve hours' popup displays even if no manually tracked hours are present"

[2017-08-14 16:59] karbmk commented on #281
PR #283

[2017-08-14 17:00] karbmk commented on #278
I'm on it

[2017-08-14 17:02] karbmk commented on #268
PR #282

[2017-08-14 17:49] tsiology commented on #213
I believe PR #244 now has a working fix so only admins of the org can access live-dashboard of events

[2017-08-14 20:32] karbmk commented on #276
I tried DEBUG = False in settings which seems to work but distorts the UI totally. To avoid distortion insecure parameter could be used but that's not an option since it's make the website inefficient. I also researched and saw that the server needs to take care of the static files when DEBUG is False. @nickolashe , Any idea how I could be able to solve this bug?

[2017-08-14 20:43] dannypernik opened #285 "Chrome iOS: oC.com flickers open, then reverts to previous page"
This is happening on my iPhone (only on Chrome browser, not in Safari) on opencurrents.com and openc.herokuapp.com/business. But not on openc.herokuapp.com or /nonprofit or /our-story. Pretty frustrating to debug.

[2017-08-14 20:55] dannypernik opened #286 "/nonprofit & /business: Change message on check-email when business/org is registered"
"we have sent a email to confirm your personal account with openCurrents - you will need a personal account before create a business/organization profile."

[2017-08-14 20:56] nickolashe commented on #276
@karbmk yes, i am aware of such an issue. it's not hard to set it up. i'll take of it today.

[2017-08-14 21:13] tsiology opened #287 "inconsistent counts for bulk volunteer invites"

[2017-08-15 05:44] dannypernik opened #288 "create-event: Autofill event details when selecting an autocompleted event name"
I think we need to give a bit of context to the autocomplete options. Perhaps helper text at the top of the dropdown that says "Use details from recent event"

Autofill time, location(s), and project description based on most recent instance of the selected event name.

User shouldn't be forced to autofill if event name is the same as another

[2017-08-15 05:58] dannypernik opened #289 "edit-event: Check that event id is upcoming"
Prevent admin from modifying details of past event with URL manipulation

[2017-08-15 06:05] #155 closed

[2017-08-15 06:05] #213 closed

[2017-08-15 06:23] #276 closed

[2017-08-15 06:27] nickolashe commented on #226
@karbmk ?

[2017-08-15 15:06] dannypernik opened #290 "live-dashboard: Set time limit on how long admins have to add volunteers to past event"
1 week? We should send admin an email on the first weekday after an event to let them know

[2017-08-15 15:10] dannypernik opened #291 "Error when copy/pasting URL and sending to someone who is not logged in"
If user tries accessing a page but is not logged in, send them to /login but hold onto the attempted URL so that we can direct them to the attempted page after login.

Note that the end `/` causes an error if user is not logged in:
<img width="623" alt="screen shot 2017-09-11 at 2 01 47 pm" src="https://user-images.githubusercontent.com/3347095/30291901-e45031ca-96f9-11e7-8cf9-09a61737d3f8.png">

[2017-08-15 16:16] tsiology opened #293 "Verify admin is user in org admin_<orgid> group"
Done for admin-profile, should also be done on these pages in case of URL sharing or manipulation:

ApproveHours, CreateEvent, EditEvent, InviteVolunteers, LiveDashboard

[2017-08-15 16:48] nickolashe commented on #293
@tsiology i think this is working already

[2017-08-15 16:48] tsiology commented on #289
@dannypernik updates in PR #294 redirect users back to admin-profile page if they reach edit-event for an event with end time in the past.

[2017-08-15 16:49] nickolashe commented on #293
https://github.com/opencurrents/opencurrents/pull/244

[2017-08-15 16:51] tsiology commented on #293
Ohh I hadn't noticed the new mixin for these other pages as well. Thanks!

[2017-08-15 16:51] #293 closed

[2017-08-15 16:54] #239 closed

[2017-08-15 17:22] nickolashe commented on #290
1 week sounds reasonable

[2017-08-15 17:24] nickolashe commented on #289
i think the only way they would be able to access it is through direct url, so we should show an error message

[2017-08-15 17:27] nickolashe commented on #287
is the same issue as i reported on https://github.com/opencurrents/opencurrents/pull/200

[2017-08-15 17:48] tsiology commented on #287
Yes, but that PR was merged to get in the messages before this was resolved.

[2017-08-15 17:50] tsiology commented on #289
a message on admin-profile or error message as in 404 or 500?

[2017-08-15 18:09] nickolashe commented on #289
i would think it should a stand alone error page since this is not a legitimate action

[2017-08-15 19:18] nickolashe commented on #288
pull up the latest event for that project and use it as the template to autofill the data

[2017-08-15 19:34] nickolashe opened #295 "Error when attempting to sign up with an existing email"

[2017-08-15 19:35] nickolashe commented on #295
Error caused by:
https://github.com/opencurrents/opencurrents/blob/master/openCurrents/views.py#L1463

[2017-08-15 22:39] karbmk commented on #226
Yes this is already implemented.

[2017-08-15 22:39] #226 closed

[2017-08-15 22:39] dannypernik commented on #289
@nickolashe @tsiology I believe a status message at the top of admin-profile would suffice

[2017-08-15 22:40] nickolashe opened #296 "invite-volunteer: autofill existing accounts"

[2017-08-15 23:33] baldwinsmith opened #297 "Event-Detail: Multiple registrations for user"
<img width="1488" alt="screen shot 2017-08-15 at 6 23 28 pm" src="https://user-images.githubusercontent.com/31051081/29341006-8be60338-81e7-11e7-8759-435aaf70c0a1.png">

User can register to to the same event multiple times after clicking on the register button

[2017-08-15 23:44] MaxTattenbach opened #298 "Event -type in detail. RSVP email should be sent to those who don't have an account."
Event page should be public so unregistered user gets direct to sign-up from register.

[2017-08-16 00:01] MaxTattenbach opened #299 "Sign-up. Token login is being recorded."
![capture](https://user-images.githubusercontent.com/26234440/29341755-1b60b716-81ec-11e7-9342-1a62da11ff47.PNG)

[2017-08-16 00:02] MaxTattenbach opened #300 "Sign up. Token Example"
![email registration](https://user-images.githubusercontent.com/26234440/29341782-4ca30ec8-81ec-11e7-967f-8474ff2e660e.PNG)

[2017-08-16 00:03] dannypernik opened #301 "time-tracker: Check that date is no more than 2 weeks in the past nor in the future"
The datepicker sets only the past week as available, but nothing prevents the user from changing the date manually.

[2017-08-16 00:04] MaxTattenbach opened #302 "Invite volunteers. It should have a copy and paste link for someone to send to its networks"
![send invitation](https://user-images.githubusercontent.com/26234440/29341827-829f97da-81ec-11e7-9a18-6676812bf6bc.PNG)

[2017-08-16 00:05] MaxTattenbach opened #303 "Event Check-in. We are allowed to check someone in to an event prior happening."
There should be some restriction
![you ceck someone in before the event](https://user-images.githubusercontent.com/26234440/29341842-a08d780c-81ec-11e7-834e-071d4d923fb0.PNG)

[2017-08-16 00:07] MaxTattenbach opened #304 "Date should displayed mm/dd/Year"
![create event date](https://user-images.githubusercontent.com/26234440/29341878-d745036a-81ec-11e7-98e0-c3a5b5f90cff.PNG)

[2017-08-16 05:03] #268 closed

[2017-08-16 05:16] nickolashe opened #307 "manual tracking: need a page for a volunteer to see their recently submitted hours along with the submission status"

[2017-08-16 08:03] dannypernik commented on #296
@nickolashe Can you provide a description of what you mean here?

[2017-08-16 08:05] dannypernik commented on #299
Addressed in email_stuff branch, PR forthcoming

[2017-08-16 08:06] dannypernik commented on #300
Duplicate of #299

[2017-08-16 08:06] #300 closed

[2017-08-16 12:19] MaxTattenbach opened #308 "Forgot Password Resign - For some reason this message is showing after trying to add a new password."
I believe it appears when there is an error with the new password.
![invalid verification tokken](https://user-images.githubusercontent.com/26234440/29362809-0148a0f2-8253-11e7-9697-55da7c26a8e2.PNG)

[2017-08-16 12:33] #308 closed

[2017-08-16 12:34] MaxTattenbach commented on #308
It was happening because I was going from heroku to opencurrents server after clicking the confirm email.

[2017-08-16 12:39] MaxTattenbach opened #309 "Time-Tracked: Messaging in the buttons to be changed."
Perhaps change to back to profile rather than "Back Home"

![go home](https://user-images.githubusercontent.com/26234440/29363452-b3563258-8255-11e7-8115-0991a9856815.PNG)

[2017-08-16 12:49] MaxTattenbach opened #310 "Admin-profile: mark approve hours button to make it clear that hours are pending approval"
Note in the image below there is no way for Admin to see that he/she has some hours to be approved.  I suggest at the end of each week (on Friday) the Admin should get an reminder email to approve hours.
![no -pop-up once you have hours submitted](https://user-images.githubusercontent.com/26234440/29363863-2da59516-8257-11e7-8e9e-605c5e853538.PNG)

[2017-08-16 13:10] MaxTattenbach opened #311 "Time-Tracker: We are lacking a pop-up that tells volunteer that hours can't be submitted on backwards fashion."
Its not clear to volunteer that hours are not being submitted.
![time tracking backward timing](https://user-images.githubusercontent.com/26234440/29364037-d78a1cfa-8257-11e7-9fbf-4ac936950227.PNG)

[2017-08-16 13:14] MaxTattenbach opened #312 "Admin Profile: When Admin Clicks in Approve Hours and there is no hours it blinks"
The Page is surdoff refreshing rather than taking the admin to approve hour with a message saying something like: At the moment no volunteer has submitted hours for this week.

[2017-08-16 13:19] MaxTattenbach opened #313 "Time-tracker: Volunteer is able to submit future hours on same day or future day"
Note on the Admin side he is not able to see the hours, when manually tracked prior current time.   Unclear to what is happening on the backed.

I think best would be to restrict this so no hours can be submitted in forward. It should display a pop-up on the Time-Tracker

[2017-08-16 13:37] MaxTattenbach opened #314 "Time-Tracker: When recording time on the same slot the error showing displays a different time."
Real time overlap was 12am to 1am.  I am assuming it is displaying server time

![time displaying in server time](https://user-images.githubusercontent.com/26234440/29365857-fdc8c014-825d-11e7-9718-27a6ce610786.PNG)

[2017-08-16 13:53] MaxTattenbach opened #315 "Approve-hours: The time of work and the detail should be displayed as well not only the day."
Not Clear why I am approving hours for.
![lacking detail and time](https://user-images.githubusercontent.com/26234440/29366657-35e8e666-8260-11e7-8d21-4719f048f51f.PNG)

[2017-08-16 14:09] MaxTattenbach opened #316 "Approve-hours: How does the logic/restriction work for the week"
Note I have submitted hours for the 8/15/2017 and they are not showing up on admins profile.  Is this do to the weeks restriction.

Should we have two weeks showing up the past and the Current on.  I am concerned about the delay between the volunteer submitting and the approval.  In today day and age they all want immediate gratification.

![discongruency with time on week](https://user-images.git

[2017-08-16 14:18] MaxTattenbach opened #317 "Time-Tracker: Volunteers should be able to see the past hours subimtted for the week."
I think it should display below  the form.
![hours submitteed stamp](https://user-images.githubusercontent.com/26234440/29367818-b5de86ac-8263-11e7-8bd8-fa4f36f8df71.PNG)

[2017-08-16 14:20] MaxTattenbach opened #318 "Profile: Pending Currents, or Hours Submitted and Currents Created should be displayed on the profile."
![hours submitted lacking](https://user-images.githubusercontent.com/26234440/29367911-ec489890-8263-11e7-93c8-b0f26e7c4028.PNG)

[2017-08-16 15:17] baldwinsmith opened #319 "Approve-Hours: Hours declined message"
When volunteer hours are declined the volunteer should receive an email letting them know - something in the tune of "The hours you submitted for event 'x' have been declined - contact event manager"

[2017-08-16 16:00] dannypernik opened #320 "create-event & edit-event: Invite unregistered coordinator to openCurrents"
If admin who is creating an event selects someone else to be the coordinator, we need to check to see if this person has an account. If not, we need to send an invite email and inform the admin that he/she will remain the coordinator until the other admin creates an account.

[2017-08-16 16:38] nickolashe commented on #296
admin can invite existing users by typing their data in (such as email), which should offer autofill

[2017-08-16 16:53] dannypernik commented on #304
@MaxTattenbach I disagree. Other parts of the world order their months and days differently, this is the only format that is universally understandable. And it actually makes more sense than our format - going from year to month to day is from most general to most specific. Given that there's a dropdown calendar, it doesn't really matter.

[2017-08-16 20:30] nickolashe opened #322 "invite-volunteer: incorrect status message on admin-profile when no volunteers invited"

[2017-08-16 20:35] nickolashe commented on #280
@dannypernik can you provide an estimate for completion please?

[2017-08-16 20:36] #217 closed

[2017-08-16 20:37] #281 closed

[2017-08-16 21:35] dannypernik commented on #286
PR #321

[2017-08-16 22:31] nickolashe commented on #317
duplicate of #307

[2017-08-17 12:38] MaxTattenbach opened #324 "Event-detail: Text box says confirm registration - shouldn't it be the button that say Confirm Registration. Seems confusin"
![event detail confirm registration](https://user-images.githubusercontent.com/26234440/29412467-90610d6c-831e-11e7-8cee-94f4cf999ddb.PNG)

[2017-08-17 12:41] MaxTattenbach opened #325 "Admin Profile: Wave burger seems to be displaying to far to the right throughout most of the pages."
![wave burger to the right](https://user-images.githubusercontent.com/26234440/29412628-33ae0b3c-831f-11e7-8703-619ef6e5e582.PNG)

[2017-08-17 12:51] MaxTattenbach opened #326 "Time-tracker: Pop-up of time overlap being displayed on the refreshed page rather than the original page."
Note that the pop-up is being displayed on the wrong page.  When the hours overlap the pop-up should come out as you click  "save" not refreshing the page.

![pop-up of repeated time showing not displayed on the correct page](https://user-images.githubusercontent.com/26234440/29412933-50fcbab6-8320-11e7-8153-057bb88261db.PNG)

[2017-08-17 12:56] MaxTattenbach opened #327 "Time-tracker: Detecting overlap of time when there is none in some cases."
For example as it is right now the software won't allow to record from 12 - 12.15 (entry one)  and from 12.15 - 12.30 (entry two).     I am assuming the problem is being caused by the 12.15 matching.     Perhaps in logic we could use a > than rather than equal.

[2017-08-17 13:28] MaxTattenbach opened #328 "Time-tracker & Approve Hours: Unable to track hours after an error overlap in time is detected."
For example:  Once a volunteers submits and overlapping time the system won't successfully send record time for approval.  In some cases it displays on the front-end to the volunteer that time was successfully recorded but it time does not appear on the admins profile.

[2017-08-17 15:14] #314 closed

[2017-08-17 18:54] nickolashe commented on #327
yes, that sounds right to me. @karbmk can we double check we are using strict inequality?

[2017-08-17 18:58] nickolashe commented on #326
@MaxTattenbach how important is it to have it on the same page, in your opinion?

[2017-08-17 18:59] nickolashe commented on #326
i think having the status message there should allow them to pick the right hours on the second attempt

[2017-08-17 19:04] nickolashe commented on #324
@MaxTattenbach can you clarify please? is this for sending the message to the coordinator?

[2017-08-17 19:18] nickolashe commented on #304
no strong preference here

[2017-08-17 20:31] MaxTattenbach commented on #328
Max and Karthik to try and reproduce.

[2017-08-17 20:38] #317 closed

[2017-08-17 20:40] nickolashe commented on #316
lets make sure we are showing hours from current week as well

[2017-08-17 20:45] nickolashe commented on #315
concatenate descriptions into a single (comma-separated) string and show next to the date

[2017-08-17 20:47] #312 closed

[2017-08-17 20:48] MaxTattenbach opened #329 "Admin-Profile: Approve hours should alwys be present if there is no hours then it should take you to a approve hours screen with a message "no hours submitted"."

[2017-08-17 20:58] nickolashe commented on #303
should not allow checking in volunteers before 15 min prior to event start

[2017-08-17 21:04] MaxTattenbach opened #330 "Manual Tracking: combine defer hours with a drop-down of existing org admins"

[2017-08-17 21:14] MaxTattenbach opened #331 "Admin-Profile: No Create Event button when approval of hours are pending."
![no create event on admin page](https://user-images.githubusercontent.com/26234440/29434008-013bde66-8367-11e7-84ae-4273171032f4.PNG)

[2017-08-17 21:16] MaxTattenbach opened #332 "Live-Dashboard: Invite volunteers should explicitly state its to the event. "KAB issues""

[2017-08-17 21:50] nickolashe commented on #332
mail email content focused on inviting to the event, not opencurrents

[2017-08-17 21:51] nickolashe commented on #332
a link at the bottom to join opencurrents

[2017-08-17 21:53] nickolashe commented on #331
create event unavailable when pending hours to approve and there is at least one upcoming event

[2017-08-17 21:54] nickolashe commented on #330
volunteer submits hours on a per-admin basis

[2017-08-17 21:55] nickolashe commented on #329
main argument: user onboarding

[2017-08-17 21:59] nickolashe commented on #311
the argument is whether this should be presented with a popup or upon form submission. is the former then we need to use javascript for validation. not clear its worth the complexity increase.

[2017-08-18 00:17] nickolashe opened #333 "create-event: figure out the proper way to handle radio buttons"

[2017-08-18 03:45] nickolashe commented on #298
@dannypernik  can we assign this one necessary labels

[2017-08-18 04:25] nickolashe opened #334 "profile: no way to see the list of all upcoming events is the user is already registered to one"

[2017-08-18 04:39] nickolashe commented on #330
still need defer for admins not on the platform

[2017-08-18 04:40] nickolashe commented on #330
@dannypernik @MaxTattenbach can we combine defer with a dropdown of existing admins?

[2017-08-18 04:40] nickolashe commented on #327
@karbmk should be an easy one

[2017-08-18 04:42] nickolashe commented on #324
https://github.com/opencurrents/opencurrents/pull/336

[2017-08-18 04:42] #324 closed

[2017-08-18 04:45] nickolashe commented on #320
@dannypernik is this actually related to event-detail? isn't related to create-event and edit-event?

[2017-08-18 04:46] nickolashe commented on #297
https://github.com/opencurrents/opencurrents/pull/336

[2017-08-18 04:47] #297 closed

[2017-08-18 04:57] nickolashe commented on #331
@dannypernik I think Max and I agreed we always need both buttons, and the approve hours button will be decorated differently if there are hours pending approval.

[2017-08-18 05:22] nickolashe opened #337 "resolve migrations mess"

[2017-08-18 05:39] #337 closed

[2017-08-18 14:26] MaxTattenbach commented on #330
@nickolashe @dannypernik  Not sure if I am reading this correct.  But the idea is that that the volunteer can select the admin on the Record hours.  Admins should not be sending hours to other admins as they do not not know who they belong too.

[2017-08-18 15:04] dannypernik commented on #330
@maxtattenbach @nickolashe this is not high priority or critical to roll out with orgs IMO.

[2017-08-18 15:08] nickolashe commented on #330
@MaxTattenbach Danny brought up a valid point that an admin may not be registered yet. I am proposing that we have a dropdown with existing admins along with an unassigned option. Notice that the way the defer works is admins are not deferring to any one in particular, they are just saying those volunteers are not theirs. So when a new admin joins they'll still see the hours of their volunteers. O

[2017-08-18 15:11] MaxTattenbach commented on #330
Guys really nobody is doing manual tracking without an Admin supervising.
Not sure in waht organization that happens?   Are we planning to do testing
without admins?

Max Tattenbach
Co-creator
www.opencurrents.com

On Fri, Aug 18, 2017 at 10:08 AM, nickolashe <notifications@github.com>
wrote:

[2017-08-18 15:15] MaxTattenbach commented on #330
@dannypernik  I defer on your above comment.  I am volunteering at an organization that does manual tracking and I lead an organization where several admins lead volunteers - this is going to be very confusing. As it is it doesn't make sense.   We need to first get the admins on board  - no NGO account will be created with out an Admin.

[2017-08-18 15:15] dannypernik commented on #330
@maxtattenbach it's going to be confusing to volunteers if their coordinator is not yet an admin of the org. @nickolashe is suggesting that the admin assigns or invites an admin to volunteers who are not theirs. But they might not always know either. Only thing I can think of is that we have an "other" field in dropdown list and volunteer adds their name and email.

[2017-08-18 15:17] MaxTattenbach commented on #330
Or "not listed" in which case it goes to the org and all to the admins

[2017-08-18 15:19] nickolashe commented on #330
@dannypernik not sure why you got that impression, i am not actually suggesting admins invite admins necessarily. But we can offer that option, sure.

[2017-08-18 15:19] nickolashe commented on #330
@dannypernik Please read my comment above carefully

[2017-08-18 15:20] nickolashe commented on #330
@MaxTattenbach how do you see the scenario where an admin is not registered yet but some of their volunteers are?

[2017-08-18 15:21] nickolashe commented on #330
should we make admin registration a prerequisuite to their volunteers being able to track hours under them?

[2017-08-18 15:56] MaxTattenbach commented on #330
I see it very unlikely.  For testing phase all admins will be on-boarded.

[2017-08-18 15:57] MaxTattenbach commented on #330
Now we may have that be the case a few times, so I suggest lets just leave a "not listed" at the end of the dropdown with the names.

[2017-08-18 16:20] nickolashe commented on #330
@MaxTattenbach ok, how will we present these hours the admin(s) in this case?

[2017-08-18 17:26] dannypernik opened #340 "/nonprofit & /business - send email to bizdev@opencurrents.com when org or business signs up"
email template called new-org-registered and it includes variables `*|FNAME|* *|LNAME|* *|EMAIL|* *|ORG_NAME|* *|ORG_STATUS|*` (that last one is to say whether it’s a nonprofit or business)

[2017-08-18 17:37] karbmk opened #341 "Create-event/edit-event: Invite the coordinator to be an admin if he/she is not"

[2017-08-18 17:37] dannypernik commented on #334
@nickolashe "Earn Currents" button should give an option to see upcoming events. Perhaps this should say "Volunteer" or "Find opportunities"?

[2017-08-18 18:36] nickolashe commented on #340
labeling?

[2017-08-18 19:38] dannypernik opened #342 "menu: Add invite-volunteers link and others for admins"

[2017-08-18 19:43] nickolashe opened #343 "pass is_admin variable to all templates"

[2017-08-18 19:57] #304 closed

[2017-08-18 20:00] dannypernik commented on #316
@nickolashe @MaxTattenbach not sure if I'm following but this is set up to display hours one week at a time. If volunteers want quick gratification, they can check in with admins. I'm not interested in making admins approve hours any more frequently. Compare it to earning a paycheck - most payment is biweekly if not monthly.

[2017-08-18 22:43] MaxTattenbach commented on #316
@dannypernik note there will be issues w/ volunteers submitting hours and Managers not being able to see them. For example - Hi did can you aprove my hour?  or did you receive my hour?  No I don't see it in my account. ;-)

[2017-08-18 23:32] dannypernik commented on #311
@nickolashe @MaxTattenbach Display as status message if user puts times in reverse. Only makes sense to display after form is submitted.

[2017-08-19 06:10] nickolashe opened #348 "edit-event: when event data was changed, need a confirmation message on admin-profile"
currently not clear if anything was changed at all

[2017-08-19 06:12] nickolashe opened #349 "edit-event: switch to using forms"
currently all input elements hardcoded in html

[2017-08-19 19:06] tsiology commented on #322
Skip on the invite-volunteers page needed to be updated to include num_vols=0. This is done in PR #350

[2017-08-19 21:35] nickolashe opened #351 "upcoming-events: show all public + private only for org admins"

[2017-08-19 21:36] nickolashe commented on #351
https://github.com/opencurrents/opencurrents/pull/279

[2017-08-19 21:50] nickolashe opened #352 "approve-hours: redesign UI"
Add approve hours button next to defer and decline
Rename "Confirm hours" => Confirm

@dannypernik I think these are pretty important changes to make the UI more user-friendly

[2017-08-19 21:55] #315 closed

[2017-08-19 21:55] #327 closed

[2017-08-19 22:25] nickolashe commented on #342
estimate?

[2017-08-19 22:26] nickolashe commented on #316
@dannypernik why can't we show hours for the current week? i think this would be a matter of a small change on the backend.

[2017-08-19 22:29] #322 closed

[2017-08-22 01:13] dannypernik commented on #320
@nickolashe yes you're right. Changing the title

[2017-08-22 01:49] dannypernik commented on #331
@nickolashe ok I've pushed changes that make approve-hours primary button (blue) if hours to be approved, and create-event button primary if no hours to approve. #353

[2017-08-22 18:56] tsiology commented on #319
@dannypernik What are your thoughts on a new email template that can take the event name and org to tell the volunteer what hours were declined? I think that would work better than sending a "Your hours were declined" message with the existing message template.

[2017-08-22 18:57] tsiology commented on #319
sendHoursDeclinedEmail?

[2017-08-22 19:32] nickolashe opened #354 "approve-hours: Make sure that #259 does not overwrite correct description of hours"

[2017-08-22 20:08] nickolashe opened #355 "approve-hours: error when deferring two volunteers from the same week"
error: User matching query does not exist
https://github.com/opencurrents/opencurrents/blob/approve_hours/openCurrents/views.py#L384

[2017-08-22 20:20] #355 closed

[2017-08-22 22:40] dannypernik opened #356 "profile: Status message "0" when logging in"
<img width="893" alt="screen shot 2017-08-22 at 5 30 53 pm" src="https://user-images.githubusercontent.com/3347095/29590667-934a4b24-8760-11e7-94cc-014e551d1415.png">

I pulled latest changes into design branch, then when I logged in, I saw this status msg at the top.

[2017-08-22 23:20] dannypernik commented on #330
@MaxTattenbach @nickolashe The dropdown for admins works. I will add it to a new branch called time-tracker_new

If volunteer selects "Not listed", we display volunteer for all admins. We keep the "Defer" button on approve-hours for now to handle this scenario.

[2017-08-23 05:11] MaxTattenbach commented on #330
I agree w/ Danny that is what I think makes the most sense leaving the defer button for those cases when admin is not selected.

Max

Sent from a mobile device -
Escrito desde un móbil

[2017-08-23 05:49] dannypernik opened #358 "time-tracker and approve-hours: Volunteer selects admin"
I've simplified the time-tracker page and included a dropdown for admin. Here's what we need to change:

- Select org box should populate with orgs who have at least 1 admin approved by us.
- Move the admin select box to forms.py. Populate with all admins of an org, and add a final option named "Someone else" with value="other-admin". The volunteer selects this last option if their admin isn't lis

[2017-08-23 05:57] #351 closed

[2017-08-23 17:57] karbmk opened #360 "Process email confirmation: error while setting up password for a signup account in design branch"

[2017-08-23 17:59] #356 closed

[2017-08-23 18:02] #303 closed

[2017-08-23 18:27] nickolashe commented on #360
@karbmk design branch has been merged to develop. can you make sure you are able to reproduce the issue in develop?

[2017-08-23 18:30] karbmk commented on #360
Sure

[2017-08-23 18:53] nickolashe commented on #360
@karbmk can you provide more details on what you are seeing here pls

[2017-08-23 18:55] karbmk commented on #360
![screen shot 2017-08-22 at 6 07 17 pm](https://user-images.githubusercontent.com/8406712/29633070-a78fb4c0-880a-11e7-85b5-bc07e14fa0cd.png)

[2017-08-23 22:13] dannypernik commented on #343
@nickolashe is this now complete?

[2017-08-23 22:23] nickolashe opened #361 "Enforce uniqueness constraint on user email"

[2017-08-23 22:31] dannypernik commented on #352
@nickolashe If we add "Approve" buttons to every volunteer, I worry that admins will think they have to click every "Approve" button. What if we have a message just above the Confirm button that says "Hours will be approved unless you defer or decline them."

[2017-08-23 22:46] #343 closed

[2017-08-23 22:47] nickolashe commented on #360
@karbmk lets try to understand what caused the error. can you confirm if it's the multiple users with the same email or something else?

[2017-08-23 22:49] nickolashe commented on #352
That sounds good, as long as we rename "Confirm hours" to just "Confirm"

[2017-08-23 22:50] #342 closed

[2017-08-23 22:58] dannypernik commented on #316
@nickolashe @MaxTattenbach turns out we're already displaying issues for current week. Max would like us to give some indication to admins that additional hours may be present for later weeks. (It's possible volunteers will ask for approval but the admin won't immediately see the hours if previous weeks have not been approved.) I don't love the idea of a message that says "Confirm hours to see lat

[2017-08-23 22:58] #311 closed

[2017-08-23 23:06] nickolashe commented on #358
I think we need to clarify bullet point 2 above in that we list all volunteers who selected "Someone else" **for the admin's org**

[2017-08-23 23:07] nickolashe commented on #358
@dannypernik can we break this up into more fine-grained issues pls?

[2017-08-23 23:08] nickolashe commented on #316
that's how i was initially imagining the UI here with my idea of pagination if you recall.

[2017-08-23 23:08] nickolashe commented on #316
i think we need to spend more time reviewing designs together.

[2017-08-23 23:09] nickolashe commented on #316
i am not sure how hard it would be change at this point, @karbmk @tsiology thoughts?

[2017-08-23 23:59] dannypernik commented on #319
@tsiology I think that's a good suggestion. I'll create an email template named volunteer-hours-declined that passes in *|FNAME|* of volunteer, *|ADMIN_FNAME|*, *|ADMIN_LNAME|*, and *|ORG_NAME|*. replyto field should be the admin's email address so that the volunteer can contact them directly.

[2017-08-24 00:22] dannypernik commented on #361
@nickolashe just to make sure I'm estimating consistently, are you indicating that this issue will take 3 hours?

[2017-08-24 00:23] dannypernik commented on #360
@karbmk Is this now closed?

[2017-08-24 00:34] nickolashe commented on #361
we need to:
1. go through the entire code base and check if we are making any assumptions regarding uniqueness
2. clean up existing data in db to meet the constraint
3. add the constraint at the model level

could be quicker, this is just an estimate

[2017-08-24 00:36] #331 closed

[2017-08-24 06:57] #256 closed

[2017-08-24 06:58] #254 closed

[2017-08-24 07:02] nickolashe opened #363 "Record all admin actions on user time logs"

[2017-08-24 07:02] nickolashe commented on #363
@karbmk the model changes needed to implement this are ready:
https://github.com/opencurrents/opencurrents/pull/362

[2017-08-24 07:02] nickolashe commented on #363
@karbmk notice this has lower priority than current MT v0.1 issues

[2017-08-24 16:49] nickolashe opened #364 "confirm-account: view should verify whether the token is valid or not without user having to enter the password and submit"

[2017-08-24 19:00] dannypernik commented on #319
<img width="603" alt="screen shot 2017-08-24 at 11 49 50 am" src="https://user-images.githubusercontent.com/3347095/29683596-856db87c-88d4-11e7-86a1-0b58377a090f.png">

@tsiology here is the text for volunteer-hours-declined, I've sent it to Mandrill

[2017-08-24 20:17] dannypernik opened #365 "event-detail: Updated email templates"
If coordinator messages registrants, send coordinator-messaged template:

(NOTE: the See event details button includes variable `*|EVENT_ID|*` in the URL: `www.opencurrents.com/event-detail/*|EVENT_ID|*` )
<img width="690" alt="screen shot 2017-08-24 at 3 13 50 pm" src="https://user-images.githubusercontent.com/3347095/29686550-f9093fc2-88de-11e7-9439-433df587b9dc.png">

If volunteer registers and

[2017-08-24 20:25] nickolashe opened #366 "time-tracker-new: changing orgs adds additional "Someone else" option to the admin dropdown"

[2017-08-24 20:30] nickolashe opened #367 "time-tracker-new: nominate new org popup does not make sense"
after selecting a registered org and "someone else" in admin dropdown, i got a popup asking me if i "give time with a social organization not listed here". i think the message should be regarding inviting the admin to register on opencurrents.

[2017-08-24 21:52] dannypernik commented on #358
@nickolashe I'll break this up today or tomorrow when I have a chance. @MaxTattenbach note that the admin dropdown could delay our manual tracking rollout due to the number of changes required.

[2017-08-24 22:53] MaxTattenbach commented on #358
@dannypernik @nickolashe  We can huddle around this issue.  We could get a few organizations testing before this change particularly those who only have one admin.  I'd rather not roll this out with those orgs that have more than one admin, it could get confusing.

[2017-08-25 16:33] karbmk opened #368 "Nominate an admin: wrong message in the popup"
![screen shot 2017-08-25 at 11 27 49 am](https://user-images.githubusercontent.com/8406712/29723144-1d20c5e2-8989-11e7-9ed4-401074f22e70.png)

[2017-08-25 16:41] MaxTattenbach commented on #368
@nickolashe  @dannypernik

Danny, when going over the manual tracking with Karthik I noticed this issue on the pop-up.

Note this shows up with when Admin is not found and the messaging seems more for a pop-up for when a org isn't found.   Message should be changed.  I suggest this message:

Thanks for contributing for the greater good!  Every hour needs to be approved by a supervisor/admin of the

[2017-08-25 16:42] MaxTattenbach commented on #368
@dannypernik @nickolashe On this note I think that there should also be a pop-up.  (No need to delay product for this) for when I want to track my time and my organization is not listed.  I think that is perhaps the best place for a volunteer to nominate and organization.

[2017-08-25 17:15] tsiology commented on #365
@dannypernik Looks like the volunteer-messaged-test email template is being called and handling REGISTER logic as expected. One comment, those emails are sending with no subject.

[2017-08-25 17:16] tsiology commented on #365
PR #294

[2017-08-25 17:17] tsiology commented on #365
coordinator-messaged is being called as expected as well, except for the comment I made in slack about using "name" instead of USER_FIRSTNAME, I think it is good.

[2017-08-25 17:22] nickolashe commented on #368
@karbmk @MaxTattenbach I think this is a duplicate of https://github.com/opencurrents/opencurrents/issues/367

[2017-08-25 17:23] nickolashe commented on #368
please do a quick search of existing issues before opening a new one

[2017-08-25 17:23] #368 closed

[2017-08-25 19:16] MaxTattenbach commented on #368
@nickolashe  Sounds good!  I'll check more carefully prior adding a new issue.

[2017-08-25 19:36] #360 closed

[2017-08-25 23:18] karbmk commented on #367
@dannypernik , @nickolashe. Can you guys also let me know about how the functionality should be implemented? details on like if the volunteer can nominate a person who is not in our website. If yes, how should we handle etc..

[2017-08-26 05:04] dannypernik opened #371 "time-tracker: Connect org and admin dropdowns"
- Select org box should populate with orgs who have at least 1 admin approved by us.
- Move the admin select box from time-tracker.html to forms.py.
- When a volunteer returns to this page, use his/her previously selected org and admin as default values.
- List of admins should only be populated once an org is selected. Until then, admin dropdown should be disabled.

[2017-08-26 05:06] dannypernik opened #372 "approve-hours: admin-specific volunteers"
- Approve-hours should only show volunteers who selected the logged in admin
- Popup displays when user selects "Not sure" for admin asking them to contact organization
- Inputs for admin-name and admin-email slide down when "Someone else" is selected by volunteer.
- Email template "volunteer-invites-admin" sent to new admin inviting them to openCurrents
- Email template "new-admin-invited" sent t

[2017-08-26 05:09] dannypernik opened #373 "time-tracker: Nomination form"
- Connect nomination form inside id="nomination-popup"
- Redirect to /profile on nomination form submission and display status message: "Thank you for nominating {org_name}! We will reach out soon."
- Nomination form will call new-org-nominated email template to notify bizdev@opencurrents.com with nominated org info.

[2017-08-26 05:11] dannypernik commented on #358
@nickolashe just split this into issues #371 #372 and #373

[2017-08-26 05:11] #358 closed

[2017-08-26 07:46] dannypernik commented on #367
@karbmk @nickolashe I've removed the popup trigger when "Someone else" is selected. Instead of tying the popup to a select option, I've added a link at the bottom of time-tracker. See time-tracker_new branch.

Yes, a volunteer can nominate anyone but we won't send them an email. Instead, we will want to send new-org-nominated template to bizdev@opencurrents.com:

<img width="400" alt="screen shot

[2017-08-26 07:49] dannypernik commented on #365
@tsiology if all is good here other than sending new volunteer-messaged template to Mandrill, feel free to close this

[2017-08-26 23:33] tsiology commented on #365
Pending the merge of PR #294 which has some changes requested, but yeah I think the email templates are working well.

[2017-08-26 23:33] #365 closed

[2017-08-27 21:55] nickolashe commented on #371
@dannypernik did you want to change bullet point 3 above based on our latest convo?

[2017-08-27 21:57] nickolashe commented on #372
all volunteers who selected "Someone else" will be shown on a single page. the weekly hours view only shows admin-assigned volunteers.

[2017-08-28 08:01] nickolashe opened #374 "create-event: set coordinator with dropdown of admins"

[2017-08-28 15:55] dannypernik commented on #354
PR #259

[2017-08-28 15:57] dannypernik commented on #330
Duplicate of #372

[2017-08-28 15:57] #330 closed

[2017-08-28 16:02] dannypernik opened #375 "status and status_msg: Absolute positioning"

[2017-08-28 16:03] dannypernik commented on #329
PR #369

[2017-08-28 16:10] dannypernik commented on #316
@MaxTattenbach @nickolashe after speaking with @tsiology and @karbmk it sounds like being able to move between weeks is a big change that will take time. We will look to implement it in a later phase. In the meantime, I will add a message above the Confirm button that displays "Confirm hours to view submissions for additional weeks."

[2017-08-28 16:15] tsiology commented on #373
Nomination form will call email template to notify business-dev with nominated  org info.

[2017-08-28 16:22] MaxTattenbach commented on #316
That should work.

Max

Max Tattenbach
Co-creator
www.opencurrents.com

On Mon, Aug 28, 2017 at 11:10 AM, dannypernik <notifications@github.com>
wrote:

[2017-08-28 16:52] dannypernik opened #376 "profile: Show a volunteer's pending hours"

[2017-08-28 17:48] dannypernik commented on #374
@nickolashe I believe that the logged-in admin name and email autofills on pageload. Are you seeing something different? Or do you mean use an autocomplete dropdown when admin changes coordinator? Do we want to invite a new admin from this page if a new email is entered? If not, this could just be a select box with existing admins.

[2017-08-28 17:51] #333 closed

[2017-08-28 17:52] #325 closed

[2017-08-28 17:54] #340 closed

[2017-08-28 18:11] dannypernik opened #377 "approve-hours: auto-display details for first volunteer"
We are using Foundation's Accordion feature to display the details on approve-hours page. Adding `is-active` class to `class="accordion-item"` will auto-display that section. Is there an easy way to only apply that class to the first volunteer in the `for` loop that displays all volunteers?

[2017-08-28 18:13] dannypernik commented on #352
PR #259

[2017-08-28 18:14] #367 closed

[2017-08-28 18:16] dannypernik commented on #334
@nickolashe I'm not clear on the problem here. Is it fixed?

[2017-08-28 20:17] dannypernik commented on #309
PR #294

[2017-08-28 20:19] dannypernik commented on #316
PR #259

[2017-08-28 21:07] karbmk commented on #377
display the 1st one separately and loop through the rest i think!

[2017-08-28 22:37] dannypernik opened #379 "event-detail: Add to Calendar button"

[2017-08-28 22:38] dannypernik opened #380 "time-tracker: Don't show admin who is logged in"
Admin shouldn't be able to submit hours to himself for approval.

[2017-08-29 07:01] nickolashe commented on #377
use `forloop.first` django template tag

[2017-08-29 07:13] nickolashe commented on #316
works for me

[2017-08-29 07:13] #334 closed

[2017-08-29 07:17] nickolashe commented on #374
@dannypernik its the latter (when changing coordinator). yes, i think we want the invite.

[2017-08-29 07:54] nickolashe opened #381 "invite-volunteers: resolve the mixup with event id param"

[2017-08-29 14:09] dannypernik commented on #377
`{% if forloop.first %}` I believe

[2017-08-29 14:57] dannypernik commented on #377
I've added `{% if forloop.first %}` to approve-hours branch, PR #259

[2017-08-29 15:48] dannypernik opened #382 "nominate: Hook up form"
Same form and action as `nominate-popup` in time-tracker.

[2017-08-29 15:51] dannypernik commented on #373
@tsiology please also hook up identical form on `nominate.html` Issue #382

[2017-08-29 16:41] tsiology commented on #373
Now in PR #369

[2017-08-29 18:02] tsiology commented on #382
added in PR #369

[2017-08-29 18:15] tsiology commented on #215
PR #294

[2017-08-29 21:19] #329 closed

[2017-08-29 21:24] #316 closed

[2017-08-29 21:28] dannypernik commented on #310
@MaxTattenbach when hours are pending approval, a popup that should display the first time an admin logs in each week informing them of hours pending. Coupled with the conditional styling of the button based on hours present, I think we are doing enough to inform them.

[2017-08-29 21:28] #310 closed

[2017-08-30 05:15] nickolashe opened #384 "time-tracker: selecting a start time should automatically change end time to start_time + 1 hr"

[2017-08-30 05:22] dannypernik opened #385 "time-tracker: Status message for hours-overlap not displaying"
<img width="862" alt="screen shot 2017-08-30 at 12 19 00 am" src="https://user-images.githubusercontent.com/3347095/29856554-3a4104e6-8d19-11e7-8d7b-d97afcac633a.png">

Displays in URL but not on page

[2017-08-30 05:44] dannypernik opened #386 "admin: Should we track the datetime that actions are performed?"
For example, should we track that volunteer X submitted the time-tracker form at 3:42pm on July 31 2017? Other actions too?

[2017-08-30 06:16] dannypernik commented on #372
<img width="862" alt="screen shot 2017-08-30 at 12 19 00 am" src="https://user-images.githubusercontent.com/3347095/29857935-c9c878a4-8d20-11e7-849a-302fdfc3d953.png">

Send to invited admin when "Someone else" selected

[2017-08-30 06:31] dannypernik commented on #372
<img width="862" alt="screen shot 2017-08-30 at 12 19 00 am" src="https://user-images.githubusercontent.com/3347095/29858073-665b1dd4-8d21-11e7-920d-2483cbbcaaf6.png">

Admin 'danny@opencurrents.com' is not showing up here. I'm logged in as drpernik@gmail.com so that admin should not display in this list. Not sure if this is related to the fact that I'm manually overriding the 'disabled' setting o

[2017-08-30 06:50] nickolashe commented on #386
we are

[2017-08-30 06:50] #386 closed

[2017-08-30 15:21] karbmk opened #387 "approve-hours: limit the event query by date for adminactionusertime."

[2017-08-30 15:52] karbmk opened #388 "approve-hours: create a new action log instead of updating the requests for approval."

[2017-08-30 15:56] karbmk commented on #388
@nickolashe , If I understand it correctly we are going to keep the record that requested approval as it is and create a new action timelog record? If so since we are getting the approval hours based on the action_type approval_requests why not we update it. Else it will be duplicate record apart from action type being different which makes the get from action timelog ambiguous.

[2017-08-30 16:32] dannypernik opened #389 "time-tracker: error page if user submits date or start/end time in wrong format"
Should either display error message: "Please enter start and end time with format HH:mm am/pm"
or: "Please enter a valid date with format yyyy-mm-dd"

[2017-08-30 16:37] dannypernik opened #390 "time-tracker: Display error if admin is not selected or "Not sure""
Display error: "Please select your admin to continue"

[2017-08-30 16:52] #377 closed

[2017-08-30 16:54] dannypernik opened #392 "time-tracker: Enable Admin select box when Org is selected"
Note that we need to account for the case when a default org is selected - So we need to consider both when page is loaded and when user changes select box. ('Select organization' is a disabled field, so once admin field is enabled, it will stay enabled)

[2017-08-30 16:57] dannypernik commented on #388
Hmm....

[2017-08-30 17:02] tsiology opened #393 "email bizdev on new admin request"
On event creation, if a non-admin user is named as the coordinator, email bizdev letting them know that user needs admin approval.

[2017-08-30 17:04] tsiology commented on #393
Also on event creation... make sure admin-invite is sent,  and User and OrgUser are created where needed when a given coordinator email is not a part of the openCurrents community.

[2017-08-30 17:28] dannypernik commented on #392
PR #369

[2017-08-30 20:18] nickolashe commented on #385
i think https://github.com/opencurrents/opencurrents/pull/369/commits/775e73bfa99beb9de8c7b2f052355b5a32f38456 should fix it. @dannypernik can you confirm?

[2017-08-30 20:20] nickolashe commented on #390
https://github.com/opencurrents/opencurrents/pull/369/commits/775e73bfa99beb9de8c7b2f052355b5a32f38456 makes admin input required. we just need to list form errors in the template.

[2017-08-30 20:25] nickolashe commented on #388
@karbmk can you clarify which part is ambiguous in your opinion? i'd like us to have full history of admin actions. there are several cases why we may need this:
1. so we can present this history back to admin, in case they need to review it or make changes from decline to approved or vice versa
2. imagine a scenario where hours require sign off by multiple persons

[2017-08-30 20:26] nickolashe commented on #388
@dannypernik updated the priority and time estimates per your question

[2017-08-30 22:39] dannypernik commented on #388
@nickolashe sounds good

[2017-08-31 02:50] tsiology opened #394 "Create UserEvent class for common UserEventRegistration functions"
Commonly used functions performed on UserEventRegistration objects such as is_registered or is_coordinator can be gathered in a class for modularization.

[2017-08-31 04:27] #380 closed

[2017-08-31 14:17] MaxTattenbach opened #395 "Approve Hours: Not clear what this means "Hours will be approved unless you decline them.""
Is this after a certain amount of time or when?  Also shouldn't it be backwards - hours should will declined if not approved.

![hours will be approved unless you decline](https://user-images.githubusercontent.com/26234440/29927773-ede0e1f6-8e2c-11e7-9bab-a29ab535dcf4.PNG)

[2017-08-31 14:23] MaxTattenbach opened #396 "Admin Profile: Pop-up label when no hours pending approval"
Lets change "You have reviewed all hours submitted to you. Nicely done!"  to "There are no volunteer hours pending approval."

![pop-up all hours](https://user-images.githubusercontent.com/26234440/29928044-9aac1c5c-8e2d-11e7-82b8-5fb4960445bb.PNG)

[2017-08-31 14:27] MaxTattenbach opened #397 "Admin Profile: Buttons Unaligned - lets change the label."
Note that the Buttons are unalligned with text.   Also think we should change the buttons seem very big. The drop down buttons look a considerably nicer.

![buttons unalligned](https://user-images.githubusercontent.com/26234440/29928330-4e85336c-8e2e-11e7-8553-84e15bd470e9.PNG)

[2017-08-31 14:42] MaxTattenbach opened #398 "Admin-Profile: Hours Approved status message doesn't go away when refreshing page."
![pop-up hours approved](https://user-images.githubusercontent.com/26234440/29929197-7b84d9ce-8e30-11e7-9197-f13f72d17a64.PNG)

[2017-08-31 14:43] MaxTattenbach opened #399 "Admin Profile: Popup Hours - should display # of hours instead of # of Volunteers."
![pop-up hours approved](https://user-images.githubusercontent.com/26234440/29929310-c15646d6-8e30-11e7-884e-532309e57b50.PNG)

[2017-08-31 14:48] MaxTattenbach opened #400 "Time Tracker: Not displaying error message (pop-up) when there is overlap of time on the volunteer side."
Note when overlap happens hours aren't going to admin which is good, but it doesn't let volunteer know.  Not a big issue.

[2017-08-31 15:12] nickolashe commented on #395
agreed its vague

[2017-08-31 15:12] nickolashe commented on #395
i think the intention is to justify this "Confirm" button and what it does

[2017-08-31 15:13] nickolashe commented on #395
my suggestion was to have an approve button explicitly instead

[2017-08-31 15:15] nickolashe commented on #398
saw this one too. it looks even more cumbersome if you try clicking Approve hours button then and it shows another message on top of this one (that there are no hours to approve)

[2017-08-31 15:16] nickolashe commented on #396
sounds good to me

[2017-08-31 15:16] nickolashe commented on #396
in fact the current message is not always true since some of the hours may have been declined

[2017-08-31 15:18] nickolashe commented on #399
perhaps we should show both?

[2017-08-31 16:39] MaxTattenbach commented on #395
Agree.  Change "Confirm" to  "Approve" And lets eliminate hours will be
approved unless you decline them.  Unless that means that if at the end of
the week hours will be automatically approved.  Ok for this round but
should be eventually changed if the prior is the case.

Max Tattenbach
Co-creator
www.opencurrents.com

On Thu, Aug 31, 2017 at 10:13 AM, nickolashe <notifications@github.com>
wrote:

[2017-08-31 18:30] dannypernik commented on #371
@nickolashe @karbmk based on testing on openc.herokuapp.com the Organization autopopulates based on my previous selection, but my Admin does not. (I had clicked "Add more time" on time-tracked to go back to time-tracker.)

[2017-08-31 18:36] dannypernik commented on #389
<img width="681" alt="screen shot 2017-08-31 at 1 34 25 pm" src="https://user-images.githubusercontent.com/3347095/29939423-6495f16e-8e51-11e7-9f55-f4f358753970.png">

I also received this error when trying to submit hours on 9/31 (September only has 30 days.) So we should display above message in this instance too

[2017-08-31 18:39] nickolashe commented on #389
@karbmk i think this can be handled easily using forms validation

[2017-08-31 18:56] dannypernik opened #401 "time-tracker: If start time is after end time, page submits with no error but does not save data"
Error message should display: "End time must be after start time"

[2017-08-31 20:19] dannypernik commented on #398
@nickolashe begs the question if there's a way to pass status message without relying on URL - which will result in persistent status message when page is refreshed

[2017-08-31 20:25] dannypernik commented on #396
@nickolashe @MaxTattenbach I prefer this be a positive message. Note that it says all hours have been "reviewed", not "approved". Also, it's not necessarily true that no hours are pending approval because there could be pending hours for a different admin.

[2017-08-31 21:09] dannypernik commented on #395
Made these changes in time-tracker_new branch

[2017-09-01 16:42] dannypernik opened #403 "edit-event: Timezone issue when editing, event-privacy changing, no autocomplete for multiple locations"
<img width="565" alt="screen shot 2017-09-01 at 11 34 04 am" src="https://user-images.githubusercontent.com/3347095/29979121-d77f699a-8f09-11e7-98f5-83f21dfd5495.png">

Created a public event with these details ^
Edited the event without changing the times (which show up correctly in edit-event), but when saving, it saved this (also notice it goes from AM to PM):

<img width="558" alt="screen shot

[2017-09-01 17:47] dannypernik opened #404 "github: how did this happen?"
Doesn't seem like Github caught this change? Brainstorming what may have happened here. Maybe Tim removed it as part of a merge conflict?

Desired HTML (status_msg revisions):
https://github.com/opencurrents/opencurrents/commit/6afffc816551482a1d01a7dd9e90dcc5833d29d2#diff-054afe05a5399f46da01ccf3321216cbR168

Unwanted change on the very next commit (Merge branch 'develop' into approve hours):
htt

[2017-09-01 18:15] MaxTattenbach opened #405 "Create Event: Not clear what public or private event means."
We should add a pup-up or little circle in which you can read what is public and what is a private event.

[2017-09-01 18:20] MaxTattenbach opened #406 "Create Event: Address box is small it should be widened to see the entire address"

[2017-09-01 18:30] MaxTattenbach opened #407 "Create Event: Unclear that the buttons of public or private are not clickable."
Note we are using the same type of button for click and select.  I think it would be much better if the buttons for select are are different for the clicking.  I got confused by this when testing.

![buttons display](https://user-images.githubusercontent.com/26234440/29982997-7f5c993a-8f19-11e7-988c-8334d55755ca.PNG)

[2017-09-01 18:37] MaxTattenbach opened #408 "Create Event: Lets change the "Create" Button to "Next" since we are not finalizing the process and actually taking them to the invite volunteers."

[2017-09-01 18:39] MaxTattenbach commented on #396
Review sounds very passive.  So should change the button to "Review
Hours"?  Since the message says review?   I wouldn't think its a good idea.

Max Tattenbach
Co-creator
www.opencurrents.com

On Thu, Aug 31, 2017 at 3:25 PM, dannypernik <notifications@github.com>
wrote:

[2017-09-01 18:53] MaxTattenbach opened #409 "Invite Volunteers: Form to copy and paste email address doesn't allow copy and paste with carrots."
Gmail format: Max Tattenbach <max@opencurrents.com>,Danny Pernik <danny@opencurrents.com>
--

![carrots](https://user-images.githubusercontent.com/26234440/29983661-93c53e92-8f1c-11e7-8221-6daeed2fa01d.PNG)

[2017-09-01 18:54] dannypernik commented on #408
@MaxTattenbach event is created as soon as they click "Create"

[2017-09-01 18:58] dannypernik commented on #403
@nickolashe @karbmk I'm also adding a popup that asks "Are you sure?" when clicking Delete event. I was hoping I could use the same form tags for the page inputs and popup submit button, but it doesn't look like that's the case. For the time being, I've just put the popup content at the bottom of this page as a reminder that we need to hook up the form there. Ping me when you want to work on this

[2017-09-01 22:17] nickolashe commented on #396
how about "There are no hours that need your approval"?

[2017-09-01 22:21] nickolashe commented on #409
carrots?

[2017-09-02 20:58] dannypernik commented on #409
Hahaha

[2017-09-03 02:46] dannypernik commented on #409
Max is referring to the carets before and after emails in gmail

[2017-09-03 02:46] dannypernik commented on #409
I like that one Max :)

[2017-09-03 19:32] MaxTattenbach commented on #409
Buaaa. That pretty funny. You made my day learned something today. ;-)
On Sat, Sep 2, 2017 at 9:46 PM dannypernik <notifications@github.com> wrote:

[2017-09-03 22:05] dannypernik commented on #396
I'm tempted to just change this and be done with it but it raises the question of what should be opened as an issue in the first place. Anything that is being marked 'priority low' should be considered as whether it's productive to raise. @MaxTattenbach can you please explain why the current message is a problem? Or if you don't think it's worth further debate, just close the issue. For the record

[2017-09-03 22:07] dannypernik commented on #407
@MaxTattenbach I will add a ? icon next to these

[2017-09-04 16:03] dannypernik commented on #396
Talked to Max and I'm fine with changing the message to include "approved" since the message displays when "Approve hours" is clicked.

[2017-09-04 16:57] dannypernik opened #410 "invite-volunteers & live-dashboard: email should not be case sensitive"
<img width="727" alt="screen shot 2017-09-04 at 11 31 01 am" src="https://user-images.githubusercontent.com/3347095/30034591-f4c1166a-9167-11e7-8460-3f63f319ded6.png">

Max and I ran several tests with same name, different name, and emails with and without capital letters. We concluded that we just need to make sure that emails with different capitalization are considered the same email address on

[2017-09-04 17:12] dannypernik opened #411 "event-detail: *|EVENT_ID|* in coordinator-messaged email template not getting passed"
<img width="593" alt="screen shot 2017-09-04 at 12 08 49 pm" src="https://user-images.githubusercontent.com/3347095/30034850-d600a2f2-9169-11e7-9609-51343dec3f2b.png">

Email template has same name as variable here, for some reason it's not populating:
https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/views.py#L1360

[2017-09-04 17:26] dannypernik opened #412 "invite-volunteer after create-event: Wrong email template and wrong URL"
When volunteer is invited to an event, they are currently sent to invite-volunteer. Instead, volunteers who **do not have a password saved** should be sent invite-volunteer-event-new, while volunteers **with a password saved** should be sent invite-volunteer-event-existing.

Since we want event-detail to be public, we need to have a signup/login popup to be displayed when non-logged-in user clicks

[2017-09-04 17:56] dannypernik opened #413 "create-event: Private events showing up on upcoming-events"
Event is showing is_public=FALSE, but the event still displays in upcoming-events.

[2017-09-04 17:59] dannypernik opened #414 "upcoming-events: Should private events be displayed or not?"
Could display (This is an invite-only event). Intention is to show all the activity in the community.

[2017-09-05 14:58] #414 closed

[2017-09-05 15:00] dannypernik commented on #413
@nickolashe @MaxTattenbach Begs the question: Should private events be displayed on upcoming-events? We could display "(This is an invite-only event)". Intention is to show all the activity in the community. My preference is to leave them off the page.

[2017-09-05 15:12] dannypernik commented on #332
@nickolashe @MaxTattenbach we need to change this email template to make volunteer coordinators more comfortable inviting volunteers from their email list. "Invite volunteer" is intended to invite them to openCurrents, not the event (they should already be at the event if checked in on live-dashboard). Perhaps we want to disable adding volunteers on this page before the event so that they use invi

[2017-09-05 15:15] dannypernik commented on #328
@MaxTattenbach I believe this is now working properly, reopen if not

[2017-09-05 15:15] #328 closed

[2017-09-05 15:30] #401 closed

[2017-09-05 15:35] #400 closed

[2017-09-05 15:37] MaxTattenbach opened #415 "Invite-Volunteers: Message Change"
Invite volunteers to join the community, instead of to track hours.

![legend invite volunteers messaging](https://user-images.githubusercontent.com/26234440/30069329-13f16030-9226-11e7-8d7e-51dead856386.PNG)

[2017-09-05 15:44] dannypernik opened #416 "time-tracker: Error page when submitting hours (though hours were submitted)"
Submitted this data:
<img width="670" alt="screen shot 2017-09-05 at 10 34 55 am" src="https://user-images.githubusercontent.com/3347095/30069403-48bd26f0-9226-11e7-88fb-ad950e541765.png">

Received this error:
![image](https://user-images.githubusercontent.com/3347095/30069700-1341e4d8-9227-11e7-9f8b-28c9a5cdaa33.png)

Tried again with same details - hours overlap detected (I also checked the dat

[2017-09-05 15:46] #395 closed

[2017-09-05 15:46] MaxTattenbach commented on #413
Rather they showed up as private events but not strong either way.

Max Tattenbach
Co-creator
www.opencurrents.com

On Tue, Sep 5, 2017 at 10:00 AM, dannypernik <notifications@github.com>
wrote:

[2017-09-05 15:49] dannypernik commented on #409
@nickolashe see updated issue description for a clearer understanding of what Max is wanting

[2017-09-05 15:49] dannypernik commented on #409
It's true, they do look like carrots :)

[2017-09-05 15:51] #392 closed

[2017-09-05 15:51] #390 closed

[2017-09-05 15:51] MaxTattenbach opened #417 "Email Confirmation of Volunteer: Message could be improved telling the coordinator what event this is."
![event confirmation email to admin](https://user-images.githubusercontent.com/26234440/30070124-1be3e4be-9228-11e7-8af5-35c3cfadf5c5.PNG)

[2017-09-05 16:25] dannypernik opened #418 "invite-volunteers: When inviting to an event, email does not send if user present"
I think this is happening because invite-volunteers does not send an email to existing user if we're simply inviting them to track hours (ie. clicking the link in the waveburger menu). However, both new and existing users should be invited to event when admin navigates to invite-volunteer through the event's mini-menu (and thus has an event_id associated).

[2017-09-05 16:43] dannypernik opened #419 "upcoming-events: Events only displaying for admins of the org who created event"
Volunteers are not seeing any events

[2017-09-05 17:13] dannypernik opened #420 "live-dashboard: Distinguish between invited and registered volunteers"
Currently, we are not really showing a difference to end user, but it's okay for now. @nickolashe are we able to list these separately right now?

[2017-09-05 17:34] dannypernik opened #421 "event-detail: Display coordinator name"

[2017-09-05 17:48] dannypernik opened #422 "create-event: How far in the past should admins be allowed to create events?"
Perhaps 1 week. Want to give admins an easy way to record event hours even if they forget to create in advance

[2017-09-05 17:52] #352 closed

[2017-09-05 18:18] MaxTattenbach opened #423 "Live Event: Hours tracked on events are not being converted to Currents."
I have created several events and did not obtain Currents for the events nor did the Admin of the event.   I am unsure when should Currents show up in the account after participating in an event.

[2017-09-05 18:55] #396 closed

[2017-09-05 19:04] MaxTattenbach opened #424 "Email Inviting Volunteer Coordinator: Not displaying the invited by."
When selecting someone else the BizDev email does not display "Invited By"
![invited by](https://user-images.githubusercontent.com/26234440/30078385-9c5285aa-9242-11e7-85ec-09dd1c98356f.PNG)

[2017-09-05 19:36] #385 closed

[2017-09-05 19:36] #373 closed

[2017-09-05 19:38] #366 closed

[2017-09-05 19:43] dannypernik opened #425 "admin-profile: Check conditions for showing approve-hours popup"
Admin should see popup on first login of the week if pending hours are present

[2017-09-05 19:46] dannypernik opened #426 "admin-profile: Show admin's hours"
Let me know the variable name so I can add it to the template

[2017-09-05 19:54] #371 closed

[2017-09-05 19:56] dannypernik opened #427 "time-tracker: Autopopulate admin based on previous selection"
Looks like it's happening for org but not admin

[2017-09-05 20:08] dannypernik commented on #372
@nickolashe @karbmk the last step before closing this issue is making sure that an email is sent to new admin. Everything else is working

[2017-09-05 20:08] #354 closed

[2017-09-05 20:30] dannypernik opened #428 "create-event: All issues are set as private regardless of radio selection"
Events are set to private by default in database, but we want "Public" to be default selection on create-event.

[2017-09-05 20:48] dannypernik commented on #405
https://github.com/opencurrents/opencurrents/pull/321/commits/8d0c12842ad83e3d4961f2baad8725af59f818cd

[2017-09-05 21:29] dannypernik commented on #361
@nickolashe should this be in one of our other milestones?

[2017-09-05 21:51] #416 closed

[2017-09-05 21:52] nickolashe commented on #416
https://github.com/opencurrents/opencurrents/commit/5114dbed82fe74eb4bef02c44cc6c4be6471624e

[2017-09-05 22:07] dannypernik commented on #11
@nickolashe I thought this was working but I just tested and "Monthly updates" is not checked in my Account section of the db..

[2017-09-06 00:23] nickolashe commented on #428
https://github.com/opencurrents/opencurrents/pull/321/commits/e629698a72c12236493675916b638fcb69c42b1a

[2017-09-06 00:23] #428 closed

[2017-09-06 00:23] nickolashe commented on #419
https://github.com/opencurrents/opencurrents/pull/321/commits/e629698a72c12236493675916b638fcb69c42b1a

[2017-09-06 00:23] #419 closed

[2017-09-06 00:25] #405 closed

[2017-09-06 00:26] nickolashe commented on #332
ok, should we move this to the next bucket then?

[2017-09-06 00:27] nickolashe commented on #275
does this belong to the next bucket?

[2017-09-06 04:36] dannypernik commented on #332
Sounds good, we'll just need to do this before our next event with Keep Austin Beautiful

[2017-09-06 04:55] dannypernik commented on #332
Yes, we'll just need this before our next event with Keep Austin Beautiful

[2017-09-06 04:55] dannypernik commented on #275
Yes, we'll just need this before our next event with KAB

[2017-09-06 15:19] #372 closed

[2017-09-06 16:05] dannypernik opened #430 "time-tracker & live-dashboard: Check for time overlap between events and manual"
We'll need an error message on time-tracker if event hours (of any event) are present for a volunteer. Perhaps we don't need an error message on live-dashboard, but we'll need to check for overlap. Even if time-tracker prevents future hours from being submitted, we're still allowing admins to add volunteers to live-dashboard after an event, so that's where a new record on live-dashboard could inte

[2017-09-06 18:28] karbmk commented on #418
PR #383

[2017-09-06 18:31] karbmk commented on #412
PR #383

[2017-09-06 18:32] karbmk commented on #381
PR #383

[2017-09-06 20:24] dannypernik opened #432 "time-tracker in prod: Orgs are being listed that have no approved admin"
For example, Carlee McConnell signed up Safe Kids Austin led by Dell Children's Medical Center. She has not been approved as an admin but this org is listed in the dropdown.

[2017-09-06 20:27] nickolashe commented on #432
@dannypernik do you see this as a problem? they can be submitting hours until we approve the admin.

[2017-09-06 20:35] nickolashe commented on #418
@karbmk i can't see in the pr where the issue is being addressed

[2017-09-06 20:35] nickolashe commented on #418
@dannypernik can you pull these changes and confirm that the issue is still open please

[2017-09-06 20:36] dannypernik commented on #432
If someone signed up junk orgs, they would immediately show up in this list. I think it's best to require approval first. (For example, one org is currently listed twice with slightly different names)

[2017-09-06 20:36] nickolashe commented on #412
@karbmk i can't see in the pr where the issue is being addressed

@dannypernik can you pull these changes and confirm that the issue is still open please

[2017-09-06 21:56] nickolashe commented on #423
https://github.com/opencurrents/opencurrents/pull/433/commits/5c5fefffa46dd2887a308caeca40cf7335724f24

[2017-09-06 21:57] #423 closed

[2017-09-06 21:59] dannypernik commented on #418
@nickolashe invite-volunteers did in fact invite an existing user to an event, so it's working. However I did find a small issue with the status message - it should say you invited 1 volunteer to the event, not to openCurrents:

<img width="512" alt="screen shot 2017-09-06 at 4 58 50 pm" src="https://user-images.githubusercontent.com/3347095/30136467-b5abfd46-9324-11e7-9d75-b68c0b928a56.png">

[2017-09-07 00:29] nickolashe commented on #418
so when invite is event-specific, the status mag should say invited to the event, not opencurrents

[2017-09-07 00:32] nickolashe commented on #432
how about we additionally approve orgs? i think this would take care of this problem.

[2017-09-07 00:34] nickolashe commented on #430
@dannypernik do you consider this to be of medium priority? seems like an edge case to me

[2017-09-07 01:31] MaxTattenbach opened #434 "Home Page: Move "On" to second line to rym"
![display](https://user-images.githubusercontent.com/26234440/30141649-5fc7f5d8-9342-11e7-984c-4ab0e06af580.PNG)

[2017-09-07 01:58] dannypernik opened #435 "check-email: Previous user still logged in after new user signs up"
Note that the Danny Pernik in the top right is a different user than dannypernik@gmail.com. We should log the user out when a new user is creating an account (otherwise they'll have access to the previous person's profile)

[2017-09-07 02:11] dannypernik commented on #412
@karbmk I received invite-volunteer-event-existing when inviting a user who does not have a password saved. invite-volunteer-event-new should be used instead.

The correct template was used when sending to a user with a password saved.

[2017-09-07 03:55] dannypernik opened #436 "home & live-dashboard: Update name of existing user with no password on signup"
Quite a sentence! Ok so we create users with no password on live-dashboard, then we allow them to sign up as if they are a new user and verify account/create password. Only issue is that the user's name does not update based on signup input but maintains name from live-dashboard. Quite possible that an admin will make a typo when checking in volunteers at event, so we should update the name with t

[2017-09-07 03:56] #418 closed

[2017-09-07 04:00] dannypernik opened #437 "admin-profile: Status message fix when inviting volunteers to event via invite-volunteers"
Current message:
![image](https://user-images.githubusercontent.com/3347095/30145414-b31d49f4-9356-11e7-99cb-07ee97a69efd.png)

Seems like something in Tim's status message logic isn't working, as the various messages are present in admin-profile.html. When invitations are linked to an event, this message should say "You have created events at {{ num_events }} location{{ num_events|pluralize }} an

[2017-09-07 04:03] dannypernik commented on #432
This would be an extra step for us when approving admins, I'd rather not. @karbmk was it you who completed the issue of only displaying orgs with 1 or more admins in time-tracker? Check out this screenshot, I'm really confused as to why the orgs are not consistent between database and select box in production (I deleted some of the orgs that are still showing in the select box and some of the name

[2017-09-07 04:05] #426 closed

[2017-09-07 04:05] dannypernik commented on #434
done. in dev server

[2017-09-07 04:05] #434 closed

[2017-09-07 04:08] dannypernik commented on #415
done. in develop

[2017-09-07 04:08] #415 closed

[2017-09-07 04:10] dannypernik commented on #394
@nickolashe I don't know what this means, but it seems like "General" is a dangerous milestone for issues - could easily get passed up indefinitely. Should we find other milestones for these issues, or how do you think we should handle them?

[2017-09-07 04:22] dannypernik opened #438 "live-dashboard: Remove automatic Currents for admins checking in volunteers"
The problem is that some (if not most) of admins are paid by their organization and should not receive Currents. Unpaid admins will need to check themselves in to an event to get credit.

[2017-09-07 05:23] MaxTattenbach opened #439 "Approve Hours: Message to be changed Hours have been declined not "Volunteer Declined""
![volunteer vs hours - change messaging](https://user-images.githubusercontent.com/26234440/30147157-6da2dd74-9362-11e7-92b0-529d178d71ad.PNG)

[2017-09-07 22:57] nickolashe commented on #412
@karbmk has this been addressed yet?

[2017-09-08 17:02] dannypernik opened #443 "live-dashboard: Baldwin's hours not converting to Currents"
Baldwin was checked into the KAB lake cleanup, but he has 0 Currents in his account.

<img width="715" alt="screen shot 2017-09-08 at 11 16 30 am" src="https://user-images.githubusercontent.com/3347095/30222642-1026e088-948d-11e7-9b4f-efcac0daae34.png">

[2017-09-08 17:30] dannypernik opened #444 "org-admin: show all past events"
<img width="1016" alt="screen shot 2017-09-08 at 12 28 40 pm" src="https://user-images.githubusercontent.com/3347095/30223649-58966394-9491-11e7-8a7a-a328f3078bcb.png">

<img width="794" alt="screen shot 2017-09-08 at 11 16 49 am" src="https://user-images.githubusercontent.com/3347095/30223645-569eb956-9491-11e7-8c70-e19211fff06a.png">

[2017-09-08 17:31] MaxTattenbach opened #445 "Time Tracker: Volunteers should be able to search and scroll down; not only scroll"
![typing to search the field](https://user-images.githubusercontent.com/26234440/30223536-e5c68060-9490-11e7-8c52-c1452d8b332a.PNG)

[2017-09-08 18:24] dannypernik commented on #445
I am for changing the org dropdown to a search box with autocomplete. Ideally the autocomplete list automatically displays in full when clicking the search input, then narrows down as the user types.

[2017-09-08 18:37] nickolashe commented on #443
is this a past event?

[2017-09-08 18:39] nickolashe commented on #444
we are only showing past 3 events:
https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/views.py#L1059

[2017-09-08 19:22] dannypernik commented on #443
Yep. Aug 12

[2017-09-08 19:26] dannypernik commented on #444
Oh. I'm ok with that but I think we need a "See all" button. I think the cleanest way to do this would actually be to pull all events into the template but set the height of the div to only display the latest 3. Then "See all" would expand the height of the div. Only issue is whether passing all events into the template would eventually affect time for pageload.

[2017-09-09 05:45] nickolashe commented on #444
it would eventually, but probably not anytime soon

[2017-09-09 05:47] nickolashe opened #448 "Apply new admin action framework retroactively to past events"
...so that past hours are reflected in balances

[2017-09-09 05:48] nickolashe commented on #443
created #448

[2017-09-09 05:48] #443 closed

[2017-09-09 05:49] nickolashe commented on #445
i think a dropdown should be fine for the time being

[2017-09-09 05:51] nickolashe commented on #438
do we really want to pursue with the paid/unpaid distinction? how will we verify this?

[2017-09-09 05:52] nickolashe commented on #394
i know what the issue is about, i think General / Backend makes sense in this case

[2017-09-09 05:54] nickolashe opened #449 "time-tracker: figure out the reason for discrepancy between org list and db"

[2017-09-09 05:55] nickolashe commented on #432
the main issue has been resolved, created #449 to address the last comment

[2017-09-09 05:55] #432 closed

[2017-09-09 05:55] dannypernik commented on #449
@nickolashe is there any easy way to test it on a hosting provider other than heroku?

[2017-09-09 05:57] nickolashe commented on #449
are you saying heroku is the reason?

[2017-09-09 05:58] nickolashe commented on #437
@karbmk should be a quick one

[2017-09-09 05:59] nickolashe commented on #436
for reference: currently the update happens if and only if either first or last name is blank

[2017-09-09 06:00] nickolashe commented on #436
@karbmk should be a quick one

[2017-09-09 06:01] nickolashe commented on #435
what would the condition for logging out be?

[2017-09-09 06:02] dannypernik commented on #438
Ultimately it can be verified the same way any hours can be verified - by publicizing data. We're trusting admins to record hours accurately, so we can just tell volunteer admins like Linda to check themselves in. Based on our current approach, the employees of Bike Austin should not be earning Currents for events, but they are.

[2017-09-09 06:04] dannypernik commented on #449
I can't yet say it's not the reason

[2017-09-09 06:06] dannypernik commented on #435
I'm thinking it should log out when clicking "Create account" in all of the various signup forms

[2017-09-09 06:06] nickolashe commented on #438
so you are in favor of trusting them to check themselves in if and only if they are unpaid?

[2017-09-09 06:07] nickolashe commented on #435
i am fine with that

[2017-09-09 06:07] nickolashe commented on #435
@karbmk should be a quick one

[2017-09-09 06:08] nickolashe commented on #449
correct me if i am wrong, but i think we've verified that changes occur in the db

[2017-09-09 06:12] nickolashe commented on #424
probably a discrepancy in the email template var

[2017-09-09 06:14] nickolashe commented on #422
sounds good to me

[2017-09-09 06:16] nickolashe commented on #420
i don't think we are distinguishing between the two on the backend at this time

[2017-09-09 06:17] nickolashe commented on #417
agreed

[2017-09-09 06:20] nickolashe commented on #409
i believe these are called newlines in the coders language

[2017-09-09 06:20] nickolashe commented on #409
i am fine with adding those (in addition to commas and spaces which we already support)

[2017-09-09 06:22] nickolashe commented on #413
i don't think private events should be showing on that page

[2017-09-09 06:22] nickolashe commented on #413
is this still the case?

[2017-09-09 06:25] nickolashe commented on #411
@dannypernik is this when linking from email back to our site?

[2017-09-09 06:26] nickolashe commented on #411
for reference, in html %7C is the `|` symbol. is this what is used to quote email template vars in mandril?

[2017-09-09 06:27] nickolashe commented on #407
@dannypernik i think this has been done already?

[2017-09-09 06:28] nickolashe commented on #408
interesting subtlety

[2017-09-09 06:28] nickolashe commented on #408
technically Danny is correct, but not sure what's best from the UI perspective

[2017-09-09 06:29] nickolashe commented on #406
noticed that also

[2017-09-09 06:31] nickolashe commented on #398
there is a way but its not straightforward, i'd rather punt on this for now

[2017-09-09 06:32] nickolashe commented on #215
i think this has been done already

[2017-09-09 06:32] #215 closed

[2017-09-09 06:32] #382 closed

[2017-09-09 06:36] MaxTattenbach commented on #445
Agree, perfectly fine for the mean time and MVP.

On Sat, Sep 9, 2017 at 12:49 AM nickolashe <notifications@github.com> wrote:

[2017-09-09 06:37] dannypernik commented on #445
look at us all working late on a Friday night

[2017-09-09 06:58] MaxTattenbach commented on #422
Agree w/ one week - it should also be the cut-off of adding people to an
past event.  - low priority in the mean time.

On Sat, Sep 9, 2017 at 1:14 AM nickolashe <notifications@github.com> wrote:

[2017-09-09 07:18] dannypernik commented on #438
yep

[2017-09-09 07:19] dannypernik commented on #449
Yes, they change in the db. But the interface doesnt update until we deploy changes. I don't know really, just spitballing

[2017-09-09 07:21] dannypernik commented on #424
In MailChimp: Invited by: *|FNAME|* *|LNAME|*

[2017-09-09 07:29] dannypernik commented on #417
@nickolashe or @karbmk could you create variable `*|EVENT_NAME|*`? Let me know when it's there and I'll update the template

[2017-09-09 07:31] nickolashe commented on #438
works for me

[2017-09-09 07:32] nickolashe commented on #449
got it, what about locally

[2017-09-09 07:33] nickolashe commented on #424
so we must not be passing those vars in

[2017-09-09 08:07] nickolashe opened #450 "Include calendar integration with events"
<img width="927" alt="screen shot 2017-09-09 at 1 05 54 am" src="https://user-images.githubusercontent.com/6278359/30238371-4637ac5c-94fb-11e7-8f36-fa60ca6da741.png">

[2017-09-09 08:08] nickolashe commented on #450
since the events are about scheduling, it'd be nice to offer calendar integration / invites

[2017-09-09 08:09] nickolashe commented on #450
there is another issue already #219 for sharing with friends

[2017-09-09 08:10] nickolashe commented on #450
and we already have the option for contacting coordinator in the current version

[2017-09-09 16:07] dannypernik commented on #413
Looks like this is working properly in dev server. Private events show up only for admins of org in upcoming events. I could see this being confusing for admins who think their private events are showing up for volunteers, but it's good for now.

[2017-09-09 16:07] #413 closed

[2017-09-09 16:10] dannypernik commented on #411
@nickolashe yes linking from email to event page. Yes template vars use format `*|EVENT_ID|*` and it's getting converted to %7C in the URL because the variable is not populating

[2017-09-09 16:11] dannypernik commented on #407
yep

[2017-09-09 16:11] #407 closed

[2017-09-09 16:19] dannypernik commented on #408
I'd like to leave it. "Next" makes it seem like the event-creation process is longer, and there's no "Complete" button at the end so it's a little anticlimactic. I think it's good for the user to know they've created an event when they submit the create-event form even if they dont invite volunteers. @MaxTattenbach please close if you're good with this.

[2017-09-09 16:32] dannypernik commented on #406
https://github.com/opencurrents/opencurrents/commit/337b39f579271ab26afc759a3a471485b51cd020

[2017-09-09 16:32] #406 closed

[2017-09-09 16:37] dannypernik commented on #438
@MaxTattenbach do you know if any of our orgs other than KAB have volunteer admins? We'll just need to let volunteer admins know to add themselves to live-dashboard at events.

[2017-09-09 16:42] dannypernik commented on #449
shoot, nope doesn't work locally either

[2017-09-09 16:45] dannypernik commented on #449
oh wow. locally I added 'autocomplete':'off' in forms.py to the org select box, and it worked. I'm wondering why it didn't work for me when I tried on test server. Perhaps I added to wrong branch? Testing again

[2017-09-09 16:59] dannypernik commented on #449
Haha ok here's one for you... it seems that the select box cache refreshes locally whenever I modify forms.py. I verified that it's unrelated to the attributes of the org box by making a change in a different part of the file. My testing process was to check which orgs were showing on time-tracker, delete OrgUser and remove admin group from admin, and refresh time-tracker. List did not update. How

[2017-09-09 17:04] dannypernik commented on #449
Oo, perhaps...?? https://snakeycode.wordpress.com/2014/11/20/django-forms-choices-and-caching/

[2017-09-09 17:10] dannypernik commented on #424
`sendTransactionalEmail(
                'new-admin-invited',
                None,
                [
                    {
                        'name': 'ORG_NAME',
                        'content': org.name
                    },
                    {
                        'name': 'ADMIN_NAME',
                        'content': admin_name
                    },
                    {

[2017-09-09 18:16] dannypernik commented on #412
@nickolashe @karbmk I'm expanding this issue to include a bug I just found because it occurs in the same instance - after an admin creates an event. Check out the URL shown after I click "Create" on create-event:

<img width="655" alt="screen shot 2017-09-09 at 1 14 32 pm" src="https://user-images.githubusercontent.com/3347095/30242709-24c234dc-9561-11e7-9f91-7197dc07913f.png">

[2017-09-09 18:39] dannypernik commented on #450
@nickolashe I almost have this working properly on branch calendar. The issue is now passing in start and end datetime into the Add to Calendar button. Recommended format is `yyyy-mm-dd 12:00:00` but seems like it's picking up am/pm given the variable I'm using here:

https://github.com/opencurrents/opencurrents/commit/acc9c46d5dceacd98c95acaa9ce16099922c69f8#diff-d0bf4fdd19d8a6fd696f059f4f1584a2R

[2017-09-09 21:58] nickolashe commented on #413
it'd be easy to mark those appropriately

[2017-09-09 21:59] nickolashe commented on #411
i know we've been using mandrill vars in links before, such as for verification tokens. which email template is this so i can take a look?

[2017-09-09 22:03] nickolashe commented on #408
"anticlimactic" wins it

[2017-09-09 22:18] nickolashe commented on #449
i think #451 should fix it
good job on finding the cause @dannypernik

[2017-09-09 22:20] nickolashe commented on #450
we should be able to transform it easily
lets work on this together sometime

[2017-09-09 22:21] nickolashe commented on #424
is the mandrill syntax `*|<var>|*` ?

[2017-09-09 22:23] nickolashe commented on #412
@dannypernik what is the bug exactly? we did change the format of the url.

[2017-09-09 22:23] nickolashe commented on #449
@dannypernik @MaxTattenbach can you double check the fix works for you pls

[2017-09-11 04:34] dannypernik commented on #411
@nickolashe coordinator-messaged

[2017-09-11 15:54] dannypernik commented on #424
@nickolashe yes but note that in views, the `*| |*` are not set

[2017-09-11 15:58] dannypernik commented on #412
%5B is `[` and %5D is `]`

Looks like they are getting passed into the URL.

[2017-09-11 16:01] dannypernik commented on #425
@nickolashe @karbmk just checked and the approve-hours message still pops up on /profile when no hours are present.

[2017-09-11 16:07] dannypernik commented on #449
@nickolashe Works! Also verified that a new admin populates after being added to db.

[2017-09-11 16:07] #449 closed

[2017-09-11 16:59] MaxTattenbach commented on #389
Logic is already in create event template which does not allow to create invalid entries.

[2017-09-11 17:05] dannypernik commented on #363
@nickolashe how much time is left for this one?

[2017-09-11 17:06] #326 closed

[2017-09-11 17:06] MaxTattenbach opened #452 "Create Event: Change label when Invalid Format on date is entered."
Change to "Invalid entry on date format".
![bad entry format](https://user-images.githubusercontent.com/26234440/30287164-af982c0e-96e9-11e7-95e3-f174d5684cb6.PNG)

[2017-09-11 17:17] dannypernik commented on #320
@nickolashe at this point, would it be better / easier to make a dropdown of current admins than a textbox where user may enter a new admin to org? Note that if we keep the current text fields, I was thinking that when a new admin is entered, we need a message to user saying "You are the coordinator of this event until the new admin has created an account."

[2017-09-11 17:23] #309 closed

[2017-09-11 17:24] dannypernik commented on #376
Duplicate of #307

[2017-09-11 17:24] #376 closed

[2017-09-11 17:27] dannypernik commented on #313
Duplicate of #301

[2017-09-11 17:27] #313 closed

[2017-09-11 17:36] dannypernik commented on #444
@nickolashe if it's quick, could we remove the limit on displaying 3 events for now? Going forward Max is thinking we could display the org's livefeed on admin-profile and past events on a separate page.

[2017-09-11 17:49] dannypernik opened #453 "event-detail: Change "See registrants" since it includes invitees"

[2017-09-11 17:55] dannypernik commented on #341
Duplicate of #320

[2017-09-11 17:55] #341 closed

[2017-09-11 17:56] dannypernik commented on #374
This would be fixed if we go with a dropdown list of admins as discussed in #320

[2017-09-11 17:59] dannypernik commented on #349
@nickolashe does this mean we are not yet handling errors on edit-event?

[2017-09-11 18:01] dannypernik commented on #348
Include "Volunteers will receive an email invite."

[2017-09-11 18:20] dannypernik opened #454 "invite-volunteers: Show list of invitees"

[2017-09-11 18:22] dannypernik opened #455 "invite-volunteers: Add personal message to invite-volunteers"
Personal message should be attached to admin, not the event. This way we can autopopulate the message when an admin creates another event.

[2017-09-11 18:23] dannypernik commented on #332
We've created Issue #454 and decided live-dashboard is fine as is once invite-volunteers is working

[2017-09-11 18:23] #332 closed

[2017-09-11 18:24] dannypernik commented on #319
@karbmk can you see if this has been done?

[2017-09-11 18:31] dannypernik commented on #278
Duplicate of #403

[2017-09-11 18:31] #278 closed

[2017-09-11 18:32] #267 closed

[2017-09-11 18:41] dannypernik commented on #225
Duplicate of #418

[2017-09-11 18:41] #225 closed

[2017-09-11 18:42] #218 closed

[2017-09-11 18:44] nickolashe commented on #411
#456

[2017-09-11 18:45] nickolashe commented on #411
@dannypernik can you test on the dev server

[2017-09-11 18:49] dannypernik commented on #114
@nickolashe where are we with this?

[2017-09-11 18:57] #299 closed

[2017-09-11 18:58] dannypernik commented on #295
@nickolashe can you provide more detail? Has this been taken care of?

[2017-09-11 19:01] nickolashe commented on #412
what makes you think its a bug? we are passing a list of id's now instead of a single id. i think you've participated in the discussion related to this.

[2017-09-11 19:04] #286 closed

[2017-09-11 19:05] dannypernik commented on #257
No longer using org status

[2017-09-11 19:09] dannypernik commented on #240
@nickolashe can this be closed?

[2017-09-11 19:09] #233 closed

[2017-09-11 19:09] #234 closed

[2017-09-11 19:12] dannypernik commented on #79
These pages are working in production, correct?

[2017-09-11 19:12] nickolashe commented on #389
just verified this is already working properly

[2017-09-11 19:12] #389 closed

[2017-09-11 19:12] #15 closed

[2017-09-11 19:12] #26 closed

[2017-09-11 19:15] nickolashe commented on #363
this has been completed

[2017-09-11 19:15] #363 closed

[2017-09-11 19:18] nickolashe commented on #452
#457

[2017-09-11 19:18] #452 closed

[2017-09-11 19:21] nickolashe commented on #320
sounds good to me

[2017-09-11 19:23] nickolashe commented on #313
as well as #448

[2017-09-11 19:24] nickolashe commented on #444
i think a proper way would be to include an "expand" list button below the first N events, which would fetch the entire list on demand

[2017-09-11 19:26] nickolashe commented on #374
agreed

[2017-09-11 19:29] nickolashe commented on #349
exactly, we are parsing the raw request data, violating guideline 2 from best coding practices:
https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/views.py#L1303

[2017-09-11 19:32] nickolashe commented on #319
this has not been done yet

[2017-09-11 19:35] nickolashe commented on #114
done

[2017-09-11 19:35] #114 closed

[2017-09-11 19:36] nickolashe commented on #318
@dannypernik i don't we are showing any data on hours submitted but not reviewed yet, are we?

[2017-09-11 19:38] nickolashe commented on #295
has been fixed

[2017-09-11 19:38] #295 closed

[2017-09-11 19:39] #240 closed

[2017-09-11 19:41] nickolashe commented on #79
we have not switched to DEBUG=False in production yet

[2017-09-11 19:41] nickolashe commented on #79
this will likely require messing with the webserver settings

[2017-09-12 02:45] baldwinsmith opened #458 "Weird Navigation dialogue when clicking on openCurrents logo to return to homepage"
When navigating from my profile page to the 'homepage' via the openCurrents logo this is the dialogue I received.

<img width="1396" alt="screen shot 2017-09-11 at 9 44 54 pm" src="https://user-images.githubusercontent.com/31051081/30305807-85edfb30-973a-11e7-9d09-9892c1248a8b.png">

[2017-09-12 03:46] nickolashe commented on #458
thanks @baldwinsmith
@dannypernik i think the problem is it links to /admin-profile instead of the homepage. can you fix that pls?

[2017-09-12 17:54] nickolashe commented on #411
bump

[2017-09-12 21:01] dannypernik commented on #411
Hm looks like the link is right, but new error:

<img width="744" alt="screen shot 2017-09-12 at 4 00 14 pm" src="https://user-images.githubusercontent.com/3347095/30348019-8b0cbd38-97d3-11e7-8651-175109ab4db9.png">

[2017-09-12 21:02] dannypernik commented on #412
Oh ok. Cool :)

[2017-09-12 21:02] #412 closed

[2017-09-12 21:08] nickolashe commented on #411
@dannypernik i think this just means that event id does not exist, but we need handle this properly nevertheless

[2017-09-12 21:11] nickolashe opened #460 "event-detail: runtime error when non-existent event is accessed"
see #411 for the full error

[2017-09-12 21:11] dannypernik commented on #411
oops yep it's because I didn't change the URL.

[2017-09-12 21:11] #411 closed

[2017-09-12 23:28] #381 closed

[2017-09-13 04:21] dannypernik commented on #320
Closing this and addressing in #374

[2017-09-13 04:21] #320 closed

[2017-09-13 04:39] dannypernik commented on #374
@karbmk I've added select boxes in HTML on create-event and edit-event in branch `issue#374`. These need to be moved to forms, and we need to add in error handling that I commented out just above the select boxes. Here are the changes, note we are removing the coordinator name and email text boxes, which means we can get rid of inviting new admin through this page: https://github.com/opencurrents/

[2017-09-13 04:50] dannypernik commented on #458
@nickolashe I'm not seeing the error. For me it directs to admin-profile iff I'm an admin and profile if else. Oh, I just checked and @baldwinsmith is an OrgUser of openCurrents but he's not in the oC admin group. Could that be the cause? Here's what I have for the logic of the header logo:
[code]

[2017-09-13 04:51] dannypernik commented on #458
Should that be `{% if is_admin %}` instead of `orgid`?

[2017-09-13 05:52] nickolashe commented on #458
Yes, `is_admin` is the one that allows access to admin-profile

[2017-09-13 05:54] nickolashe commented on #460
yep

[2017-09-13 20:35] MaxTattenbach opened #463 "Non Profit Sign-up: Not sending email to Biz Dev Email and can't find org to associate in the data base"
Please check

@nickolashe @dannypernik  Business sign-up is working but not non-profit.

[2017-09-13 21:11] dannypernik commented on #409
@nickolashe Will any of these suggestions allow us to find all valid emails in text and discard the rest? Given the text in the title, I believe we are attempting to send emails to Max, Tattenbach, <, >, Danny, Pernik, < and >.
 https://stackoverflow.com/questions/17681670/extract-email-sub-strings-from-large-document

[2017-09-13 21:19] dannypernik commented on #463
@MaxTattenbach it's working for me. I received test email and org was created (I assume you received too). Did you possibly sign up with an email address that was already in the db? Not sure what we want to happen in that instance

[2017-09-13 21:33] MaxTattenbach opened #464 "Offer Page #1: General Comments."
A few recomendations

1. Lets change "Intro" to "Getting Started"
2. Lets re-arrange the button of Got-it to the right. Note that in all the other pages Next is on the right.
3. Lets increase the discount in the example to $100 so its $80 and 2 Currents.

![offer page - 1](https://user-images.githubusercontent.com/26234440/30401410-c944a940-989f-11e7-8683-d900df6c6e8a.PNG)

[2017-09-13 21:40] MaxTattenbach opened #465 "Offer Page #2: Set Offer"
Suggestions:

Lets add a "?" bubble next to C Share:  Lets define it.

C Share:  The portion of a product that is paid with Currents.  Or something simple.

[2017-09-13 21:43] MaxTattenbach opened #466 "Offer Page #3: General Comments"
Suggestion:

Let swap the text with the Buttons and make the default "no limt" text disappear and replace it with "limit" text when limit is clicked.

![offer page 3](https://user-images.githubusercontent.com/26234440/30402166-6c1c0062-98a2-11e7-8f02-0e82006ab8c3.PNG)

[2017-09-13 21:58] MaxTattenbach opened #467 "Offer Page #4: General Comments."
General Comments:

Want to think if there is a way to mention Current share.  I'll take a lead on the language.

As an authorized representative of [Business Name], I agree to accept [a maximum of] Currents [per month] as partial payment for the following products and services:

[20%] of [Products]
[20%] of [Services]
[20%] of [Item 1]
Customers will pay full price at point of sale and provide ope

[2017-09-13 22:02] MaxTattenbach commented on #463
@dannypernik that's very weird.  So I just created a new one see the org registered but I am not getting the email to Biz Dev.

[2017-09-13 22:07] MaxTattenbach commented on #463
Guys got it.   Three of the test email cam in at once.  About one hour late.

[2017-09-13 22:07] #463 closed

[2017-09-13 22:08] MaxTattenbach commented on #463
@dannypernik @nickolashe;  my bad.  Seems that this is working.  May have been that it was associated to an existing account.

[2017-09-13 23:08] dannypernik commented on #464
1. "Getting started" is too long for mobile. Intro seems fine
2. I'd need to remove "Contact us" which I'm ok with. Since people read from left to right I want them to read "Got it" first after the explanation. Let me know if this sounds good. But I also think it's fine to leave as is, especially since the user hasn't seen the back/next buttons yet.
3. Done

[2017-09-13 23:10] dannypernik commented on #465
@MaxTattenbach don't you think the main question above it makes it clear?

<img width="603" alt="screen shot 2017-09-13 at 6 10 01 pm" src="https://user-images.githubusercontent.com/3347095/30404944-ca404462-98ae-11e7-8453-7d91692bbd46.png">

[2017-09-13 23:14] dannypernik commented on #466
<img width="623" alt="screen shot 2017-09-13 at 6 11 21 pm" src="https://user-images.githubusercontent.com/3347095/30404977-fbeff3ae-98ae-11e7-836a-753e876fcabb.png">

I tried this previously, I don't think it looks better. I agree the 4 buttons together is awkward but the text makes more sense above the limit buttons.

I was also interested (as you were, I believe) in making the "No limit" button

[2017-09-13 23:17] dannypernik commented on #467
@MaxTattenbach I agree it would be nice to get rid of mentions of discounts.

[2017-09-14 04:33] MaxTattenbach opened #468 "Profile: Discrepancy mobile and web."
Note that redeem Currents button is nonexistent in mobile at the moment.

[2017-09-14 04:36] MaxTattenbach opened #469 "Profile: Lets change "Give Time" button, to "Create Currents""
Note that we had previously changed the button from "earn Currents" to "give time".

Give time is not necessary correct as in manual tracking they already gave time.   I think Create Currents would be better.

[2017-09-14 04:40] MaxTattenbach commented on #465
@dannypernik Its clear to me but specially important to define it if we are going to use it elsewhere.

[2017-09-14 04:47] MaxTattenbach commented on #466
@dannypernik I actually like text between, but don't feel strong about it either way.  I don think we should replace text "no limit" text with "Monthly limit"  text when clicked.    Whether between the buttons or above the buttons.

[2017-09-14 06:23] nickolashe commented on #409
@dannypernik yeah, we can extract valid emails.

[2017-09-14 15:10] dannypernik commented on #469
I changed "Earn Currents" to "Give time" because I think it is clearer to end users how to track time. "Earn Currents" requires the user to think more and is thus less intuitive. @nickolashe ?

[2017-09-14 15:16] dannypernik commented on #468
Thank you for finding this @MaxTattenbach. Changed in dev server

[2017-09-14 15:16] #468 closed

[2017-09-14 15:17] dannypernik commented on #465
I suggest we leave as is and define elsewhere if we use it elsewhere.

[2017-09-14 15:21] dannypernik commented on #466
@MaxTattenbach not following this last comment. Replace text?

[2017-09-14 17:47] karbmk commented on #11
PR #470

[2017-09-15 14:05] MaxTattenbach opened #472 "Reedem-Currents: Messaging"
Danny,

1. Lets focus on putting the message on paying full price/how it works (general concept) on the Market Place page rather than on the Redeem Currents.  With this being said lets add this message in the Market Place,

2.  Same with "learn more". Lets take the entire "Note" to the market place.

3.  Change text in "Note":  (Assumes its in the Market Place)
You will pay the full price with par

[2017-09-15 14:15] MaxTattenbach opened #473 "Redeem Currents: General Flow"
I suggest we create three steps for redeem Currents, after clicking in one particular offer.   Very simple steps divided as follows.

Let me know your thoughts.

1.  Price Paid: Price paid to merchant.  In this case you volunteer we will list the price for the item he is wanting to redeem Currents for
2.  Proof-of Purchase:  Upload receipt or "no receipt".  If there is "no receipt" we must show a

[2017-09-15 18:57] dannypernik commented on #472
@MaxTattenbach I think from a cash flow perspective it would be better to wait until payment is due from vendors to disburse cash. Yes this is a very small liability now but it will grow over time. Let's design this to be scalable from the start so we dont give people the expectation of getting their money right away. Not until CLO

[2017-09-15 19:17] dannypernik commented on #472
@MaxTattenbach the more I look at it, the more sure I am that the note about paying full price should go on the redeem-currents screen. I'm adding the 3 screens you suggested, so it will go on the 'Shelf price' page which makes sense.

[2017-09-15 20:21] #11 closed

[2017-09-15 23:53] dannypernik commented on #158
welcome-popup does not seem to be opening on user's first login.

[2017-09-16 02:44] #464 closed

[2017-09-16 02:44] #465 closed

[2017-09-16 02:53] dannypernik commented on #473
@MaxTattenbach done: https://openc.herokuapp.com/redeem-currents

Feel free to suggest additional changes. @nickolashe check out the "Choose images" button. Choosing a file changes the name of the text. But then if you click it again and hit cancel instead of hitting another file, the text goes blank. My hypothesis is that the first file is still sitting in the input. Would you be able to test if

[2017-09-16 03:05] dannypernik commented on #467
Check https://opencdesign.herokuapp.com/offer

[2017-09-16 03:05] #467 closed

[2017-09-17 05:32] nickolashe commented on #469
I guess technically Max is correct. @dannypernik What's unintuitive about "Earn Currents"?

[2017-09-17 06:20] dannypernik commented on #469
K will change it

[2017-09-17 20:07] dannypernik opened #474 "public-record: Display orgs, vols, businesses 10 per page"
https://opencdesign.herokuapp.com/public-record

Need to show orgs, vols, or businesses based on select box, and show 10 entries on each page.
I will likely need to do more to set up pagination, let me know when you get there.

@nickolashe @MaxTattenbach do we want to enable data export on this page? Currently export is set up for admins, Nicko will it be easy enough to reuse export code for this

[2017-09-17 20:18] dannypernik opened #475 "business-profile: create template"
Include business' Currents, place, view, (edit?) and delete offers, and see redeemed offers

[2017-09-17 20:24] dannypernik opened #476 "offer: Hook up form including Current share of goods and max transactions"
https://opencdesign.herokuapp.com/offer

Form doesn't submit until Confirm is clicked.

[2017-09-17 21:18] MaxTattenbach commented on #472
@dannypernik I am OK with actually disbursing money at the end of the month, but do note that we will most likely not get paid back from the vendors immediately.

[2017-09-17 21:22] MaxTattenbach commented on #472
@dannypernik I'll add a few separate issues for the pages so we don't have it all in one.

[2017-09-17 21:44] MaxTattenbach opened #477 "Redeem-Currents: Page #1"
@dannypernik I think its looking good but I am somewhat confused with the messaging on this page.

In general it seems confusing as if what are trying to convey.  1. Ask for a receipt  2. We will reimburse X amount 3.  Pay Shelf Price.

I think the message should be very simple:  Price Paid at Fast Folks for [X] category.

1. It seems that you are looking at this page as if someone hadn't already

[2017-09-17 21:50] MaxTattenbach opened #478 "Redeem-Currents: Page #2"
Suggest the following to move away from "reimbursing"  note that its not really a reimbursement it's a purchase of Currents that is taking place.

"To get you reimbursed, we need to show [Fast Folks] that you purchased [flat fixes]."

To exchange Currents for USD with [Fast Folks] you will need proof of purchase.

@dannypernik @nickolashe  - We need to discuss the  "no receipt".  I am inclined to

[2017-09-17 21:56] dannypernik opened #479 "org-admin: Show manually tracked hours pending or approved"
Designed in `org_hours` branch

[2017-09-17 22:02] dannypernik opened #480 "marketplace: List offers"
Agree on design. How are we going to order offers?

[2017-09-17 22:04] dannypernik opened #481 "profile: Show hours pending approval"

[2017-09-17 22:04] MaxTattenbach opened #482 "Redeem-Currents: Page #3"
@dannypernik @nickolashe

Danny - I am envisioning having Pending Dollars as "in-process" when you Confirm transaction but we have not yet verified the integrity of the receipt with the offer.    So in theory it would go from "Pending Dollars" to "Available Dollars" for each volunteer in the oC account.

I suggest we amend the below text to:

Original: I understand that $[Y] will be added to my Pe

[2017-09-17 22:11] MaxTattenbach commented on #469
I actually like Create more than Earn.

Max Tattenbach
Co-creator
www.opencurrents.com

On Sun, Sep 17, 2017 at 1:20 AM, dannypernik <notifications@github.com>
wrote:

[2017-09-17 22:20] MaxTattenbach commented on #474
I don't think its necessary to be able to download data.

@dannypernik  In design for the leader board we should perhaps  have total of Currents Issued per month of the ecosystem., somewhat like a counter.

Also lets think if we want to categorize by "top" or by the latest issuers.  To be discussed.

[2017-09-17 22:26] #397 closed

[2017-09-17 23:40] #232 closed

[2017-09-17 23:48] dannypernik opened #483 "invite-admins: Allow admin to invite other admins"
https://opencdesign.herokuapp.com/invite-admins

I copied this over from invite-volunteers, but there were some weird things in there, presumably because we were using 2 forms - one for individual invites, one for bulk emails.

I've changed the design to work through 1 form and commented out some of the stuff I think is now unnecessary. There is now a hidden textarea on the page that is updated wi

[2017-09-18 19:09] dannypernik commented on #469
<img width="219" alt="screen shot 2017-09-18 at 2 07 26 pm" src="https://user-images.githubusercontent.com/3347095/30559603-c8f51072-9c7a-11e7-898d-9f7c64b9e94e.png">

what do you guys think of this? If we use "Create Currents" and "Redeem Currents" thats 3 'Currents' in the space of 2 inches. Also the buttons are too long and move to a new line on medium screens

[2017-09-18 19:36] dannypernik commented on #475
@nickolashe I'm thinking I should be able to create a biz-admin page and leave /profile design untouched. Profile currently displays org name under user name with the gear icon next to it. Can we just modify the URL of the gear based on whether the org is a nonprofit or business?

[2017-09-18 20:00] nickolashe commented on #469
looks good to me

[2017-09-18 20:04] nickolashe commented on #472
i think initially may be easier to go with end-of-the month disbursements.

[2017-09-18 20:05] nickolashe commented on #478
@MaxTattenbach are you aware of any such vendors at this time?

[2017-09-18 20:06] nickolashe commented on #482
sounds good to me

[2017-09-19 16:17] MaxTattenbach commented on #472
Agree, but pending dollars are immediate.

Max Tattenbach
Co-creator
www.opencurrents.com

On Mon, Sep 18, 2017 at 3:04 PM, nickolashe <notifications@github.com>
wrote:

[2017-09-19 16:18] MaxTattenbach commented on #478
Yes,  several will want to place restrictions as ABP.

Max

Max Tattenbach
Co-creator
www.opencurrents.com

On Mon, Sep 18, 2017 at 3:05 PM, nickolashe <notifications@github.com>
wrote:

[2017-09-19 16:19] MaxTattenbach commented on #478
Note these restrictions can be manual at the time.

Max Tattenbach
Co-creator
www.opencurrents.com

On Tue, Sep 19, 2017 at 11:18 AM, Max Tattenbach <max@opencurrents.com>
wrote:

[2017-09-19 16:19] dannypernik commented on #472
Agree to showing pending dollars immediately

[2017-09-19 16:26] dannypernik commented on #469
@MaxTattenbach ?

[2017-09-19 16:33] dannypernik commented on #275
@MaxTattenbach @nickolashe I'm having trouble coming up with the right way to send an invite email with a personal message from an admin. The first question is whether to make the email seem as though it's coming from the admin/org or not. My feeling is that we do not want to give a false impression by putting admin name or org name as the sender. In which case I don't know that a personal message

[2017-09-19 18:07] nickolashe opened #484 "approve-hours: button is active but no hours are shown"
here are the results of a query I ran in prod db:

`d2mt6pigfm73if=> select aaut.id, e.event_type, utl.user_id, utl.datetime_start, utl.datetime_end, utl.is_verified from "openCurrents_adminactionusertime" aaut join "openCurrents_usertimelog" utl on aaut.usertimelog_id = utl.id join "openCurrents_event" e on e.id = utl.event_id where aaut.user_id = 197 and utl.is_verified = False;

 id | event_typ

[2017-09-19 19:17] dannypernik opened #485 "live-dashboard: Page not saving data on iPad"
We need access to an iPad before we can test this

[2017-09-19 19:28] dannypernik commented on #482
@MaxTattenbach I've incorporated your suggestion and added some details of my own. Let me know if you're happy with it:

I understand that $[Y] will be added to my account as Pending Dollars, which will become Available Dollars once [Fast Folks] validates the transaction at the end of the month. Currents will be deducted from my account at this time. I can then transfer Available Dollars to my ban

[2017-09-19 19:28] #482 closed

[2017-09-19 19:30] dannypernik commented on #478
Changes made based on our conversation: https://opencdesign.herokuapp.com/redeem-currents

[2017-09-19 19:30] #478 closed

[2017-09-19 19:30] dannypernik commented on #477
Changes made based on our conversation: https://opencdesign.herokuapp.com/redeem-currents

[2017-09-19 19:30] #477 closed

[2017-09-19 19:31] #473 closed

[2017-09-19 19:32] dannypernik commented on #472
Changes made based on our conversation: https://opencdesign.herokuapp.com/redeem-currents

Will add messaging on marketplace

[2017-09-19 19:32] #472 closed

[2017-09-19 19:43] dannypernik commented on #167
Updated the welcome message based on our current progress, though not sure if welcome message is displaying ( #158 )

[2017-09-19 19:43] #167 closed

[2017-09-19 19:54] nickolashe opened #486 "Create offer model"

[2017-09-19 19:55] nickolashe opened #487 "Create transaction model(s)"

[2017-09-19 19:56] nickolashe opened #488 "Offer Form: Set Current Share"

[2017-09-19 19:57] nickolashe opened #489 "Offer Form: Limit / No limit"

[2017-09-19 19:57] nickolashe opened #490 "Offer Form: Confirmation"