[2017-09-19 19:58] nickolashe opened #491 "Redeem Form: Receipt Upload"

[2017-09-19 19:59] nickolashe opened #492 "Redeem Form: "Other PoP""

[2017-09-19 20:01] nickolashe opened #493 "Redeem Form: Report Price"

[2017-09-19 20:02] nickolashe opened #494 "Redeem Form: Confirmation"

[2017-09-19 20:04] #476 closed

[2017-09-19 20:11] nickolashe commented on #475
did you mean biz-admin will take place of org-admin?

[2017-09-19 20:12] nickolashe opened #495 "business-profile: create view"

[2017-09-19 20:13] nickolashe opened #496 "Offer Edit form"

[2017-09-19 20:14] nickolashe opened #497 "Offer Delete form"

[2017-09-19 20:17] nickolashe commented on #479
pending is approve-hours, isn't it?

[2017-09-19 20:18] nickolashe opened #498 "marketplace: list offers"

[2017-09-19 20:19] nickolashe commented on #498
#480

[2017-09-19 20:19] nickolashe commented on #495
#475

[2017-09-19 20:21] nickolashe opened #499 "user profile"

[2017-09-19 20:23] nickolashe opened #500 "profile: show group events participated in"

[2017-09-19 20:24] nickolashe opened #501 "profile: show redemption requests along with their status"

[2017-09-19 20:26] nickolashe opened #502 "business-profile: list offers placed"

[2017-09-19 20:29] nickolashe opened #503 "business-profile: list redemptions"

[2017-09-19 20:34] nickolashe commented on #444
did we reach any consensus here

[2017-09-19 20:48] nickolashe commented on #480
by date issued

[2017-09-19 20:49] nickolashe commented on #479
@dannypernik can you elaborate

[2017-09-19 20:52] nickolashe opened #504 "Switch server to production mode"

[2017-09-19 20:54] #318 closed

[2017-09-21 17:58] dannypernik commented on #490
Note that #488, #489, and #490 are actually a single form. Only "Confirm" button submits.

[2017-09-21 17:58] dannypernik commented on #489
Note that #488, #489, and #490 are actually a single form. Only "Confirm" button submits.

[2017-09-21 17:58] dannypernik commented on #488
Note that #488, #489, and #490 are actually a single form. Only "Confirm" button submits.

[2017-09-21 18:50] dannypernik commented on #493
Note #491, #492, #493, and #494 are all the same form.

[2017-09-21 18:50] dannypernik commented on #494
Note #491, #492, #493, and #494 are all the same form.

[2017-09-21 18:53] dannypernik commented on #492
Note #491, #492, #493, and #494 are all the same form.

For "I have other PoP" popup, we are using the same input field. We need to mark whether the user uploads a receipt from main page or other PoP from popup. We could either do this as a checkbox that is checked for one and unchecked for the other, or we could add a second input form. Let me know which one you'd prefer @nickolashe

[2017-09-21 18:53] dannypernik commented on #491
Note #491, #492, #493, and #494 are all the same form.

[2017-09-21 18:53] dannypernik commented on #493
Note #491, #492, #493, and #494 are all the same form.

[2017-09-21 18:55] dannypernik commented on #475
@nickolashe no I was thinking admin-profile will be directed to if user is admin of nonprofit, and biz-profile will be directed to if user is admin of business. Does that work?

[2017-09-21 18:56] dannypernik commented on #475
Perhaps I should change name of admin-profile to org-profile (but intended to be just for nonprofits)

[2017-09-21 19:01] dannypernik commented on #480
@nickolashe Are you thinking newest offer first? I guess that would put our first vendors at a disadvantage. I know you and @MaxTattenbach didn't love the idea of ordering by Current share but it seems like volunteers would like to see where to get the most value for their time and it would offer an appropriate incentive to businesses. Open to options.

[2017-09-21 19:04] dannypernik commented on #475
@nickolashe I see we have duplicate issues for this and others within General MVP milestone. Do you want to close this or #475 ?

[2017-09-21 19:42] dannypernik commented on #444
I'd like to be able to click expand and have the events slide down, but I'm thinking theyd already need to be fetched prior to click in order for a smooth slideDown. I've heard of "Lazy load" where a page loads the rest of the content first then hidden content second, perhaps theres an easy way to do that on the backend and I can add the "expand" button?

[2017-09-21 19:43] dannypernik commented on #479
@nickolashe you're right, I think we should just have a section for approved hours in admin-profile. Should we include declined hours too?

[2017-09-21 20:36] MaxTattenbach commented on #444
I wouldn't worry about fetching past events, if they are non-existent at
the moment.  No body needs them.  It was merely testing.

Max Tattenbach
Co-creator
www.opencurrents.com

On Thu, Sep 21, 2017 at 2:42 PM, dannypernik <notifications@github.com>
wrote:

[2017-09-21 20:36] MaxTattenbach commented on #480
I think it should be the order should be by which ever business has the
most Currents in their account.  But date works fine for MVP.

Max Tattenbach
Co-creator
www.opencurrents.com

On Thu, Sep 21, 2017 at 2:01 PM, dannypernik <notifications@github.com>
wrote:

[2017-09-21 20:39] MaxTattenbach commented on #479
I guess there are two types of pending.

Pending to be approved:  In-case a volunteer submits hours and have not yet
been approved.

Pending to approve: In-case an admin receives hours and needs to approve.
I think both Pending should be in personal profiles as they are directly
related to an individual and not to the Organization.

Thoughts?

Max Tattenbach
Co-creator
www.opencurrents.com

On Thu

[2017-09-22 06:50] nickolashe commented on #484
https://github.com/opencurrents/opencurrents/pull/508/commits/fe43f0ffe7559f05c94a6d22b67dffd14e48a9a5

[2017-09-22 06:50] #484 closed

[2017-09-22 06:50] nickolashe commented on #425
https://github.com/opencurrents/opencurrents/pull/508/commits/fe43f0ffe7559f05c94a6d22b67dffd14e48a9a5

[2017-09-22 06:51] nickolashe commented on #425
@dannypernik can you check again with this fix

[2017-09-22 06:51] #425 closed

[2017-09-22 06:52] nickolashe commented on #424
@dannypernik i meant in your comment do we need stars around bars?

[2017-09-22 06:54] nickolashe commented on #307
duplicate of https://github.com/opencurrents/opencurrents/issues/481

[2017-09-22 06:54] #307 closed

[2017-09-22 07:04] nickolashe commented on #374
@karbmk does #471 include this one?

[2017-09-22 07:09] nickolashe commented on #275
sounds good to me

[2017-09-22 07:09] nickolashe commented on #275
have you checked mailchimp for the right list of email addresses?

[2017-09-22 07:13] nickolashe commented on #492
we can use the same input with some way of letting the backend know the type of PoP submitted

[2017-09-22 07:14] nickolashe commented on #475
yes sounds good on biz-profile / org-profile

[2017-09-22 07:15] nickolashe commented on #475
this is #475 in fact, so i can only close this _and_ #475

[2017-09-22 07:16] nickolashe commented on #475
did you mean some other issue? this one was meant for the change on the front-end

[2017-09-22 07:17] nickolashe commented on #444
agreed, too much trouble for the time available

[2017-09-22 07:19] nickolashe commented on #444
@dannypernik out of curiosity, when you say "they'd already need to be fetched", how many events would you feel comfortable with fetching ?

[2017-09-22 07:21] nickolashe commented on #480
@MaxTattenbach oh, sounds somewhat unfair :)

[2017-09-22 07:21] nickolashe commented on #480
lets do date for the MVP, not that many offers yet

[2017-09-22 07:23] dannypernik commented on #424
Yes.

[2017-09-22 07:25] nickolashe commented on #479
@MaxTattenbach do you mean the former should be shown on the volunteer profile while the other on the admin profile?

[2017-09-22 07:25] nickolashe commented on #479
https://github.com/opencurrents/opencurrents/issues/499

[2017-09-22 07:26] nickolashe commented on #481
this issue for showing totals only

[2017-09-22 07:27] nickolashe commented on #479
@dannypernik sounds good on showing approved / declined

[2017-09-22 07:28] nickolashe commented on #424
https://github.com/opencurrents/opencurrents/issues/424#issuecomment-328260357

[2017-09-22 19:02] dannypernik commented on #275
<img width="1032" alt="screen shot 2017-09-22 at 1 51 42 pm" src="https://user-images.githubusercontent.com/3347095/30759813-410912f0-9f9d-11e7-893e-971f55d5ae4e.png">

This is what we can currently export from Mandrill. i don't think this gives us what we need unless we make some broad assumption regarding date of signup. @nickolashe note that http://www.opencurrents.com/invite/dannypernik@gmail.

[2017-09-22 19:05] dannypernik commented on #492
Sounds good. Adding a hidden checkbox in design branch

[2017-09-22 19:23] dannypernik commented on #475
Haha oops yes I meant #495 which I guess is a backend issue whereas this one is a front-end

[2017-09-22 19:33] dannypernik commented on #444
If three were shown initially, I'm thinking we could fetch an additional 7 so that when "see more" is clicked, they would see 10. And then 10 at a time each time "see more" is clicked.

@MaxTattenbach not sure what you mean by non-existent events? I feel that it would be better to show all events rather than just 3 assuming the 'show more' button is not considered MVP. I know I for one was confuse

[2017-09-22 19:34] dannypernik commented on #480
Alright I'd like to revisit once we have more than a page of offers.

[2017-09-22 19:36] dannypernik commented on #424
Ah sorry @nickolashe that was due to Github's markup, `* *` makes something italic

[2017-09-22 23:19] MaxTattenbach commented on #480
It works for me.

[2017-09-22 23:19] MaxTattenbach commented on #480
Agree with @dannypernik lets revisit in next stage.

[2017-09-22 23:41] MaxTattenbach commented on #479
@nickolashe, I am Ok with the pop-up if that's how its designed.  I think pop-up should display on the "user profile" rather than on the "Admin Org" profile.  See definitions that I suggest below.

@dannypernik @nickolashe   I am needing some clarity around definitions of profiles; I don't think we formally defined them. I think it is important to have clarity around this.

User Profile = The prof

[2017-09-22 23:54] MaxTattenbach commented on #480
Note that it makes sense to grant benefits to those that own lots of
Currents.  It's like paying for adds if you own Currents. :)

Max Tattenbach
Co-creator
www.opencurrents.com

On Fri, Sep 22, 2017 at 2:34 PM, dannypernik <notifications@github.com>
wrote:

[2017-09-23 00:00] MaxTattenbach commented on #444
Ok - got it.  As in fetch events I thought we were referring to events that
happened previously from our "release".  Something similar to the issue we
were having with the Currents in the DB tracked prior a certain date.   I
do think we should fetch events and Currents manually created.

Max

Max Tattenbach
Co-creator
www.opencurrents.com

On Fri, Sep 22, 2017 at 2:33 PM, dannypernik <notification

[2017-09-23 00:55] nickolashe commented on #275
@dannypernik can you define which emails we need to obtain exactly? why can't we fetch all emails with the subject "An invitation from Bike Austin", for example?

[2017-09-23 00:58] nickolashe commented on #424
ok, so another possibility is that admin did not have a first and last name?

[2017-09-23 01:00] nickolashe commented on #479
agreed on the profile defs @MaxTattenbach. I am not sure which popup you are talking about though - I don't think I mentioned any popups

[2017-09-24 03:55] MaxTattenbach commented on #479
The pop-up admins see when they have pending hours to approve.

Lets from now also talk about pending hours in the following way.

Pending Currents:  Status of Currents when hours are submitted by Volunteer
to Org-Admin. Seen in the User Profile as "Pending Currents"

Pending Hours: Status of Hours to be approved Org-Admins.  At the moment I
believe these show up as a pop-up in the User Profile wh

[2017-09-24 14:03] dannypernik commented on #480
@MaxTattenbach this would bias the offer list towards bigger businesses that have more customers at the expense of small local businesses/startups that should be at the core of our community. I assume this is what @nickolashe was getting at when he mentioned it seems unfair.

Listing offers based on % of Currents accepted would create the incentive while keeping a level playing field for big and s

[2017-09-24 14:07] dannypernik commented on #444
So @nickolashe can we just show all past events in org-admin for now? Note that nothing comes after 'Past events' in org-admin so there's no harm in listing all of them IMO

[2017-09-24 14:09] dannypernik commented on #275
@nickolashe because KAB would be including a link to our homepage from a personal email they send from their KAB account. If we had a unique link, we could track who's using that link to sign up

[2017-09-24 14:22] dannypernik commented on #424
@nickolashe perhaps you're right. looks like it's working fine for me:

<img width="608" alt="screen shot 2017-09-24 at 9 20 28 am" src="https://user-images.githubusercontent.com/3347095/30783524-d2de831e-a109-11e7-82dd-f292071dd780.png">

[2017-09-24 14:22] #424 closed

[2017-09-24 15:36] MaxTattenbach commented on #480
@dannypernik @nickolashe I guess no need to discuss more as we have agreed they would be ordered by date on MVP.

@dannypernik - note that if ordered by Current share you may have very unpopular products listed first in the market  place just because nobody wants them.  Usually market places tend to orders products based on popularity.

I also think that owning Currents is what brings value to our

[2017-09-24 17:20] dannypernik opened #509 "email: Send reminder at beginning of week when admin has hours pending approval"
I've created the email template `pending-hours` and sent to Mandrill. Only variable we need is `*|ADMIN_FNAME|*`

At the moment, the link directs to approve-hours, which will redirect to login if user is not logged in. We'd want to send them to approve-hours after login.

Currently, when visiting approve-hours without being logged in, the URL becomes http://localhost:8000/login/?next=/approve-hour

[2017-09-24 17:28] dannypernik commented on #417
@nickolashe @karbmk We need to add `*|EVENT_NAME|*` to `volunteer-messaged` `volunteer-registered` and `coordinator-messaged` templates. Please let me know when it's complete.

[2017-09-24 17:33] dannypernik commented on #480
agreed to leave for later

[2017-09-25 23:42] #375 closed

[2017-09-25 23:44] dannypernik commented on #399
@nickolashe @MaxTattenbach Both would be nice. This requires a backend task that's not MVP so I'm moving this to General backend.

[2017-09-26 04:30] MaxTattenbach commented on #399
Isn't Nicko using General Backend for MVP?

Max Tattenbach
Co-creator
www.opencurrents.com

On Mon, Sep 25, 2017 at 6:44 PM, dannypernik <notifications@github.com>
wrote:

[2017-09-26 07:09] dannypernik commented on #399
There's General backend and General MVP. I put it in the former

[2017-09-26 22:37] #408 closed

[2017-09-26 23:50] MaxTattenbach commented on #408
Sorry Danny, I guess I never closed the issue.  Fine with me.

Max Tattenbach
Co-creator
www.opencurrents.com

On Tue, Sep 26, 2017 at 5:37 PM, dannypernik <notifications@github.com>
wrote:

[2017-09-26 23:53] dannypernik commented on #453
PR #510

[2017-09-26 23:54] dannypernik commented on #421
PR #510

[2017-09-27 05:04] nickolashe commented on #486
https://github.com/opencurrents/opencurrents/pull/505

[2017-09-27 05:05] #486 closed

[2017-09-27 05:05] nickolashe commented on #487
https://github.com/opencurrents/opencurrents/pull/505

[2017-09-27 05:05] #487 closed

[2017-09-27 05:33] dannypernik commented on #408
All good

[2017-09-27 06:12] dannypernik commented on #439
f41d9504cc1c1a71cf0c460a2a98e13120108602

[2017-09-27 06:12] #439 closed

[2017-09-27 07:42] #454 closed

[2017-09-27 07:52] dannypernik commented on #275
@nickolashe @MaxTattenbach changing the name of issue since previous title is a duplicate of #455 . Perhaps we could just get all KAB events listed and have a volunteer sign up to an event to link their CERVIS account

[2017-09-27 19:51] dannypernik commented on #474
Removed export-data button and changed page name from leaderboard to public-record:

https://github.com/opencurrents/opencurrents/commit/8ae97c6cddd99d01af7a605bc7296629e14b9e0e

[2017-09-27 20:11] nickolashe commented on #498
@karbmk This is the next one on the list of issues

[2017-09-29 16:43] dannypernik opened #511 "event-detail: Allow easy copy/paste of invitees' emails"
Requested by Shavone at Bike Austin

[2017-09-29 18:01] dannypernik commented on #479
https://opencdesign.herokuapp.com/org-admin (probably need to be logged in first)

[2017-09-29 19:37] dannypernik commented on #481
@nickolashe I'm thinking of this as showing total pending USD but also showing volunteer a list of submitted hours and pending/approved status. Thoughts?

[2017-10-04 08:21] #488 closed

[2017-10-04 08:21] #489 closed

[2017-10-04 08:22] nickolashe commented on #490
@dannypernik collecting input from previous screens on confirmation is needed, as we discussed

[2017-10-05 07:06] #490 closed

[2017-10-05 07:06] #496 closed

[2017-10-05 07:06] #502 closed

[2017-10-05 07:16] #498 closed

[2017-10-06 22:01] nickolashe opened #515 "Org type (business, non-profit)"

[2017-10-06 22:01] nickolashe opened #516 "Business permissions"

[2017-10-06 22:15] dannypernik opened #517 "offer: Display dropdown after error message when Limit is clicked"

[2017-10-09 16:37] MaxTattenbach opened #518 "Beta messaging"
Let's include the beta messaging in the website.

[2017-10-09 19:14] dannypernik commented on #490
@nickolashe are inputs now being collected?

[2017-10-09 19:50] MaxTattenbach opened #519 "Crowdsource messaging"
Lets brainstorm on how we can display a few pop-up's reminding/incentivizing users to help us grow the network.

[2017-10-09 21:10] nickolashe commented on #499
1. show submitted manual hour requests
2. active orgs - list all

[2017-10-10 20:25] MaxTattenbach opened #520 "Nominate Org: Should display email of the user so we can follow-up with him."
![image](https://user-images.githubusercontent.com/26234440/31408699-11ea5520-adcf-11e7-9300-44e58f7330e9.png)

[2017-10-11 05:50] nickolashe commented on #490
yes, i think so

[2017-10-11 05:52] nickolashe commented on #517
@dannypernik i don't understand what the issue is about. can you please add a description and assign to someone

[2017-10-11 06:26] nickolashe opened #521 "Check that redeem currents form does not allow uploading files other than images"

[2017-10-12 00:39] dannypernik commented on #517
@nickolashe pretty tricky to explain actually, I can show you this sometime on screenshare and we can brainstorm how to fix it. Assigning both of us

[2017-10-12 00:44] dannypernik commented on #521
@nickolashe there's an `accept="image/*"` attribute in html that limits acceptable files to images:

https://github.com/opencurrents/opencurrents/blob/design/openCurrents/templates/redeem-currents.html#L53

This limits filetypes to PNGs, JPEGs, and GIFs.

[2017-10-12 07:09] #491 closed

[2017-10-12 07:09] #493 closed

[2017-10-12 07:09] #494 closed

[2017-10-12 07:10] nickolashe commented on #521
@dannypernik yes, thanks. this task was meant to be a unit test case spec.

[2017-10-13 19:04] MaxTattenbach opened #527 "Volunteer:"
You will receive cash back when paying to participating businesses, or pay Currents to friends directly.

Change to:  You will receive cash back when paying at participating businesses, or pay friends with Currents directly.

![image](https://user-images.githubusercontent.com/26234440/31561908-544b08ce-b00e-11e7-9870-763ed4073c55.png)

[2017-10-13 20:09] dannypernik commented on #527
This suggested change is not accurate until we connect give/receive currents pages, which are not part of the MVP if I remember.

[2017-10-13 20:09] dannypernik commented on #527
Down to change it post-MVP though

[2017-10-14 01:18] MaxTattenbach commented on #527
Give/receive are not part of MVP.
On Fri, Oct 13, 2017 at 3:09 PM dannypernik <notifications@github.com>
wrote:

[2017-10-14 17:27] #453 closed

[2017-10-14 17:39] dannypernik opened #529 "event-detail: Incorrect behavior when coordinator sends message to volunteers"
Currently, event-detail always directs to registration-confirmed on submit. This page states, "You're all set! Thank you for helping (org_name) (event_name) on (event_date)."

However, when a message is simply being sent from this page, either by a volunteer or by a coordinator, we should display a status message on profile or org-admin respectively.

We can display these status messages (with `cl

[2017-10-15 22:37] dannypernik commented on #520
<img width="695" alt="screen shot 2017-10-15 at 5 37 24 pm" src="https://user-images.githubusercontent.com/3347095/31590033-8f9d3bfa-b1cf-11e7-93ec-c6033e826f17.png">

[2017-10-15 22:37] #520 closed

[2017-10-15 22:49] dannypernik commented on #469
Seems like we've agreed on "Volunteer"

[2017-10-15 22:49] #469 closed

[2017-10-15 22:50] dannypernik commented on #521
Gotcha @nickolashe should we leave this open?

[2017-10-15 22:57] dannypernik opened #532 "profile: Change URL of gear-icon based on whether logged in user is admin of nonprofit or business"
Link to org-admin if nonprofit or biz-admin if business

[2017-10-16 00:18] dannypernik opened #533 "profile: Conditional logic for "Cash out" based on whether available dollars are present"
Button should have class `no-cash-popup_open` if no available dollars and `cash-out-popup_open` if available dollars. (search available_dollars in profile.html)

[2017-10-16 00:21] dannypernik opened #534 "profile: List user's Redeemed offers"
I've included `` comments wherever tags are required, including for the "Status" title (we don't want to show Status title if no offers are present)

[2017-10-16 00:23] dannypernik opened #535 "profile: Email to bizdev when user cashes out"

[2017-10-16 00:24] dannypernik opened #536 "menu: Add links for public-record, invite-admins, and export-data when ready"

[2017-10-16 02:11] dannypernik commented on #450
@nickolashe perhaps we can take care of this one during our next cowork session

[2017-10-16 02:20] dannypernik commented on #374
Curious on the status of this one

[2017-10-16 02:26] #535 closed

[2017-10-16 05:13] nickolashe commented on #374
i don't think anyone worked on this yet

[2017-10-16 05:14] nickolashe commented on #450
ok sure, how much work do you anticipate for this one?

[2017-10-16 08:06] nickolashe commented on #534
duplicate of #501

[2017-10-16 08:07] nickolashe commented on #534
@dannypernik can you please take a second to check the list of existing issues in the milestone before opening a new one

[2017-10-16 08:07] #534 closed

[2017-10-16 08:08] nickolashe commented on #501
https://github.com/opencurrents/opencurrents/pull/525/commits/cd91d81cf97428a1163979afb0f0fd36f61cecfe

[2017-10-16 08:08] #501 closed

[2017-10-16 08:46] nickolashe commented on #503
https://github.com/opencurrents/opencurrents/commit/73602b0b2b4603f06bf10fb72e06dcbafe4b4415

[2017-10-16 08:46] #503 closed

[2017-10-16 08:47] nickolashe commented on #521
yes

[2017-10-16 15:27] dannypernik commented on #450
20 mins or so

[2017-10-17 06:59] nickolashe opened #537 "Fix alignment of redeemed offers on user profile"
must have happened after resolving merge conflicts

[2017-10-17 07:27] nickolashe opened #538 "Change redirects based on is_admin"
to now being conditional on is_admin_biz / is_admin_org

[2017-10-17 07:38] nickolashe opened #539 "offer: fix alignment of the confirm button"
create offer flow

[2017-10-17 08:00] nickolashe opened #540 "redeem-currents: confirm button is not working when other PoP is chosen"

[2017-10-17 08:01] nickolashe commented on #450
ok, lets put it on the list

[2017-10-17 08:03] nickolashe commented on #538
duplicate of #532

[2017-10-17 08:03] #538 closed

[2017-10-17 08:03] nickolashe commented on #532
now being conditional on is_admin_biz / is_admin_org context var

[2017-10-17 08:05] #492 closed

[2017-10-17 23:09] #537 closed

[2017-10-17 23:12] nickolashe opened #541 "biz-admin: list both pending and approved redemption requests"

[2017-10-17 23:14] nickolashe commented on #541
add $ do dollar figures

[2017-10-17 23:14] nickolashe opened #542 "biz-admin: link receipts for redemption requests"

[2017-10-17 23:18] nickolashe commented on #515
note: check that org type has been implemented everywhere

[2017-10-20 02:08] MaxTattenbach opened #543 "org-admin: Event Drop Down - Add to list "View & Contact Invitees"."
Not intuitive that it's from "View Event Details" where you contact volunteers.  I would leave "View Event Details" but just leave the details of the events ad another section to contact them.

![image](https://user-images.githubusercontent.com/26234440/31801873-82a31f02-b510-11e7-9b32-707832c5e1ff.png)

[2017-10-20 02:11] MaxTattenbach opened #544 "Invite Volunteers: Must show those that have already been invited."
There is no way to easily know who has already been invited. Let's show the list.

![image](https://user-images.githubusercontent.com/26234440/31802111-ed0c718a-b511-11e7-9ceb-6817cf15be6c.png)

[2017-10-20 02:21] MaxTattenbach opened #545 "event-detail: Change message after Contacting Coordinator on View Event Detail."
It should say your message has been sent to the coordinator's email.

@nickolashe we'll need conditional variable to change the text. See comments below and the use-case spreadsheet:
https://docs.google.com/spreadsheets/d/15mnrkl4Rc5dsFX8VAGOeuPPfCQTPHyOWV1SVwkXIqNQ/edit?usp=sharing

[2017-10-20 02:38] MaxTattenbach opened #546 "event-detail: If volunteer is invited but has not signed up, email is not listed."
Emails are copied but not listed.

![image](https://user-images.githubusercontent.com/26234440/31802772-9c3ea9fe-b515-11e7-8d85-796ff58b1e06.png)

[2017-10-20 02:42] MaxTattenbach opened #547 "Back buttons needed throughout the dropdowns of the events."
![image](https://user-images.githubusercontent.com/26234440/31802869-3a969666-b516-11e7-934c-ba7a7b09f299.png)

[2017-10-20 02:47] MaxTattenbach opened #548 "Event Detail not working when assigning someone else."
Note this picture is taken from Admin who created an event but registered someone else as the main person of contact.  I suggest this feature is eliminated to avoid complications for MVP.

![image](https://user-images.githubusercontent.com/26234440/31802947-8c630628-b516-11e7-84f2-e32117653f12.png)

[2017-10-20 03:20] MaxTattenbach opened #549 "Manual Tracking: On Iphone 4 plugins if calendar not working."
Gala was also unable to view admins to submit hours.

[2017-10-20 03:27] MaxTattenbach opened #550 "Create Event: When assigning another "volunteer admin" to event there is no email being sent."
Let's discuss if we want to keep this feature.  If so we would need to add conditional logic that it is only possible if the person is affiliated with the Org.

[2017-10-20 03:42] MaxTattenbach opened #551 "Lets display forgot password on log-in"

[2017-10-20 03:44] MaxTattenbach opened #552 "Lets discuss if we want to lower the security for creating a password."
I would rather have a 6 letter minimum or same than any email account.

[2017-10-20 03:45] MaxTattenbach opened #553 "Profile: See spacing between Currents and Pending Currents on Mobile."

[2017-10-20 03:52] MaxTattenbach opened #554 "Our Story: Lets change on location of picture in vertical mobile"
Make the Sky the background or the Balancing Rock.  The Current one seems strange

[2017-10-20 03:53] MaxTattenbach opened #555 "Our Story: Lets add white background to keep consistency in second slide."

[2017-10-20 03:59] MaxTattenbach opened #556 "Our Story: Max to amend and draft a bit more."

[2017-10-20 04:08] MaxTattenbach opened #557 "Market Place: Change to November not October"
![image](https://user-images.githubusercontent.com/26234440/31804890-45ea9600-b522-11e7-8c9c-04356b22dc7a.png)

[2017-10-20 21:24] dannypernik commented on #374
@nickolashe I will design the coordinator dropdown in branch `coordinator`

[2017-10-20 23:39] #557 closed

[2017-10-20 23:59] dannypernik commented on #374
I tried setting up the dropdown in forms but there were a lot of references to coordinator_firstname and coordinator_email that were throwing errors. I started commenting these out in forms and views but figured I'd leave it. Also wasn't sure how to set up choices to display the org's admins in the dropdown.

Default coordinator should be the logged in admin.

[2017-10-21 08:17] nickolashe opened #558 "event-detail: show if event is public or private"

[2017-10-21 17:35] MaxTattenbach opened #560 "Time-tracker: Businesses showing-up on time tracker."
Only NGO's should show up.  Hope this is not a problem as I know we have been using Orgs for both Bussiness and NPOs

![image](https://user-images.githubusercontent.com/26234440/31854298-fcf8bf7c-b65b-11e7-9f37-038c4b3dc2b6.png)

[2017-10-21 17:39] MaxTattenbach opened #561 "Time-Tracker: Double error message display. Lets keep the one below."
![image](https://user-images.githubusercontent.com/26234440/31854325-ba236930-b65c-11e7-8157-172d93374ce6.png)

[2017-10-21 17:42] MaxTattenbach opened #562 "Profile: Eliminate Parenthesis on Dollars"
![image](https://user-images.githubusercontent.com/26234440/31854345-3dc4acae-b65d-11e7-8d6a-758927503803.png)

[2017-10-21 17:44] MaxTattenbach opened #563 "Admin Profile: Status message of hours declined not disappearing after refreshing the page."
![image](https://user-images.githubusercontent.com/26234440/31854355-5b5aa6d8-b65d-11e7-8de0-875b40af1459.png)

[2017-10-21 18:01] MaxTattenbach opened #564 "Redeem Currents: Display text after some one writes in the text box - I don't have proof-of-purchase"
Note after selecting "I don't have proof-of-puchase " it should deplay in the main screen after cbefore clicking "Next"
![image](https://user-images.githubusercontent.com/26234440/31854446-22573214-b65f-11e7-8aac-5e801e140ea3.png)

[2017-10-21 23:31] MaxTattenbach opened #565 "Offer: Current logo out of proportion in Internet explorer"
![image](https://user-images.githubusercontent.com/26234440/31856725-ed649b26-b68d-11e7-9530-60fcae7e157b.png)

[2017-10-21 23:35] MaxTattenbach opened #566 "offer: When Confirming offer the the percentage does not match the set offers input."
The offer was with 60% Current share and still displays as 25%.  This was with Internet Explorer browser

![image](https://user-images.githubusercontent.com/26234440/31856736-50afc05c-b68e-11e7-8d6e-7e2fb612e35b.png)

[2017-10-21 23:36] MaxTattenbach commented on #566
It does display correctly in the Biz Admin Profil
![image](https://user-images.githubusercontent.com/26234440/31856756-a923df7a-b68e-11e7-9915-289807e604a0.png)

[2017-10-21 23:37] dannypernik commented on #545
@nickolashe this refers to the `registration-confirmed` page, which the user is directed to after registering or sending a message. There's 2 scenarios where we need different messages - when someone messages the coordinator after having previously signed up, and when a coordinator messages volunteers. (The 3rd scenario, which the confirmation page was originally designed for, is when a volunteer

[2017-10-21 23:42] dannypernik commented on #549
@nickolashe @MaxTattenbach :/ not sure what to do about this one. I don't have a way to test it and haven't found any solutions based on a preliminary search.

[2017-10-21 23:46] MaxTattenbach opened #567 "Profile: After redeeming Offers Current Balance doesn't decrease and pending dollars doesn't go down"

[2017-10-21 23:55] MaxTattenbach opened #568 "Chash Out: Change message"
If you Confirm the "Send Dollars" you will receive an email in the next 48 hours from Dwolla, our ACH provider. In one easy step, your cash will be in your bank account.   Let's keep changing this world one Current at a time.

![image](https://user-images.githubusercontent.com/26234440/31856802-a9ac3b3e-b690-11e7-877a-b379ae1e8fdc.png)

[2017-10-21 23:55] dannypernik commented on #551
pushed to develop

[2017-10-21 23:55] #551 closed

[2017-10-21 23:58] dannypernik commented on #561
@MaxTattenbach it will be helpful if you can include the URL in your screenshots. Is this in openc.herokuapp?

[2017-10-22 00:00] dannypernik commented on #561
nvm I found it

[2017-10-22 00:00] #561 closed

[2017-10-22 00:00] MaxTattenbach opened #569 "Chash Out: Amount of Cash needs to be displayed in the confirmation."
I suggest this always equal the total amount in the balance.  - Change button to "Send Dollars" rather than "Send Cash".

![image](https://user-images.githubusercontent.com/26234440/31856835-d2ad52c4-b691-11e7-916a-0659c1414276.png)

[2017-10-22 00:01] dannypernik commented on #562
@MaxTattenbach this shows that these are hardcoded numbers, not yet variables. @nickolashe we don't have var names for dollars yet, correct?

[2017-10-22 00:03] MaxTattenbach opened #570 "Confirmation Message after Send Cash needs to be added."
I suggest the following:

Your Dollars are on the way.  In less than 48hours, you should be receiving an email from Dwolla.

[2017-10-22 00:08] MaxTattenbach opened #571 "Redeem-Offers: Not working on Cel Phone."
Going from Add Receipt to Record price on Safari is not possible.

[2017-10-22 00:09] MaxTattenbach opened #572 "Reedem Offers: Buttons out of wack in cel phone iphone 7 vertical and horizontal."

[2017-10-22 00:10] dannypernik commented on #564
pushed to develop

[2017-10-22 00:10] #564 closed

[2017-10-22 00:11] dannypernik commented on #565
@MaxTattenbach we're just requesting a really large share, right?

[2017-10-22 00:19] dannypernik commented on #566
@MaxTattenbach @nickolashe not sure how to troubleshoot IE-related issues, as I can't reproduce them. Is this error only happening on IE and not chrome or FF?

[2017-10-22 00:20] MaxTattenbach opened #573 "biz-admin: Eliminate buttons of Accept/Decline"
The idea is good but may be outside of the scope of MVP.    Unless we really want the vendor to accept or decline from his profile for MVP.  I don't think this has been discussed as part of the requirements.

@dannypernik @nickolashe  What are your thoughts?   Definitely, a nice to have but not a must-have to prove the concept.

![image](https://user-images.githubusercontent.com/26234440/31856898-

[2017-10-22 00:22] dannypernik commented on #569
yep. changed 'cash' to 'dollars' and made it clear full balance will be transferred.

[2017-10-22 00:23] dannypernik commented on #570
Probably a status message on top of profile?

[2017-10-22 00:24] dannypernik commented on #572
screenshot?

[2017-10-22 00:25] dannypernik opened #574 "redeem-offers: content disappears after clicking 'next' on iPhone 7"

[2017-10-22 00:29] MaxTattenbach opened #575 "profile: Change Message: Display "Date, $ Amount and Currents""
For Example, if an offer was redeemed with Fast Folks.  Current Share 50% for 15 dollars.
Then message should display:

10/15 - you redeemed $7.5 for 0.75C with Fast Folks

![image](https://user-images.githubusercontent.com/26234440/31856933-3ce20204-b695-11e7-8810-85b33989d26b.png)

[2017-10-22 00:35] MaxTattenbach opened #576 "marketplace: Remaining offers on market place should go down as offers get redeemed"
![image](https://user-images.githubusercontent.com/26234440/31856974-c1003d84-b696-11e7-879e-ba681985218f.png)
![image](https://user-images.githubusercontent.com/26234440/31856977-d0f7fb64-b696-11e7-9b6d-cb962d09a6ab.png)

[2017-10-22 00:46] MaxTattenbach opened #577 "Redeem-Currents: Confirm Exchange - Amount should change according to percentage of price of good/service"
Note for this example Fast Folks is accepting 60% Current Share and the Service is $100. Then confirmation message should be 6 Currents for $60, not 10 C for $100.

![image](https://user-images.githubusercontent.com/26234440/31857022-e8119c1e-b697-11e7-8667-a9ed469d1b59.png)

[2017-10-22 00:48] MaxTattenbach opened #578 "Confirm Exchange: After Confrim Exchange Status message should appear and User should be redirected to profile"
Currently - nothing happens after clicking confirm

![image](https://user-images.githubusercontent.com/26234440/31857050-acc8d7b6-b698-11e7-9d1c-3db7e8f0e77f.png)

[2017-10-22 00:58] MaxTattenbach opened #579 "Redeem Currents: Upload Receipt - Change message"
Change Text to: To exchange Currents for dollars with Fast Folks, upload your receipt as proof of purchase. Receipts are the best proof of purchase others such as an image of your bank statement, may or may not be accepted. Why do I pay full price?

Upload Receipt/Proof of Purchase

 I don't have proof of purchase.

![image](https://user-images.githubusercontent.com/26234440/31857072-758eed5c-b699

[2017-10-22 01:03] MaxTattenbach opened #580 "Redeem Currents: Upload Receipt - display status message if nothing is uploaded or description added."
The message could be:  It's unlikely "XX" will accept Currents without any proof of purchase or description of the transaction.
![image](https://user-images.githubusercontent.com/26234440/31857111-8f79bca0-b69a-11e7-8e5c-e919998fd359.png)

[2017-10-22 01:12] MaxTattenbach opened #581 "redeem-currents: provide textbox as alternative PoP"
@dannypernik @nickolashe - we should decide if we want to inhibit going forward from add receipt if neither a receipt or description are added.   I think best to make it necessary to either upload receipt or to add a description.   If this is the case just adding a description should allow you to confirm the offer.

![image](https://user-images.githubusercontent.com/26234440/31857134-3aaaa09e-b69b

[2017-10-22 04:04] MaxTattenbach commented on #572
On Sat, Oct 21, 2017 at 11:01 PM Max Tattenbach <max@opencurrents.com>
wrote:

[2017-10-22 04:18] nickolashe commented on #540
closing in favor of #581

[2017-10-22 04:18] #540 closed

[2017-10-22 04:59] nickolashe commented on #572
@MaxTattenbach did you mean to attach the screenshot via email reply?

[2017-10-22 05:03] nickolashe commented on #578
@MaxTattenbach you must have went the route of other PoP (see issue #540). Confirm does work the main route (uploading receipt).

[2017-10-22 05:03] nickolashe commented on #578
@MaxTattenbach can you verify it works for you please

[2017-10-22 05:06] nickolashe commented on #577
@dannypernik looks like the conversion of inputs is incorrect here

[2017-10-22 05:16] nickolashe commented on #570
which page is this on?

[2017-10-22 05:36] nickolashe commented on #573
It should not be hard to have them approve / decline

[2017-10-22 05:37] nickolashe commented on #566
@dannypernik sounds like a problem with input aggregation again?

[2017-10-22 05:41] nickolashe commented on #561
what was the issue?

[2017-10-22 05:42] nickolashe commented on #567
pending dollars should go up i believe, and yes this is not implemented yet

[2017-10-22 05:43] nickolashe commented on #567
i think decreasing current balance is debatable since the offer has not been accepted yet

[2017-10-22 05:44] nickolashe commented on #549
not sure either

[2017-10-22 05:44] nickolashe commented on #545
@dannypernik what would be the easiest in your opinion?

[2017-10-23 02:52] nickolashe opened #583 "Models"

[2017-10-23 02:53] nickolashe commented on #583
https://github.com/opencurrents/opencurrents/pull/582

[2017-10-23 02:53] #583 closed

[2017-10-23 02:54] nickolashe opened #584 "Create a user entity for every new and existing user"

[2017-10-23 02:55] nickolashe opened #585 "Create org or biz entity for every new and existing org"

[2017-10-23 02:56] nickolashe commented on #585
create account as well

[2017-10-23 02:56] nickolashe commented on #584
create account as well

[2017-10-23 03:00] nickolashe opened #586 "Volunteer hours approved triggers a new transaction record in ledger"

[2017-10-23 03:01] nickolashe opened #587 "Offer redemption request approved triggers a new transaction record in ledger"

[2017-10-23 03:03] nickolashe opened #588 "USD transferred from biz triggers a new transaction record in ledger"

[2017-10-23 03:04] nickolashe opened #589 "USD cashed out triggers a new transaction record in ledger"

[2017-10-23 03:05] nickolashe opened #590 "API wrapper around ledger"

[2017-10-23 03:06] nickolashe opened #591 "API wrapper around account"

[2017-10-23 03:17] nickolashe commented on #586
is_issued = True

[2017-10-23 05:09] dannypernik opened #592 "record hours: Let admins track hours for volunteers"
Requested by Bike Austin when their volunteers don't submit hours or don't have an account.

[2017-10-23 07:03] #590 closed

[2017-10-23 07:03] #591 closed

[2017-10-23 15:01] dannypernik commented on #580
@nickolashe should status message issues such as this one be assigned to you in General MVP?

[2017-10-23 15:10] dannypernik commented on #575
@MaxTattenbach how about: 10/15 - Fast folks accepted C0.75 for $7.50
By the way, the reason I didn't use this language in the first place is that if redemption is pending, the business has not actually accepted the transaction so this statement is not true. We could say 'Fast Folks accepts C0.75 for $7.50'?

[2017-10-23 15:11] dannypernik commented on #576
And removed when 0 remain for a given month

[2017-10-23 15:19] dannypernik commented on #579
@MaxTattenbach changed the title to "Upload receipt or proof of purchase" and changed "Why am I paying full price" to "why do I pay full price". I don't think the additional sentence in the text is necessary. If you're ok with this, you can close the issue.

[2017-10-23 15:29] dannypernik commented on #577
Ah good catch @MaxTattenbach . fixed

[2017-10-23 15:29] #577 closed

[2017-10-23 16:04] dannypernik commented on #570
@nickolashe the "cash-out-popup" is part of profile page, so we can display the status message there on submit.

[2017-10-23 16:08] dannypernik commented on #573
@nickolashe @MaxTattenbach I think we can get rid of these buttons because we don't want a business to have to log in and accept/decline offers one by one. Perhaps the easiest way would be to have one page that shows all of the receipt images and a decline button next to each. Kind of like approve-hours, I think we should have one Accept button. We could even have that button say "Accept X offers,

[2017-10-23 22:45] dannypernik commented on #374
shavone@bikeaustin.org requested this issue on 10/20

[2017-10-23 22:47] dannypernik commented on #511
shavone@bikeaustin.org requested this issue on 10/20

[2017-10-23 22:48] dannypernik commented on #592
shavone@bikeaustin.org requested this issue on 10/20

[2017-10-23 23:23] MaxTattenbach opened #593 "redeem-currents: Amount minus fees must be listed on confirmation. End user will need to agree to accept the amount minus fees."

[2017-10-23 23:57] nickolashe opened #594 "User Requests: Bike Austin"
core call 10/23: agreed to aim for releasing by end of day

[2017-10-24 00:04] nickolashe commented on #580
do we see this message appearing before or after submitting the form?

[2017-10-24 00:07] nickolashe commented on #575
i think lets show the following:
when status is pending: Fast Folks offers $7.50 for C0.75
when status is approved: Fast folks accepted C0.75 for $7.50

[2017-10-24 00:10] nickolashe commented on #570
works for me

[2017-10-24 00:19] nickolashe commented on #573
have we agreed to remove the buttons for requests backed by receipts altogether?

[2017-10-24 00:20] nickolashe commented on #374
pretty old issue actually

[2017-10-24 00:23] nickolashe commented on #592
@dannypernik should this be added to #594 ?

[2017-10-24 00:23] nickolashe commented on #593
@dannypernik are you able to make this change?

[2017-10-24 01:13] MaxTattenbach commented on #573
Yes for the meantime.  If we have time we can add later.

Max Tattenbach
Co-creator
www.opencurrents.com

On Mon, Oct 23, 2017 at 7:19 PM, nickolashe <notifications@github.com>
wrote:

[2017-10-24 04:12] nickolashe commented on #546
@dannypernik could you also remember to change the milestone when modifying an issue to make sure it is under my radar

[2017-10-24 04:19] nickolashe commented on #581
@dannypernik can we start by adding a textbox to the form?

[2017-10-24 04:45] nickolashe commented on #533
@dannypernik next time can you please separate the causes into separate issues whenever there is more than one like here

[2017-10-24 04:49] nickolashe commented on #541
@dannypernik you can help out with the UI here if you'd like

[2017-10-24 04:50] nickolashe commented on #567
agreed on decrementing available currents balance

[2017-10-24 04:51] nickolashe commented on #573
@MaxTattenbach when you create a new issue, can you please follow the above format (prefixing with the actual name of the page)

[2017-10-24 04:52] nickolashe commented on #574
@dannypernik can you provide a time estimate here pls

[2017-10-24 05:00] nickolashe commented on #517
@dannypernik  i think you were planning to elaborate on the issue

[2017-10-24 05:01] nickolashe commented on #539
@dannypernik any progress here?

[2017-10-24 05:02] nickolashe commented on #566
@dannypernik i think i've seen a commit related to this recently?

[2017-10-25 05:20] dannypernik commented on #547
@MaxTattenbach I don't understand. A back button back to profile?

On Thu, Oct 19, 2017 at 9:42 PM, MaxTattenbach <notifications@github.com>
wrote:

[2017-10-25 05:34] dannypernik commented on #563
@nickolashe I assume the status message is going to stay the same if the URL stays the same? @MaxTattenbach I don't believe there's an easy way to fix this given how we're displaying error messages atm.

[2017-10-25 05:47] dannypernik commented on #566
@nickolashe I had made a similar change to the redeem-offer page. Just pushed to develop

[2017-10-25 05:47] #566 closed

[2017-10-25 06:19] dannypernik commented on #546
@nickolashe noted

[2017-10-25 06:22] dannypernik commented on #580
@nickolashe I see it as occurring after submitting.

[2017-10-25 06:25] dannypernik commented on #581
@nickolashe this is a duplicate of an issue I've closed. Textbox is `{{ form.redeem_no_proof }}`. Please close if you're good with this.

[2017-10-25 06:43] dannypernik commented on #593
@nickolashe yes, but we need to agree on the transaction fee. 10% @MaxTattenbach ?

[2017-10-25 06:46] #257 closed

[2017-10-25 06:51] dannypernik commented on #569
Realized Max wants to display the total dollars being cashed out in popup.

[2017-10-25 06:55] dannypernik commented on #571
@MaxTattenbach please edit these titles to match the name of the page, so redeem-offers instead of Redeem Offers. This will allow us to search for issues more easily.

[2017-10-25 06:58] dannypernik commented on #374
yup

[2017-10-25 06:59] dannypernik commented on #592
yep, done

[2017-10-25 07:01] dannypernik commented on #594
@MaxTattenbach @nickolashe how often do you think we should update Bike Austin? The first 3 of these issues will be done much more quickly than the last requested feature. I think we should update after the first 3 are ready.

[2017-10-25 07:01] dannypernik commented on #533
@nickolashe would this one make sense as an epic since they are related?

[2017-10-25 07:55] dannypernik commented on #539
fixed

[2017-10-25 07:55] #539 closed

[2017-10-25 14:43] MaxTattenbach commented on #593
I am inclined for 20% but lets discuss today. I came up with a good idea.
On Wed, Oct 25, 2017 at 1:43 AM dannypernik <notifications@github.com>
wrote:

[2017-10-25 14:44] MaxTattenbach commented on #571
Danny - they all match page titles. Next time i'll make sure to include
hyphens. Thanks!
On Wed, Oct 25, 2017 at 1:55 AM dannypernik <notifications@github.com>
wrote:

[2017-10-25 14:46] MaxTattenbach commented on #563
I think we can eliminate that status message. I don't think its that
important. Its pretty evident when hours are declined.
On Wed, Oct 25, 2017 at 12:34 AM dannypernik <notifications@github.com>
wrote:

[2017-10-25 14:48] MaxTattenbach commented on #547
Lets do a run but there seems to be several places were a back to profile
button would be useful.
On Wed, Oct 25, 2017 at 12:20 AM dannypernik <notifications@github.com>
wrote:

[2017-10-25 14:51] MaxTattenbach commented on #517
Lets discuss if necessary.
On Tue, Oct 24, 2017 at 12:00 AM nickolashe <notifications@github.com>
wrote:

[2017-10-25 14:53] MaxTattenbach commented on #567
Correct Nicko. Current balance goes down and pending USD up!
On Mon, Oct 23, 2017 at 11:50 PM nickolashe <notifications@github.com>
wrote:

[2017-10-25 21:20] dannypernik commented on #541
@nickolashe I've copied the "Redeemed offers" section (including all logic) and made 2 sections - "Pending redemptions" and "Accepted redemptions". You'll need to change the variables in the logic accordingly. This is currently unDRY and when I find time to continue front-end refactoring, I'd like to figure out how to create blocks for these kind of lists.

[2017-10-25 21:21] dannypernik commented on #572
@MaxTattenbach still need a screenshot. If you tried adding via email, it didn't work.

[2017-10-25 22:17] dannypernik commented on #575
@nickolashe received "Could not convert string to float" error when trying to copy logic from biz-admin page. Pushed to issue#575 branch:

![Uploading Screen Shot 2017-10-25 at 4.55.53 PM.png…]()

[2017-10-26 00:14] dannypernik commented on #575
I commented out the variables to avoid the error

[2017-10-26 00:23] #573 closed

[2017-10-26 00:30] dannypernik commented on #571
@MaxTattenbach thanks. Nicko also mentioned one that you named based on a description of a popup. Please use the page URL for popup-related issues too.

[2017-10-26 00:34] dannypernik commented on #563
@MaxTattenbach all status messages will remain when refreshing the page. It's not just an issue with the hours declined message. Also it will say "You have accepted X volunteers and declined Y volunteers" when X and Y are positive. No reason to remove this status message because it persists after page refresh.

[2017-10-26 00:35] dannypernik commented on #547
Ok

[2017-10-26 02:03] dannypernik commented on #517
fixed

[2017-10-26 02:03] #517 closed

[2017-10-26 04:48] nickolashe commented on #563
agreed. i don't think that many users will keep refreshing the page. not the most common use case in other words. feel free to close if sounds good

[2017-10-26 05:01] nickolashe commented on #575
@dannypernik so `disc` is undefined here as we discussed. can you write what you are looking for in terms of the existing variables?

[2017-10-26 05:02] nickolashe commented on #533
definitely

[2017-10-26 05:03] nickolashe commented on #594
sounds good to me

[2017-10-26 05:04] nickolashe commented on #594
note that the board view allows to keep track of the state of each issue (i added a "Notified User" state)

[2017-10-26 05:06] nickolashe commented on #581
got it. is it in develop?

[2017-10-26 05:06] nickolashe commented on #581
please close if so

[2017-10-26 05:08] nickolashe commented on #580
ok, are they aware of the notion one way or another prior to submitting?

[2017-10-26 22:13] dannypernik commented on #594
@nickolashe not sure Notified User state is particularly helpful since closing an issue moves it to the Closed state. Issues in org-requested epics should not be closed until the user is notified.

[2017-10-26 22:16] dannypernik commented on #594
I would like to be able to notify Bike Austin tomorrow daytime that the initial 3 issues of this epic have been updated in master.

[2017-10-26 22:19] dannypernik commented on #581
@nickolashe does the input automatically get submitted to the backend if `form.redeem_no_proof` is defined in forms.py and added to HTML? Or do you have to do something else with it?

[2017-10-26 22:21] dannypernik commented on #580
I think they should expect to need to do one or the other. However we could disable "Next" buttons in both offer and redeem-currents until input is made if we want to.

[2017-10-26 23:42] dannypernik commented on #593
Note this is for 25% Current share and recorded price of $12.34:

<img width="636" alt="screen shot 2017-10-26 at 6 37 17 pm" src="https://user-images.githubusercontent.com/3347095/32081761-e67637b4-ba7c-11e7-8a12-84b57a65a996.png">

Note that the Currents exchange amount rounds to 3 digits, while the precise calculation would be 0.3085 Currents. I think 3 decimals is reasonable since dollars:curr

[2017-10-26 23:47] dannypernik opened #595 "profile: Send email to bizdev when user cashes out"

[2017-10-26 23:50] dannypernik opened #596 "profile: Conditional logic for "Cash out" based on whether dollars_available"
Button should have class `no-cash-popup_open` if no available dollars and `cash-out-popup_open` if available dollars. (search available_dollars in profile.html)

[2017-10-27 00:00] dannypernik opened #597 "export-data: Allow admins to download volunteer data to CSV"
Note we decided to include this in MVP in the PoC milestones spreadsheet.

PR #178

[2017-10-27 00:04] dannypernik commented on #497
@nickolashe trying to remember what we said for the design of this one. Are we good with having a popup displaying "Are you sure you want to delete?" on biz-admin page? The button inside the popup would be a submit button.

[2017-10-27 00:07] dannypernik commented on #574
Duplicate of #571

[2017-10-27 00:07] #574 closed

[2017-10-27 00:18] dannypernik commented on #546
@nickolashe should we also include this in the Bike Austin epic since it's related to the copy/paste email button?

[2017-10-27 00:22] dannypernik opened #598 "npf and biz: Resave all orgs after backend db structure is pushed to master"
Since we switched from a string field to choice field, these org entries need to be resaved.

[2017-10-27 00:31] dannypernik commented on #558
@nickolashe added "(Public/private) event" to event-detail in `event_privacy` branch. Variable needs to be included there.

[2017-10-27 04:46] MaxTattenbach opened #599 "Profile: Create Pop-up with opt-in where users can con confirm their willingness help grow the oC community"
Proposed Text:

Welcome to the openCurrents community.  We are just getting started and your contribution to growing our community is essential. If you would like to help our community grow by referring your favorite nonprofits, businesses, friends or even influencers please opt-in.  You could also receive brand ambassador status. One of our members will be in touch with you shortly.  Let's change

[2017-10-27 05:08] MaxTattenbach commented on #593
Three decimal on Currents seems fine when they are present. If no decimal
then let's not show three decimal points.

I suggest we replace text to:

I agree to exchange 0.308 C for $2.77 Dollars. Note: Add question mark next
to dollars (?)  - If they click we can illustrate the breakdown of fees.

A total of $2.77 Pending Dollars will be added to your account while 0.308
C will be deducted.  Once K

[2017-10-27 05:17] MaxTattenbach opened #600 "Create a basic Q&A for Biz, NP, Vol."
Max and Danny to discuss the need for this.  It seems important and definitely lacking in biz side.  Can we delete an offer? How often do I validate offers?  etc.   It seems that some key information is not yet provided.

[2017-10-27 05:24] MaxTattenbach commented on #571
Got it!

Max Tattenbach
Co-creator
www.opencurrents.com

On Wed, Oct 25, 2017 at 7:30 PM, dannypernik <notifications@github.com>
wrote:

[2017-10-27 05:26] MaxTattenbach commented on #563
So does it ever disappear? Or when would it disappear?

Max Tattenbach
Co-creator
www.opencurrents.com

On Wed, Oct 25, 2017 at 11:48 PM, nickolashe <notifications@github.com>
wrote:

[2017-10-27 18:51] MaxTattenbach opened #601 "Home: Amend messaging on sign-up for clarity and distinction between users, orgs and individuals."

[2017-10-27 19:09] #106 closed

[2017-10-27 19:17] dannypernik commented on #302
duplicate of #219

[2017-10-27 19:17] #302 closed

[2017-10-27 20:32] dannypernik opened #604 "time-tracker: Check that end time is not in the future"

[2017-10-27 21:11] nickolashe commented on #575
format the date of redemption

[2017-10-28 01:36] dannypernik commented on #455
@nickolashe designed in `personal_message` branch. Note that the page's personal message and the bulk-email message are handled differently as they are 2 separate forms. Try writing a personal message in each to see how they are set up.

[2017-10-28 08:13] #575 closed

[2017-10-28 08:14] #541 closed

[2017-10-28 08:17] nickolashe commented on #581
i need to make sure it is saved, yes

[2017-10-28 08:18] nickolashe commented on #593
@dannypernik i think i've seen this change implemented already or am i wrong?

[2017-10-28 08:22] nickolashe commented on #541
@dannypernik I suggest going forward we never implement new features unDRY but rather make the effort to figure out the proper way. Otherwise we'll end up with a huge backlog that's increasingly hard to manage.

[2017-10-28 08:24] nickolashe commented on #532
@dannypernik can we close this one?

[2017-10-28 08:25] #499 closed

[2017-10-28 08:25] #495 closed

[2017-10-28 08:26] #480 closed

[2017-10-28 08:27] #475 closed

[2017-10-28 08:28] #388 closed

[2017-10-28 19:09] dannypernik commented on #518
@MaxTattenbach where do you envision this messaging? In a Welcome popup automatically displayed when the user first logs in? Or on the homepage?

[2017-10-28 20:09] dannypernik commented on #519
@nickolashe I've created the popup in profile.html on develop branch. It auto-opens due to this line:
https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/templates/profile.html#L403

We'll need to add conditional logic that only opens the popup if they haven't answered the question (it's currently possible to click outside the popup and not answer the question. We could force an

[2017-10-28 20:48] dannypernik commented on #543
@nickolashe Will `{% if user is coordinator %}` or something to that effect be available in org-admin.html? Only coordinator can view and contact invitees so we would need to add that logic inside the event dropdown.

[2017-10-29 01:05] MaxTattenbach commented on #518
I think both home page and profile. I would place it next to or close to
the openCurrents logo (home button).
On Sat, Oct 28, 2017 at 2:09 PM dannypernik <notifications@github.com>
wrote:

[2017-10-29 05:12] nickolashe opened #606 "All balances should be based on the ledger"

[2017-10-29 07:56] nickolashe opened #607 "Token API wrapper"

[2017-10-29 08:06] nickolashe opened #608 "Figure out user signup mess"

[2017-10-30 04:11] dannypernik opened #609 "invite-volunteers: Preview email"
Let admins see what content will be sent in their email invite

[2017-10-30 04:13] dannypernik commented on #609
<img width="728" alt="screen shot 2017-10-29 at 11 10 01 pm" src="https://user-images.githubusercontent.com/3347095/32154408-82ec5a50-bcfe-11e7-8f89-19200867c122.png">
<img width="719" alt="screen shot 2017-10-29 at 11 10 24 pm" src="https://user-images.githubusercontent.com/3347095/32154410-84872a3e-bcfe-11e7-8028-1a48c6260940.png">

@nickolashe @MaxTattenbach Different email previews based on wh

[2017-10-30 04:13] dannypernik commented on #609
Included in personal_message branch

[2017-10-30 04:28] dannypernik commented on #544
<img width="969" alt="screen shot 2017-10-29 at 11 24 06 pm" src="https://user-images.githubusercontent.com/3347095/32154707-5d7decdc-bd00-11e7-888d-896f9475a40b.png">

@MaxTattenbach can we go without this "See invited volunteers" button? We've got so much going on with this page, especially now with the personal message and email preview. Also, I don't know that it makes sense to show a list of

[2017-10-30 04:34] dannypernik commented on #600
@MaxTattenbach are you suggesting a presentation on this like the user flows that we have for admins and volunteers? Or an FAQs page on the website?

[2017-10-30 04:35] dannypernik commented on #563
It would disappear as soon as you click on any link on the page.

[2017-10-30 04:35] dannypernik commented on #581
Ok, over to you.

[2017-10-30 04:40] dannypernik commented on #593
yes in develop

[2017-10-30 04:40] #593 closed

[2017-10-30 04:42] #532 closed

[2017-10-30 05:14] dannypernik commented on #518
"Beta" added next to logo. Popup is included in separate issue

[2017-10-30 05:14] #518 closed

[2017-10-30 07:26] nickolashe opened #610 "Determine unused templates"
I'd like to remove all unused templates from the current tree (for clarity). Are we using org-signup, for instance? Could you create a list of templates we are no longer using?

[2017-10-30 07:33] nickolashe commented on #581
i don't actually, so reopening

[2017-10-30 07:35] nickolashe commented on #544
i don't think we have a check like that yet

[2017-10-30 07:36] nickolashe commented on #609
should we move to General mvp?

[2017-10-30 07:37] nickolashe commented on #543
yes we can make that happen. should this be moved to General mvp?

[2017-10-30 07:39] nickolashe commented on #519
sure sounds good, lets find a time this week to step though an example. i am currently occupied with pr #582 so any help on other fronts would be much appreciated.

[2017-10-30 07:47] nickolashe commented on #558
event model already contains a field `is_public`:
https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/models.py#L141

[2017-10-30 07:49] nickolashe commented on #558
event-detail is a DetailView and the context object name is `event`:
https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/views.py#L1849-L1851

[2017-10-30 07:49] nickolashe commented on #599
i think i've seen another issue related to this

[2017-10-30 07:50] nickolashe commented on #598
correct, thanks for creating the issue

[2017-10-30 07:51] nickolashe commented on #546
sounds good

[2017-10-30 07:53] nickolashe commented on #497
yes i think this will work here

[2017-10-30 07:55] nickolashe commented on #580
i think that would be a good idea if its not to involved

[2017-10-30 07:58] nickolashe commented on #594
@dannypernik not sure i am following your previous comment, one can drag issues from one bucket to another. i think its pretty useful to know which steps we took.

[2017-10-30 15:21] dannypernik commented on #543
Pushed to develop and moved to General mvp. Search `{% if user is coordinator %}` (currently commented out) in org-admin to find where conditional statement needs to be added.

[2017-10-30 15:32] dannypernik opened #611 "org-admin: Can we delete this status message div?"
https://github.com/opencurrents/opencurrents/blob/f09278250f702ed0272b05a36c6333840eb204a2/openCurrents/templates/org-admin.html#L16

@nickolashe Looks like we're using conditional statements below it to display the status messages. Just want to make sure there's not some case where we use it.

[2017-10-30 16:41] dannypernik commented on #421
@nickolashe do we have a way to display `{{ coordinator.firstname }} {{ coordinator.lastname }}` on event-detail? You can search the above var names in event-detail on coordinator_name branch

[2017-10-30 17:03] dannypernik commented on #545
@nickolashe perhaps using registration-confirmed but renaming it event-confirmation would be easier so you don't have to change the routing. One point to note is that we can't use `if is_registered` (currently used on event-detail) to distinguish between users who are registering for the first time and users who are already registered and just sending a message. Once the user reaches registration-

[2017-10-30 17:06] dannypernik commented on #609
@nickolashe I don't believe there's anything for you to do on the backend for this one, unless you want to add variables for event date, time, and location. I don't think it's necessary unless the vars are already accessible.

[2017-10-30 17:16] dannypernik commented on #599
Duplicate of #519. Copying Max's proposed text there

[2017-10-30 17:19] dannypernik commented on #519
Max's Proposed Text from #599:

Welcome to the openCurrents community. We are just getting started and your contribution to growing our community is essential. If you would like to help our community grow by referring your favorite nonprofits, businesses, friends or even influencers please opt-in. You could also receive brand ambassador status. One of our members will be in touch with you shortly.

[2017-10-30 17:38] #599 closed

[2017-10-30 18:28] dannypernik commented on #547
@MaxTattenbach I've added a "Back to profile" link on event-detail but note that people are coming from different pages in different scenarios. An admin will come from org-admin while a volunteer will come from upcoming-events if a new event and profile if they are already registered. Do you want a link to profile on event-detail? I'm fine with it either way.

[2017-10-30 18:34] dannypernik commented on #519
Agreed text with Max:
<img width="635" alt="screen shot 2017-10-30 at 1 33 03 pm" src="https://user-images.githubusercontent.com/3347095/32188868-fdc55cf4-bd76-11e7-8b8d-6e9394c7a267.png">

[2017-10-30 19:48] #553 closed

[2017-10-30 20:04] #554 closed

[2017-10-30 20:05] #562 closed

[2017-10-30 20:28] dannypernik commented on #568
<img width="815" alt="screen shot 2017-10-30 at 3 28 13 pm" src="https://user-images.githubusercontent.com/3347095/32193975-fac5c2f4-bd86-11e7-8cd9-a3ef125ec8a8.png">

[2017-10-30 20:28] #568 closed

[2017-10-31 00:07] nickolashe commented on #568
is this in develop?

[2017-10-31 00:07] nickolashe commented on #568
@dannypernik can you please remember to include a brief message of where things can be found

[2017-10-31 00:08] nickolashe commented on #562
dollars are WIP

[2017-10-31 00:09] nickolashe commented on #547
perfect candidate for an exact use case spec run

[2017-10-31 00:10] nickolashe commented on #609
i am ok with the way it is

[2017-10-31 00:10] #609 closed

[2017-10-31 00:12] nickolashe commented on #545
broadly speaking, this is a giant piece of confusion for me with the whole coordinator / registered / invited / notified bonanza. please see my other message regarding this being a perfect candidate for a use case specs.

[2017-10-31 00:13] nickolashe commented on #421
i thought we are removing coordinator from some page, was it not from this one?

[2017-10-31 00:14] nickolashe commented on #611
@dannypernik i am not seeing any conditionals, mind linking me to those directly?

[2017-10-31 03:13] dannypernik commented on #565
@MaxTattenbach can you try clearing your cache on IE and rechecking this page? Here's instructions to clear cache on IE: https://kb.wisc.edu/page.php?id=15141

[2017-10-31 03:56] MaxTattenbach commented on #572
Guys I did try to add screen shoot via email rely I guess it didn't work.
It seems that Danny got it working.
On Mon, Oct 30, 2017 at 10:13 PM dannypernik <notifications@github.com>
wrote:

[2017-10-31 04:49] dannypernik commented on #580
I'm having trouble getting disabled/enabled to work properly. Biggest problem is that disabled property on Next button was not preventing the page from sliding to next page when clicked. I tried adding an if statement to only slide when button was enabled, but now it won't slide under either condition. Also I've not had success in adding disabled field back to button if text or image is removed.

[2017-10-31 05:13] nickolashe opened #612 "Create an alias for check-email rather than passing orgid"

[2017-10-31 06:07] nickolashe commented on #580
post-submit that is? sounds good to me

[2017-10-31 06:08] nickolashe commented on #580
@danny can you transfer to the use case doc pls

[2017-10-31 22:14] dannypernik commented on #558
got it, thanks

[2017-10-31 22:14] #558 closed

[2017-10-31 22:59] dannypernik commented on #497
Cool, popup is in biz-admin on develop

[2017-10-31 23:00] dannypernik commented on #568
@nickolashe yea sorry. this is in develop.

[2017-10-31 23:41] dannypernik opened #613 "event-detail: Send confirmation email to volunteer when registered to event"
Template name: volunteer-confirmation
<img width="629" alt="screen shot 2017-10-31 at 6 37 30 pm" src="https://user-images.githubusercontent.com/3347095/32253770-ab3d7ba2-be6a-11e7-8cab-814fe12adf7e.png">

Here are the variables we need for this template. I modified the invite-volunteer-event-existing template since it had many of the same variables. adding EVENT_DESCRIPTION and EVENT_ID to that l

[2017-10-31 23:49] dannypernik commented on #545
@nickolashe I've done three happy paths for the event-detail template
https://docs.google.com/spreadsheets/d/15mnrkl4Rc5dsFX8VAGOeuPPfCQTPHyOWV1SVwkXIqNQ/edit?usp=sharing

[2017-10-31 23:50] dannypernik commented on #421
@nickolashe nope removing coordinator_firstname and coordinator_email inputs from create-event. we want to show the name of the person the volunteer is contacting in event-detail.

[2017-10-31 23:51] dannypernik commented on #611
https://github.com/opencurrents/opencurrents/blob/f09278250f702ed0272b05a36c6333840eb204a2/openCurrents/templates/org-admin.html#L15-L52

[2017-11-01 01:13] dannypernik commented on #580
done. A comment for you there as well on redeem-currents happy path

[2017-11-01 18:32] dannypernik commented on #580
Transferred to use case doc and to General MVP

[2017-11-01 18:39] dannypernik commented on #547
I've added the happy path use cases for event-detail to the spreadsheet:
https://docs.google.com/spreadsheets/d/15mnrkl4Rc5dsFX8VAGOeuPPfCQTPHyOWV1SVwkXIqNQ/edit?usp=sharing

[2017-11-01 21:48] #579 closed

[2017-11-01 21:59] dannypernik commented on #578
@MaxTattenbach

[2017-11-01 22:08] MaxTattenbach commented on #600
To discuss later

[2017-11-01 22:17] MaxTattenbach commented on #578
@nickolashe, It works uploading a receipt.  It seems doesn't work when only text is uploaded

[2017-11-01 22:20] MaxTattenbach opened #618 "Profile: Redeemed offers should be listed latest first.."
This is currently inversed.

![image](https://user-images.githubusercontent.com/26234440/32300690-bcc2aa82-bf28-11e7-822b-fd8d9b0f4361.png)

[2017-11-01 22:37] MaxTattenbach opened #619 "Upcoming Events: Display no Events when none are existent."
![image](https://user-images.githubusercontent.com/26234440/32301280-52abeb10-bf2b-11e7-8db0-bdeb661f518a.png)

[2017-11-01 23:26] MaxTattenbach opened #620 "Time-Tracker: Change Select Admin to coordinator."
![image](https://user-images.githubusercontent.com/26234440/32302659-d6494156-bf31-11e7-8087-f95a2c7d3eb5.png)

[2017-11-01 23:48] MaxTattenbach opened #621 "Upcoming-Events: Create text box with link to "other opportunities""
Austin has many volunteer opportunities.  We have below listed the opportunities on the openCurrents platform but we invite you to check other opportunities [here].  You can earn Currents for every hour you volunteer.

[2017-11-02 03:24] MaxTattenbach opened #622 "Profile: Pop-up: http://openc.herokuapp.com/profile/"
As agreed:
Let's change:
"Volunteer at an event"  to I want to volunteer
"Track volunteer time" to I already volunteer

![image](https://user-images.githubusercontent.com/26234440/32308211-a278277c-bf52-11e7-988e-699c2391bae9.png)

[2017-11-02 03:30] MaxTattenbach opened #623 "Upcoming events: Add existing organizations and events."
As discussed:  Let's add existing organizations listed in openCurrents and below events

[2017-11-02 03:35] MaxTattenbach opened #624 "Upcoming Event: Let's Change Upcoming Event for Volunteer Opportunities"
![image](https://user-images.githubusercontent.com/26234440/32308544-77076e66-bf54-11e7-8aaa-e1a83cf44437.png)

[2017-11-02 15:22] MaxTattenbach opened #625 "Other opportunities: Add new pop-up after clicking other opportunities with logos and link to volunteering site"
Logos: to be linked to their Austin section for volunteering.   Give Pulse, Volunteer Match, Volunteer Hub.

Suggested text:
In the following sites, you can access many opportunities to volunteer with Austin charities.  Once you volunteer, let the volunteer coordinator know that you want to earn Currents for the time you volunteered.  To request Currents after volunteering go to "I already volunte

[2017-11-05 17:52] MaxTattenbach opened #633 "Profile: Create Pop-up for non happy path when cashing out."
Suggested Text:  "Exchange your Currents with participating vendors in the marketplace to earn USD, you must have a positive USD balance to cash out"    Got it (button)

![image](https://user-images.githubusercontent.com/26234440/32417430-47591336-c21f-11e7-8456-08474d1d5420.png)

[2017-11-05 18:39] MaxTattenbach opened #634 "Biz-admin: Lets also add pending Balance (C) and Available Balance (C)"
Note:  Currently pending balance is missing.   All the offers redeemed should be displayed as pending Currents.

![image](https://user-images.githubusercontent.com/26234440/32417931-34366b62-c226-11e7-8302-33d1755643cc.png)

[2017-11-05 18:45] MaxTattenbach opened #635 "marketplace: Limit offers and to decide what happens to an offer that has been fully redeemed in the market place"
I suggest we leave it in the marketplace for the meantime as 0/"X"  available and if someone clicks it alert message displays.

I've added the unhappy path in spec for redemptions

[2017-11-05 18:51] MaxTattenbach opened #636 "Offer: Lets define the minimum Current share - I suggest 5% to post an offer."
I have added it as an unhappy path.

[2017-11-06 03:11] dannypernik opened #637 "time-tracker: Send emails to admin and bizdev@opencurrents.com when user records hours with non-registered NPF"
Row 7 of time-tracker sheet: https://docs.google.com/spreadsheets/d/15mnrkl4Rc5dsFX8VAGOeuPPfCQTPHyOWV1SVwkXIqNQ/edit?usp=sharing

"Request Currents from another organization or admin" button drops down extra fields: Organization name, Admin name, Admin email

[2017-11-07 05:10] dannypernik opened #638 "redeem-currents: Validate that receipt image or no_proof text exists"
User must submit at least one of these - we may as well make it possible to submit both (for example, if user uploads a PoP image besides a receipt, he/she may want to explain the transaction)

[2017-11-07 05:11] dannypernik opened #639 "redeem-currents: Validate that purchase price is positive number"

[2017-11-07 05:30] #584 closed

[2017-11-07 05:30] #585 closed

[2017-11-07 21:50] dannypernik opened #640 "hours-approved: Display variables for # of volunteers, # of hours approved, and # of hours declined"
Text: X Currents have been issued to Y volunteers. Z hours have been declined. Keep up the good work!

[2017-11-08 02:32] dannypernik commented on #633
Has been designed and is covered by issue #596

[2017-11-08 02:32] #633 closed

[2017-11-08 02:59] dannypernik commented on #634
<img width="869" alt="screen shot 2017-11-07 at 8 57 57 pm" src="https://user-images.githubusercontent.com/3347095/32529465-61ac4006-c3fe-11e7-845e-63bb59e3d879.png">
How does this look? I brought the offer button center to keep the balance of the page now that the right heading has 2 lines of its own. (There will be more info on Currents requested below this screenshot; this issue is just for the

[2017-11-08 03:02] dannypernik commented on #635
IMO an offer that has reached its limit for the month should not be displayed in the marketplace. It will be displayed at the beginning of the next month when its monthly number available resets.

[2017-11-08 03:03] dannypernik commented on #636
5% minimum Current share sounds good to me

[2017-11-08 03:26] MaxTattenbach commented on #635
I think rather than disappearing offer freezing the redeem button is
better.
On Tue, Nov 7, 2017 at 9:02 PM dannypernik <notifications@github.com> wrote:

[2017-11-08 07:23] nickolashe opened #641 "User attempts to redeem but does not have enough currents"
- if less than current share allow to redeem that many
- if no currents return an error

[2017-11-09 08:13] #606 closed

[2017-11-09 08:13] #587 closed

[2017-11-09 08:13] #586 closed

[2017-11-10 23:09] dannypernik commented on #641
@nickolashe perhaps we should show an error on marketplace if user clicks 'redeem' and doesn't have Currents? Instead of displaying error on redeem-currents?

[2017-11-11 00:45] MaxTattenbach commented on #641
Agree with Danny.  I think the error should be displayed in Market Place.

Max Tattenbach
Co-creator
www.opencurrents.com

On Fri, Nov 10, 2017 at 5:09 PM, dannypernik <notifications@github.com>
wrote:

[2017-11-12 19:29] dannypernik commented on #620
Changes have been merged into layouts branch

[2017-11-12 19:42] dannypernik commented on #637
Designed in time_tracker_update branch and merged into layouts

[2017-11-12 23:10] dannypernik opened #644 "edit-event: Set coordinator via dropdown of admins"

[2017-11-13 03:26] dannypernik commented on #158
duplicate of #519

[2017-11-13 03:26] #158 closed

[2017-11-13 04:16] #291 closed

[2017-11-13 04:17] #374 closed

[2017-11-13 04:24] dannypernik opened #646 "login: send user to requested page after login"
When a user is not logged in and tries to access a page where Login is required, he/she will be directed to login.html. We are currently saving the page the user attempted with `next=` but user does not yet get redirected to this page on submit.

[2017-11-13 04:31] #421 closed

[2017-11-13 04:33] dannypernik commented on #634
This change is in `layouts` branch in layouts/admin.html (this layout's blocks show biz-admin's profile by default)

[2017-11-13 04:33] nickolashe opened #647 "Retroactive actions on production"

[2017-11-13 04:34] nickolashe opened #648 "Reconstruct the ledger in prod"

[2017-11-13 04:35] nickolashe opened #649 "Create user and org entities in prod"

[2017-11-13 04:36] nickolashe opened #650 "Create user and org entities in prod"

[2017-11-13 04:36] nickolashe opened #651 "Reconstruct the ledger"

[2017-11-13 04:37] #648 closed

[2017-11-13 04:37] #649 closed

[2017-11-13 04:56] nickolashe opened #652 "Pending hour requests"

[2017-11-13 04:58] nickolashe opened #653 "Invites"

[2017-11-13 05:01] #515 closed

[2017-11-13 05:01] #516 closed

[2017-11-13 05:04] #521 closed

[2017-11-13 05:12] nickolashe commented on #529
refactor `event_register`

[2017-11-13 05:29] nickolashe commented on #529
error fixed, need to show status message on event-detail

[2017-11-13 05:40] #543 closed

[2017-11-13 05:41] #610 closed

[2017-11-13 05:42] nickolashe commented on #545
dup of #529

[2017-11-13 05:42] #545 closed

[2017-11-13 05:46] #560 closed

[2017-11-13 05:48] nickolashe commented on #570
var is `balance_available_usd`

[2017-11-13 05:53] #580 closed

[2017-11-13 05:58] #604 closed

[2017-11-13 05:59] #612 closed

[2017-11-13 06:06] nickolashe commented on #613
ORG_NAME = event.project.org.name
EVENT_ID = event.id
EVENT_TITLE = event.project.name
EVENT_START_TIME = event.datetime_start
EVENT_END_TIME = event.datetime_end
EVENT_LOCATION = event.location
EVENT_DESCRIPTION = event.description
ADMIN_FIRSTNAME = event.coordinator.first_name
ADMIN_LASTNAME = event.coordinator.last_name

(see Event model in models.py)

[2017-11-13 06:08] nickolashe commented on #634
@dannypernik move over to another branch based off `nicko` and open to a PR to it

[2017-11-13 07:02] dannypernik commented on #613
PR #654 needs to be tested on master

[2017-11-13 20:46] #638 closed

[2017-11-13 20:46] #639 closed

[2017-11-13 20:46] #641 closed

[2017-11-13 20:48] nickolashe commented on #596
dup #570

[2017-11-13 20:48] #596 closed

[2017-11-13 20:49] #581 closed

[2017-11-13 20:56] #567 closed

[2017-11-13 20:58] #578 closed

[2017-11-13 21:16] nickolashe opened #655 "Status message on marketplace"

[2017-11-13 21:55] nickolashe opened #656 "time-tracker: Volunteer requests Currents with non registered admin of a registered NPF"

[2017-11-13 21:55] nickolashe opened #657 "time-tracker: Volunteer requests Currents with registered admin that has not been approved for admin privilege"

[2017-11-14 00:52] nickolashe opened #659 "Accept images of certain types only"
https://github.com/opencurrents/opencurrents/pull/582#issuecomment-343626274

[2017-11-14 00:58] #644 closed

[2017-11-14 02:37] #479 closed

[2017-11-14 07:33] nickolashe commented on #481
#582

[2017-11-14 07:33] #481 closed

[2017-11-14 07:33] #652 closed

[2017-11-14 16:32] dannypernik commented on #634
@nickolashe this is now working, correct?

[2017-11-14 16:36] dannypernik commented on #567
@nickolashe just to confirm, we decided that when user redeems an offer, Currents available goes down and Pending dollars goes up? And if offer is declined, Currents available increases while Pending dollars decreases.

[2017-11-14 16:52] dannypernik opened #660 "org-admin: Incorrect status message after inviting volunteers"
The status message currently displays only the number of volunteers for event-based or non-event-based invitations from invite-volunteers.html:

<img width="1045" alt="screen shot 2017-11-14 at 10 46 54 am" src="https://user-images.githubusercontent.com/3347095/32792587-50135976-c929-11e7-9525-9c52db932d14.png">
(nicko branch)

Should say "You have invited X volunteers to the event."

[2017-11-14 22:21] nickolashe opened #662 "time-tracker: Volunteer requests Currents with an existing non-approved admin through "Someone else""

[2017-11-14 22:27] nickolashe opened #663 "time-tracker: Volunteer requests Currents via "someone else" and admin already exists and admin has admin privileges"

[2017-11-14 22:30] nickolashe opened #664 "time-tracker: Volunteer requests Currents via "Request Currents from another non-profit" and NPF admin already exists and is present in NPF's admin group"

[2017-11-14 22:32] nickolashe opened #665 "time-tracker: Volunteer records hours with existing NPF and existing NPF admin"
Feature is in production; needs unit tests

[2017-11-14 22:35] nickolashe opened #666 "time-tracker: new functionality and unit tests"

[2017-11-14 22:39] #657 closed

[2017-11-14 23:02] nickolashe opened #667 "User Clicks on any "Admin" displayed below Hours Pending Approval"

[2017-11-14 23:02] nickolashe opened #668 "User Clicks any NPF Admin below Hours Approved"

[2017-11-14 23:04] nickolashe opened #669 "Org Admin Profile Additions"

[2017-11-14 23:08] nickolashe opened #670 "NPF Admins associated to NPF display under Pending Hours and Hours Approved"

[2017-11-14 23:50] dannypernik opened #671 "login: Direct user to /next=(template) if present"
When a user is not logged in and tries to access a page where Login is required, he/she will be directed to login.html. We are currently saving the page the user attempted with `next=` but user does not yet get redirected to this page on submit.

[2017-11-14 23:50] #671 closed

[2017-11-14 23:50] dannypernik commented on #671
dup

[2017-11-14 23:56] dannypernik opened #672 "invite-volunteers: Display "multiple locations" in email from invite-volunteers if event has multiple locations"
When inviting volunteers to an event with multiple locations, EVENT_LOCATION should be set to "multiple locations". The volunteer can sign up/log into their account to see the location details.

[2017-11-15 22:14] MaxTattenbach opened #674 "marketplace: Change so that the most recent posted offers are shown first."
Note the 25% for all product and services was the most recently posted offer

![image](https://user-images.githubusercontent.com/26234440/32863113-067372fe-ca20-11e7-80b1-eb54744f76b0.png)

[2017-11-15 22:17] MaxTattenbach opened #675 "biz-admin: Our Offers section: Most recent offers displaying last, it should be the other way around. Most recent first."

[2017-11-15 22:49] MaxTattenbach opened #676 "profile: Pending Balance in profile should illustrate transaction minus fees. It currently isn't."
Note that in the profile after completing a transaction $35 were passed to pending dollars rather than the $31.5.  Note there was $5 previous in the Pending balance that's why it's adding up to 40.

![image](https://user-images.githubusercontent.com/26234440/32864030-36835970-ca23-11e7-82ee-78d7579d449e.png)

![image](https://user-images.githubusercontent.com/26234440/32864454-dc39518e-ca24-11e7-8

[2017-11-15 22:59] #417 closed

[2017-11-15 23:00] #547 closed

[2017-11-15 23:01] dannypernik commented on #547
back button added on event-detail

[2017-11-15 23:16] MaxTattenbach opened #677 "biz-admin: Delete offers button not working."
![image](https://user-images.githubusercontent.com/26234440/32865383-7bcda634-ca28-11e7-9d90-4dda415b9bad.png)

[2017-11-15 23:39] dannypernik opened #678 "profile: Include requested admin name for records pending and approved"
@nickolashe are there variables available for showing the first and last name of the admin who the volunteer requested to approve hours? We want the text of requested/approved hours on profile to say "You requested X hours from (admin first/last) at (orgname)"

I tried understanding how to access AdminActionUserTime from the record but not quite getting it. If this requires additional work to acce

[2017-11-15 23:47] MaxTattenbach opened #679 "biz-admin: Messaging in Pending transactions is not reflecting proper amounts and not adding up to pending balance"
The error happens when there is a partial redemption of the offer.  For example in the last transaction listed the amount paid by the volunteer was $1,000, but he only had 5 Currents.

The message will only work consistently if the amounts are pulled directly from the transaction or "My Redeemed Offers" from Profile rather than assuming that all offer is completely redeemed.

![image](https://user

[2017-11-15 23:56] MaxTattenbach opened #680 "Biz Admin: Receipt and Text - from transaction doesn't seem to be displaying along to the transaction."
When clicking view receipt it seems to be hard-coded, text or no [icture not passing along.

![image](https://user-images.githubusercontent.com/26234440/32866634-50d7542e-ca2e-11e7-9fb6-c8150ddcc394.png)

[2017-11-16 01:36] dannypernik commented on #550
changed to dropdown to select admin

[2017-11-16 01:36] #550 closed

[2017-11-16 02:04] dannypernik commented on #569
Pushed to develop

[2017-11-16 02:04] #569 closed

[2017-11-16 02:27] dannypernik commented on #570
@nickolashe turns out this issue is a little different than #569 - Max is suggesting a status message after "Send dollars" is clicked in cash-out-popup. Added use cases on rows 39 and 41 on User Profiles tab.

[2017-11-16 06:27] nickolashe commented on #680
dup #542

[2017-11-16 06:27] #680 closed

[2017-11-16 06:28] nickolashe commented on #679
ah yes, good catch. easy fix.

[2017-11-16 06:29] nickolashe commented on #679
@MaxTattenbach pls confirm partial redemption requests are listed correctly

[2017-11-16 06:32] nickolashe commented on #678
@dannypernik good point. to answer your question, `record` **is** an instance of `AdminActionUserTime` in this case. admin user can be accessed using `record.user`

[2017-11-16 06:32] nickolashe commented on #678
https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/templates/user-hour-request-list.html

[2017-11-16 06:33] nickolashe commented on #677
dup #497

[2017-11-16 06:33] #677 closed

[2017-11-16 19:11] MaxTattenbach commented on #679
Nicko these are not listing correctly in the biz admin (it assumes
redemption is complete), although they are listed correctly in profile.

Max

Max Tattenbach
Co-creator
www.opencurrents.com

On Thu, Nov 16, 2017 at 12:29 AM, nickolashe <notifications@github.com>
wrote:

[2017-11-17 02:51] dannypernik opened #681 "public-record displays up to 10 nonprofits who have issued the most Currents"
Use cases: public record tab row 2

[2017-11-17 02:51] dannypernik opened #682 "public-profile displays up to 10 volunteers creating most Currents"
Use cases: public record tab row 4

[2017-11-17 02:53] dannypernik opened #683 "public-profile displays up to 10 businesses who have accepted the most Currents"
Use cases: public record tab row 6

[2017-11-17 02:53] dannypernik opened #684 "Public record"

[2017-11-17 05:12] nickolashe commented on #679
got it, thanks

[2017-11-17 05:33] nickolashe commented on #594
are we still working on this one?

[2017-11-17 05:40] dannypernik commented on #601
@MaxTattenbach check out https://opencdesign.herokuapp.com and scroll down to the form at the bottom of the page. See if the buttons there do the trick in your opinion.

[2017-11-17 05:42] #448 closed

[2017-11-17 05:42] #598 closed

[2017-11-17 05:42] #651 closed

[2017-11-17 05:42] #647 closed

[2017-11-17 05:44] dannypernik opened #692 "profile: User accesses profile after previously answering popup question"

[2017-11-17 05:44] dannypernik opened #693 "profile: User accesses profile and has not answered intro question"

[2017-11-17 05:44] dannypernik opened #694 "profile: User accesses profile and has not answered intro question"

[2017-11-17 05:45] dannypernik opened #695 "profile: Total Currents Issued are displayed in "Currents Issued", under Community Activity"

[2017-11-17 05:46] dannypernik opened #696 "profile: Total Active Volunteers are displayed in "Active Volunteers", under Community Activity"

[2017-11-17 05:46] dannypernik opened #697 "profile: Total Redeemed Currents are displayed in "Redeemed Currents" button, under Community Activity"

[2017-11-17 05:46] dannypernik opened #698 "profile: NPFs in which user has volunteered is displayed under Hours Approved"

[2017-11-17 05:46] dannypernik opened #699 "profile: User clicks "Currents Issued""

[2017-11-17 05:47] dannypernik opened #700 "profile: User clicks "Active Volunteers""

[2017-11-17 05:47] dannypernik opened #701 "profile: User clicks "Currents created""

[2017-11-17 05:47] dannypernik opened #702 "profile: User does not have any hours approved"

[2017-11-17 05:48] dannypernik opened #703 "profile: User has available dollars and cashes out"

[2017-11-17 05:48] dannypernik opened #704 "profile: User tries to cash out with no dollars available"

[2017-11-17 05:53] dannypernik opened #705 "profile: User clicks a particular NPF under My Hours"

[2017-11-17 05:53] dannypernik opened #706 "User Profile"

[2017-11-17 05:55] dannypernik opened #707 "Invite Volunteers"

[2017-11-17 05:56] dannypernik opened #708 "invite-volunteers: Npf admin individually invites volunteers without openCurrents account (non-event based) without personal message"

[2017-11-17 05:57] dannypernik opened #709 "invite-volunteers: Npf admin individually invites volunteers without openCurrents account (non-event based) with personal message"

[2017-11-17 05:57] dannypernik opened #710 "invite-volunteers: Npf admin individually invites volunteers with openCurrents account after creating an event without personal message"

[2017-11-17 05:57] dannypernik opened #711 "invite-volunteers: Npf admin individually invites volunteers with openCurrents account after creating an event and includes personal message"

[2017-11-17 05:57] dannypernik opened #712 "invite-volunteers: Npf admin bulk invites volunteers without openCurrents account (non-event based) without personal message"

[2017-11-17 05:57] dannypernik opened #713 "invite-volunteers: Npf admin bulk invites volunteers without openCurrents account (non-event based) with personal message"

[2017-11-17 05:58] dannypernik opened #714 "invite-volunteers: Npf admin bulk invites volunteers with openCurrents account after creating an event without personal message"

[2017-11-17 06:05] dannypernik opened #715 "invite-volunteers: Npf admin bulk invites volunteers with openCurrents account after creating an event and includes personal message"

[2017-11-17 06:05] dannypernik opened #716 "invite-volunteers: Npf admin individually invites volunteers without openCurrents account after creating an event without personal message"

[2017-11-17 06:05] dannypernik opened #717 "invite-volunteers: Npf admin individually invites volunteers without openCurrents account after creating an event and includes personal message"

[2017-11-17 06:05] dannypernik opened #718 "invite-volunteers: Npf admin bulk invites volunteers without openCurrents account after creating an event without personal message"

[2017-11-17 06:06] dannypernik opened #719 "invite-volunteers: Npf admin bulk invites volunteers without openCurrents account after creating an event and includes personal message"

[2017-11-17 06:06] dannypernik opened #720 "invite-volunteers: Npf admin individually invites volunteers with openCurrents account (non-event based) without personal message"
Unhappy path

[2017-11-17 06:06] dannypernik opened #721 "invite-volunteers: Npf admin individually invites volunteers with openCurrents account (non-event based) with personal message"
Unhappy path

[2017-11-17 06:06] dannypernik opened #722 "invite-volunteers: Npf admin bulk invites volunteers with openCurrents account (non-event based) without personal message"
Unhappy path

[2017-11-17 06:07] dannypernik opened #723 "invite-volunteers: Npf admin bulk invites volunteers with openCurrents account (non-event based) with personal message"
Unhappy path

[2017-11-17 06:08] #694 closed

[2017-11-17 06:19] nickolashe commented on #705
view / template to be added

[2017-11-17 06:33] dannypernik opened #724 "invite-volunteers"

[2017-11-17 06:33] #724 closed

[2017-11-17 13:49] MaxTattenbach commented on #601
Unable to access opencdesign.herokuapp.com.   I am getting an error.

Max Tattenbach
Co-creator
www.opencurrents.com

On Thu, Nov 16, 2017 at 11:40 PM, dannypernik <notifications@github.com>
wrote:

[2017-11-17 17:43] nickolashe opened #725 "Admin views submitted hours"

[2017-11-17 17:44] nickolashe opened #726 "Admin accepts hours for single week"

[2017-11-17 17:44] nickolashe opened #727 "Admin declines hours for single week"

[2017-11-17 17:45] nickolashe opened #728 "Admin accepts hours for multiple weeks (week before last)"

[2017-11-17 17:45] nickolashe opened #729 "Admin accepts hours for multiple weeks (week is last)"

[2017-11-17 17:45] nickolashe opened #730 "Admin declines hours for multiple weeks (week before last)"

[2017-11-17 17:45] nickolashe opened #731 "Admin declines hours for multiple weeks (week is last)"

[2017-11-17 17:46] nickolashe opened #732 "Approve Hours"
Implemented

[2017-11-18 01:07] dannypernik commented on #594
@nickolashe #546 seems to be open. Closing #511 now

[2017-11-18 01:07] #511 closed

[2017-11-18 02:22] dannypernik commented on #601
@MaxTattenbach it's working for me, not sure the problem

[2017-11-18 04:59] dannypernik opened #736 "org-admin: 2 status messages displaying"
<img width="1029" alt="screen shot 2017-11-17 at 1 06 47 pm" src="https://user-images.githubusercontent.com/3347095/32977043-f734a6b0-cbea-11e7-8652-f61aecb07e5f.png">

[2017-11-18 18:28] dannypernik opened #738 "invite-volunteers: Send optional personal message to invite emails"

[2017-11-18 18:30] dannypernik opened #739 "invite-volunteers: Submit emails from bulk-invites-box if shown (do not send from single-invites-box)"

[2017-11-18 18:53] dannypernik opened #740 "public-record: Display data based on 2 filters"
First filter: top orgs/biz/vols
2nd filter: past 30 days/all-time

[2017-11-18 18:57] dannypernik opened #741 "profile: Save answer to yes/no question in autopopup; do not display popup if previously answered"

[2017-11-19 03:49] dannypernik opened #742 "profile: In 'Community activity' section, display totals for Currents created, active volunteers, and Currents accepted"
If "Currents created" is clicked, 1st select box should be changed to "Top organizations";
If "Currents accepted" clicked, 1st select should be changed to "Top businesses";
If "Active volunteers" clicked, 1st select should be changed to "Top volunteers"

[2017-11-19 05:00] dannypernik opened #743 "profile: Display user's approved hours with specific org on hours-detail"

[2017-11-19 05:04] dannypernik opened #744 "profile: Send email to bizdev@opencurrents.com when user cashes out"

[2017-11-19 05:55] dannypernik opened #745 "org-admin: Admin can view hours requested to each admin"

[2017-11-19 05:55] dannypernik opened #746 "org-admin: Admin can view hours approved by each admin"

[2017-11-19 06:08] dannypernik opened #747 "time-tracker"

[2017-11-19 06:08] #747 closed

[2017-11-19 06:11] dannypernik opened #748 "time-tracker: Send emails to admin and bizdev@opencurrents.com when user records hours for existing org and admin = "Someone else""

[2017-11-20 05:24] nickolashe commented on #744
dup #595

[2017-11-20 05:24] #744 closed

[2017-11-26 04:08] MaxTattenbach commented on #634
@nickolashe @dannypernik,  I think this can be closed.  Seems to be working on develop server

[2017-11-26 22:30] nickolashe opened #754 "Trigger ledger record creation on action writes to the db"

[2017-11-26 22:31] nickolashe opened #755 "Combine AdminActionUserTime and TransactionAction into a single model"

[2017-11-27 01:18] nickolashe opened #756 "profile: add a section for group event activity"
hours listed similar to Hours approved section

[2017-11-27 03:52] #634 closed

[2017-11-27 04:26] #681 closed

[2017-11-27 04:26] #682 closed

[2017-11-27 04:26] #683 closed

[2017-11-27 04:26] #740 closed

[2017-11-27 04:26] #684 closed

[2017-11-27 16:27] dannypernik commented on #571
fixed in develop

[2017-11-27 16:27] #571 closed

[2017-11-27 16:28] dannypernik commented on #611
@nickolashe am I good to delete this?

[2017-11-27 17:04] dannypernik opened #757 "business: Notify bizdev@opencurrents.com when business registers"
Currently, when a business registers, they do not automatically have admin access and we do not get notified. Even if we start granting automatic access, we want bizdev notified when a business registers.

Email template: new-org-registered (same as template when nonprofit registers. Includes `ORG_STATUS` to distinguish between nonprofit and business)

[2017-11-27 17:06] dannypernik opened #758 "business: Grant automatic admin status to user who registers a business"

[2017-11-27 17:31] dannypernik commented on #757
Nevermind, it's working

[2017-11-27 17:31] #757 closed

[2017-11-27 17:35] nickolashe commented on #611
yes

[2017-11-27 18:03] dannypernik commented on #756
@nickolashe what if we included event hours within "Hours approved"? The hours description could be the name of the event. And perhaps we should abandon the "Lets... " format for the event names. Bike Austin ignores it when creating their events

[2017-11-27 18:26] dannypernik commented on #601
Ready in home_signup branch (PR #759)

[2017-11-27 18:26] #601 closed

[2017-11-27 22:10] RojanRijal-CSUFOSS opened #760 "Mandrill API Key Leaked"
At your github rep, there is a file called `config.py` that has a mandril api on it. This allows any user to publicly see all the emails being sent from that account. This includes login information, reset password request etc. Please remove that.

Thanks!
Rojan Rijal

[2017-11-28 07:49] dannypernik opened #761 "offer: Display duplicate offer error on biz-admin or edit-offer"
Currently this error stays on offer instead of directing user to a page where the offer can actually be edited:
<img width="640" alt="screen shot 2017-11-28 at 1 45 47 am" src="https://user-images.githubusercontent.com/3347095/33307935-0b2ce86c-d3de-11e7-9578-bbc400da071e.png">
Ideally this error would display on top of edit-offer with fields autofilled based on name of offer attempted. Also works

[2017-11-28 08:00] dannypernik commented on #611
Ready in layouts branch (PR #629)

[2017-11-28 08:00] #611 closed

[2017-11-28 08:01] #620 closed

[2017-11-28 08:01] #622 closed

[2017-11-28 08:02] #624 closed

[2017-11-28 08:02] dannypernik commented on #621
dup of #625

[2017-11-28 08:02] #621 closed

[2017-11-28 08:03] dannypernik commented on #655
@nickolashe can you provide details?

[2017-11-28 19:33] dannypernik opened #762 "approve-hours: Same record displays after successfully approving previous record"
@nickolashe see video I shared with you on Slack

[2017-11-28 21:52] nickolashe commented on #762
@dannypernik can you save a snapshot of your db file (.sqlite) so we can reproduce the issue

[2017-11-29 16:58] dannypernik commented on #762
Sent you a copy of .sqlite file on Slack. Also, notice that these blank AdminActionUserTimes have been created, presumably after clicking "Confirm" on approve-hours for the entry that is not getting approved/declined:
<img width="976" alt="screen shot 2017-11-29 at 10 51 00 am" src="https://user-images.githubusercontent.com/3347095/33387918-2520df3c-d4f4-11e7-8a71-566f321b5549.png">

I tried delet

[2017-11-29 18:35] dannypernik commented on #736
@nickolashe I've updated the logic in status block of org-admin in layouts to ensure only one message displays: https://github.com/opencurrents/opencurrents/blob/layouts/openCurrents/templates/org-admin.html#L9

However, after inviting volunteers, the # of volunteers invited displays without any other text (in both layouts and develop). InviteVolunteersView appears to be redirecting back to org-ad

[2017-11-29 20:59] dannypernik opened #763 "nominate, public-record: admin-required menu items not displaying"
@nickolashe I noticed that for nominate and public-record templates, we lose the full menu when an admin is logged in:

<img width="1049" alt="screen shot 2017-11-29 at 2 49 11 pm" src="https://user-images.githubusercontent.com/3347095/33398464-a7b8d9ac-d514-11e7-8b50-2fe6e84ee18c.png">
<img width="1050" alt="screen shot 2017-11-29 at 2 49 23 pm" src="https://user-images.githubusercontent.com/3347

[2017-11-30 07:30] nickolashe commented on #738
@dannypernik Has personal message been added to the UI yet?

[2017-12-01 22:27] nickolashe opened #767 "Unit tests for NPF admin profile"

[2017-12-01 23:45] dannypernik commented on #455
dup of #738

[2017-12-01 23:45] #455 closed

[2017-12-01 23:46] dannypernik commented on #474
done by Danil

[2017-12-01 23:46] #474 closed

[2017-12-01 23:54] dannypernik commented on #519
dup of #741

[2017-12-01 23:54] #519 closed

[2017-12-02 00:26] dannypernik opened #768 "business: Automatically accept user as biz admin on signup"
bizdev@opencurrents.com should still receive notification email

[2017-12-02 00:28] dannypernik opened #769 "biz-admin: Allow business to add contact details"
Ready for backend implementation on `biz_details` branch

[2017-12-02 00:32] dannypernik opened #770 "profile: New form to create business or nonprofit after signup"

[2017-12-02 00:51] dannypernik commented on #437
dup of #736

[2017-12-02 01:11] dannypernik commented on #653
Remaining issue in epic is low priority so I'm removing the epic and moving the issue to post-MVP

[2017-12-02 01:11] #653 closed

[2017-12-02 01:14] dannypernik commented on #660
dup of #736

[2017-12-02 01:14] #660 closed

[2017-12-02 01:16] dannypernik commented on #556
@MaxTattenbach in an effort to clear my MVP frontend issues, I'm moving this to post-MVP.

[2017-12-02 01:18] dannypernik commented on #555
@MaxTattenbach we can review this after we've edited the content. Should probably include our bios and headshots

[2017-12-02 01:24] dannypernik commented on #613
@nickolashe can you look at the merge conflict on PR #654? It looks like all of the lines from 2355 to 2368 may need to be included but I can't be sure.

[2017-12-02 01:41] dannypernik commented on #619
@nickolashe I'd like to use `{% empty %}` with this for loop:
https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/templates/upcoming-events.html#L108
but am I correct in thinking if there are events with event_type = "MN", the `{% empty %}` message will not display?

Can we use `{% for event in events_group_upcoming %}` (as in org-admin)?

[2017-12-02 01:46] dannypernik commented on #655
@nickolashe I believe this should be backend, as the status message is not displaying despite being passed into URL.

[2017-12-02 01:49] dannypernik commented on #623
in develop

[2017-12-02 01:49] #623 closed

[2017-12-02 05:36] MaxTattenbach commented on #555
Agree. I think we should add headshots and bios for MVP.

Max Tattenbach
Co-creator
www.opencurrents.com

On Fri, Dec 1, 2017 at 7:18 PM, dannypernik <notifications@github.com>
wrote:

[2017-12-02 05:37] MaxTattenbach commented on #556
Ok.  I'll work on it regardless, as I think it needs some more work prior
MVP.

Max Tattenbach
Co-creator
www.opencurrents.com

On Fri, Dec 1, 2017 at 7:16 PM, dannypernik <notifications@github.com>
wrote:

[2017-12-03 09:42] nickolashe opened #771 "Release blockers"

[2017-12-03 09:46] nickolashe commented on #674
@MaxTattenbach moved to "To be tested" pipeline

[2017-12-03 09:48] nickolashe commented on #675
@MaxTattenbach moved to "To be tested" pipeline

[2017-12-03 09:56] nickolashe commented on #676
@MaxTattenbach moved to "To be tested" pipeline

[2017-12-03 09:57] nickolashe commented on #771
@MaxTattenbach lets use this epic to track any release blockers

[2017-12-03 18:48] MaxTattenbach commented on #674
Looks good!

Max Tattenbach
Co-creator
www.opencurrents.com

On Sun, Dec 3, 2017 at 3:46 AM, nickolashe <notifications@github.com> wrote:

[2017-12-03 19:00] MaxTattenbach commented on #676
@nickolashe - Balance is adding up correctly.

@dannypernik @nickolashe we just have to decide if we want to illustrate full amounts or amounts minus fees in "my reedemed offeres".  Currently it shows full amount which I am fine with.

[2017-12-03 19:03] MaxTattenbach commented on #679
@nickolashe  ok to close.  It's showing it correctly.

[2017-12-03 19:05] MaxTattenbach commented on #675
@nickolas,  Good to close issues has been solved.

I'll create a separate issue to show the date when offers were posted not, high priority.

[2017-12-03 19:08] MaxTattenbach commented on #771
@nickolashe, all seem to be fixed. Although not sure what my action is here.

[2017-12-03 19:47] nickolashe commented on #771
@MaxTattenbach please close if so, thanks

[2017-12-03 22:31] nickolashe commented on #676
i think for consistency we should change that one as well. what do you guys think?

[2017-12-04 01:59] nickolashe commented on #635
@MaxTattenbach moving to "To be tested"

[2017-12-04 02:16] #674 closed

[2017-12-04 02:16] #675 closed

[2017-12-04 02:17] #679 closed

[2017-12-04 02:18] nickolashe commented on #674
@MaxTattenbach do you know how to close issues?

[2017-12-04 02:44] #437 closed

[2017-12-04 02:47] dannypernik commented on #398
dup of #563

[2017-12-04 02:47] #398 closed

[2017-12-04 02:54] dannypernik opened #774 "redeem-currents: Variables on Confirmation page reset on error message"

[2017-12-04 07:33] nickolashe commented on #763
#776

[2017-12-04 07:33] #763 closed

[2017-12-04 07:46] nickolashe commented on #761
#776

[2017-12-04 07:46] #761 closed

[2017-12-04 07:47] nickolashe commented on #756
@dannypernik i think this would work, want to make the change

[2017-12-04 16:24] #635 closed

[2017-12-04 16:27] MaxTattenbach commented on #674
Thanks, @nickolashe Nicko I just learned how to close issues this morning.   Seems that we no longer have blockers and are good to go, let's discuss in our call today in the morning.

[2017-12-04 17:01] dannypernik commented on #738
@nickolashe yes it's present in `personal_message` branch

[2017-12-04 17:13] dannypernik commented on #676
@nickolashe the wording in 'My redeemed offers' is "[biz] offers $Y for X Currents" or "[biz] accepted X Currents for $Y". I think it makes more sense to use the amount minus fees so that available dollars equals the sum of the approvals (at least before the first cashout). In this case, I think we'd want to change the language to "You requested $Z for X Currents from [biz]" or "You received $Z fo

[2017-12-04 17:28] dannypernik commented on #774
I'd say no, it's an edge case

[2017-12-04 18:05] dannypernik commented on #756
@nickolashe I'm not clear how `{% for record in hours_list %}` should change to include event-based records.

[2017-12-04 18:14] dannypernik commented on #623
Redesigned in time_tracker_update

[2017-12-04 21:52] dannypernik commented on #655
Nicko fixed #775

[2017-12-04 21:52] #655 closed

[2017-12-04 22:01] dannypernik commented on #301
Currently, if a volunteer manually enters a date more than a week before present, the hours get recorded and added to Currents, but it does not add a record in "Hours approved"

[2017-12-04 22:31] dannypernik commented on #301
@nickolashe we had a volunteer strongly suggest that we allow them to record hours up to 2 weeks in the past. Max and I are okay with this.

[2017-12-04 22:58] MaxTattenbach opened #777 "Events Creating negative balance in Currents. Hours are actually summing up negative Currents not positive."
![image](https://user-images.githubusercontent.com/26234440/33580833-43588b0c-d914-11e7-9f5c-bc0be8f82514.png)

[2017-12-04 23:10] MaxTattenbach commented on #777
@nickolashe note that events either pass negative balances in Develop and don't pass any balances at all in Master.

[2017-12-04 23:13] MaxTattenbach opened #778 "Public Record is displaying a blank as default, it should be displaying top volunteers"
![image](https://user-images.githubusercontent.com/26234440/33581364-376429ee-d916-11e7-8134-82938fa002f1.png)

[2017-12-04 23:15] MaxTattenbach opened #779 "Public Record: Should be displaying names under Top Volunteers, not emails."
![image](https://user-images.githubusercontent.com/26234440/33581456-8e2190aa-d916-11e7-95ee-2583195b67b7.png)

[2017-12-05 00:07] nickolashe commented on #777
@MaxTattenbach can elaborate pls, which events you mean here? group events and checking in through live-dashboard, or something else?

[2017-12-05 00:11] nickolashe commented on #756
this would be a backend change actually

[2017-12-05 00:12] nickolashe commented on #774
i mean blocking launch

[2017-12-05 00:13] nickolashe commented on #676
ok agreed

[2017-12-05 01:53] MaxTattenbach commented on #777
Yeah its the live-dashboard event.  @nickolashe

[2017-12-05 02:25] nickolashe commented on #777
looks like i swapped the roles of start and end time accidentally:
https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/views.py#L2195

[2017-12-05 02:26] nickolashe commented on #777
should be a quick one, thanks for catching @MaxTattenbach

[2017-12-05 05:41] dannypernik commented on #777
Thanks @nickolashe and @MaxTattenbach

[2017-12-05 05:44] dannypernik commented on #774
No I don't think so. But I should be able to find a solution regardless.

[2017-12-05 05:51] dannypernik commented on #625
Designed in time_tracker_update (#781)

[2017-12-05 05:51] #625 closed

[2017-12-05 13:35] MaxTattenbach commented on #777
@nickolashe tested this on develop and it continues issuing negative Currents after registering at event on live-dashboard.  I'm assuming it hasn't been pushed to develop yet?

[2017-12-05 13:42] MaxTattenbach commented on #676
@dannypernik @nickolashe.  how about "You will receive $Z for X Currents from [Biz]."

[2017-12-05 13:46] MaxTattenbach opened #782 "Biz Details form to be added."
As agreed we will release with once the businesses can add some details as contact information, address, etc etc.

[2017-12-05 16:16] MaxTattenbach opened #783 "openCurrents.com - Size: I think the site looks better when zoomed in at 125%, see the difference. Have had a few folks tell me the same."
![image](https://user-images.githubusercontent.com/26234440/33617299-f9c07e14-d9a4-11e7-9697-554b322da083.png)
![image](https://user-images.githubusercontent.com/26234440/33617343-0c7be732-d9a5-11e7-803e-de580ce4a572.png)

[2017-12-05 16:21] MaxTattenbach opened #784 "openCurrents.com: Lets leave graph displayed."
Looking at several friends scrolling through the site they didn't click the button to display the graph.

![image](https://user-images.githubusercontent.com/26234440/33617570-aaeb18a2-d9a5-11e7-8167-05725e947297.png)

[2017-12-05 16:34] MaxTattenbach opened #785 "opencurrents.com/business - Let's change title: Join openCurrents and register a business"
![image](https://user-images.githubusercontent.com/26234440/33617860-865ab5fa-d9a6-11e7-8e7b-73d52d9af6f6.png)

[2017-12-05 16:41] MaxTattenbach opened #786 "openCurrents.com/nonprofit. Let's change to Join openCurrents and register a nonprofit"
![image](https://user-images.githubusercontent.com/26234440/33618658-be1fbb14-d9a8-11e7-96d1-b9075b0177b8.png)

[2017-12-05 16:48] MaxTattenbach opened #787 "openCurrents.com - l really think links that links to register as: non-profit and business should go the form rather to top of page."
![image](https://user-images.githubusercontent.com/26234440/33619015-b4231f06-d9a9-11e7-9d7a-38ab19efd2fa.png)

[2017-12-05 16:57] MaxTattenbach opened #788 "openCurrents.com - Lets add text box when hovering over register as business or nonprofit."
Let's discuss the following. I suggest text box says the following:
When hovering over:
- business:  Businesses receive Currents from customers, you can also volunteer to earn Currents
- nonprofit: Nonprofits issue Currents to their volunteers, you can also volunteer to earn Currents

When hovering over  "Register as Individual" on nonprofit or business page:
Individuals earn Currents by volunteer

[2017-12-05 17:05] MaxTattenbach opened #789 "openCurrrrrrents.com/nonprofit: Let's Change Intro in nonprofit page"
I suggest the following:

Grow and reward

Join the new movement. For each hour worked, volunteers earn 1 Current, which they can as payments with businesses who value their time.  Alternatively, volunteers can always choose to donate back to help you fundraise.

It's a new economy created by social action.

![image](https://user-images.githubusercontent.com/26234440/33619693-8066e98e-d9ab-11e7-99

[2017-12-05 18:15] MaxTattenbach opened #790 "openCurrents.com/nonprofit - Let's change mission statement."
Suggested:  We are on a mission of creating a global currency powered by good.

![image](https://user-images.githubusercontent.com/26234440/33620040-6646690c-d9ac-11e7-8428-8beed4629bf8.png)

[2017-12-05 18:26] MaxTattenbach opened #791 "openCurrents.com/ourstory - After clicking "join community" it should take you to bottom of page not a pop-up."
![image](https://user-images.githubusercontent.com/26234440/33623543-f41a29d0-d9b6-11e7-8400-2eb0d019eb61.png)

[2017-12-05 19:29] MaxTattenbach opened #792 "openCurrents.com/ourstory - Lets add bios and head shots as second section in between "our story" and "our mission""
![image](https://user-images.githubusercontent.com/26234440/33626444-2fc85c78-d9c0-11e7-9b40-6f522201cb9b.png)

[2017-12-06 18:41] dannypernik commented on #789
@MaxTattenbach I think we just need to make it clear that we are making their lives easier. "Volunteer hour tracking has never been this easy." Hour tracking is a pain point for many organizations. We are providing them a valuable tool here.

[2017-12-06 18:43] dannypernik commented on #790
@MaxTattenbach are you onboard with finding one mission statement to use on every page?

[2017-12-06 21:44] dannypernik commented on #791
@MaxTattenbach we agreed that the "Join" buttons would display popup on all landing pages. Scrolling to bottom is distracting. Please close if we're good here.

[2017-12-06 21:59] dannypernik commented on #787
changed in develop

[2017-12-06 21:59] #787 closed

[2017-12-06 22:00] dannypernik commented on #786
@MaxTattenbach I think it's important to distinguish between individual and nonprofit/business. "Join openCurrents" as the link is not specific and applies to individuals, nonprofits, and businesses.

[2017-12-06 22:20] dannypernik commented on #784
@MaxTattenbach I started making the change but realized why we hid it in the first place - the diagram distracts from the first 2 lines, which explain what a Current is. It's most important that people read these two sentences. The graph is less important, so if they don't click the button it's not a big deal.

[2017-12-07 04:09] nickolashe commented on #777
@MaxTattenbach fix pushed, moving to "To be tested" pipeline

[2017-12-07 04:39] nickolashe commented on #778
@MaxTattenbach moving to "To be tested" pipeline

[2017-12-07 04:42] #777 closed

[2017-12-07 04:42] #778 closed

[2017-12-07 04:42] #779 closed

[2017-12-07 19:45] MaxTattenbach opened #795 "public-record: All Time on public record doesn't be to summing Currents Correctly."
Note Last 30 days and all time are the same, see the discrepancy with Org Profile page.   I believe what's happening is that it's not filtering correctly in the database.  All Time and Org hours track should be matching.

![image](https://user-images.githubusercontent.com/26234440/33735306-8bf0bf64-db54-11e7-9309-4263d9a4c363.png)
![image](https://user-images.githubusercontent.com/26234440/3373532

[2017-12-07 20:08] MaxTattenbach opened #796 "Org Admin: Event based hours are not been added on the Org Hours Tracked on Profile."
I added 10 hours - happy path should have been 54.5 Total Org hours tracked.  Note hours did pass on correctly to public record and community activity buttons.

![image](https://user-images.githubusercontent.com/26234440/33736393-0f0ae156-db58-11e7-8867-385716d14a8c.png)

[2017-12-07 20:18] MaxTattenbach opened #797 "Discrepancy in hours approved in Events."
The following illustrates the flow of the issues with hours approved via events.

Max Gmail dot = Admin  ;    Max oC = Volunteer registered to event.

Max oC was checked in via live dashboard to 10 hour event by Max Gmail dot.

#1. Issue: Hours Approved on Org Admin Profile did not change.  Max Gmail dot should have increased by 10 Hours.  Org Hours Tracked on Profile is not changing with events.

[2017-12-07 21:51] MaxTattenbach opened #798 "Live Dashboard: Lets add back button that takes you to Org profile."
Currently, there is no way to back to the org profile from the live dashboard.

![image](https://user-images.githubusercontent.com/26234440/33740405-28f6e2be-db66-11e7-9c61-7afe41f0ed69.png)

[2017-12-07 21:55] MaxTattenbach opened #799 "Public Record: Mismatch between Title and data displayed in the default"
Note that the default labels correspond to Orgs and data displays volunteers.   Let's keep Orgs as the default in the meantime.

![image](https://user-images.githubusercontent.com/26234440/33740556-b921dac4-db66-11e7-8106-f6bf53b2367b.png)

[2017-12-08 09:46] nickolashe commented on #797
@MaxTattenbach the reason why live-dashboard was not working is because it was not showing already checked in users correctly (it is now)

[2017-12-08 10:10] nickolashe commented on #797
merged the fixes, can you retest please @max

[2017-12-08 16:53] MaxTattenbach opened #804 "Org-Admin: Hours Tracked header not adding the hours of Envents"

[2017-12-08 16:54] MaxTattenbach opened #805 "Org- Admin: Hours Approved not adding"

[2017-12-08 17:03] MaxTattenbach commented on #804
Note: An event of 10 hours was created, Org hours tracked should have increased from 44.5 to 64.5.

![image](https://user-images.githubusercontent.com/26234440/33776481-1fc9bf80-dc07-11e7-9a20-acce03213669.png)

[2017-12-08 17:08] MaxTattenbach commented on #805
Hous approved for Max Gmail dot, should have increased by 20 hours and gone from 18 to 38 hours.
Max Gmail dot registered Max oC for a 10-hour event.

![image](https://user-images.githubusercontent.com/26234440/33776622-9a539b36-dc07-11e7-9310-d0ba204fc0b7.png)

[2017-12-08 17:12] MaxTattenbach opened #806 "Hours-detail: Event hours are not passing on to organization Hour detail"

[2017-12-08 17:17] MaxTattenbach commented on #806
All the three events below in which volunteers, where checked in, should be showing up in Hours-detail (Org).    Note:  Event hours are being passed along to Hours detail (user) are being passed along.  (see the lowest screen shoot.)

![image](https://user-images.githubusercontent.com/26234440/33776983-bc29fef2-dc08-11e7-832b-8dd2b71321ee.png)

![image](https://user-images.githubusercontent.com/26

[2017-12-08 17:19] MaxTattenbach opened #807 "Event Hours Discrepancy Udpate"

[2017-12-08 17:20] #807 closed

[2017-12-08 17:24] MaxTattenbach commented on #797
@nickolashe issues on User Profile seem to have been fixed.  I'll close this issue epic.    Although added three new issues into an epic, related to org-profile where hours of events don't seem moving displaying properly.

[2017-12-08 17:24] #797 closed

[2017-12-08 17:26] MaxTattenbach opened #808 "Event Hours Discrepancy in Org Profile"

[2017-12-08 17:28] MaxTattenbach commented on #796
Close duplicate #804

[2017-12-08 17:28] #796 closed

[2017-12-08 18:52] dannypernik opened #809 "Google: Optimize search results"
Current Google blurb:
<img width="632" alt="screen shot 2017-12-08 at 12 50 21 pm" src="https://user-images.githubusercontent.com/3347095/33780477-888d0aa4-dc16-11e7-8225-c53d779bcf6a.png">

[2017-12-08 20:16] nickolashe commented on #804
@tevtonez the issue is likely due to summing times based on usertimelogs, not events (as discussed):
https://github.com/opencurrents/opencurrents/blob/kostya_profile_additions/openCurrents/interfaces/community.py#L53
https://github.com/opencurrents/opencurrents/blob/kostya_profile_additions/openCurrents/interfaces/community.py#L63

[2017-12-08 20:16] nickolashe commented on #804
lets change all time references to those based of event start and end time everywhere

[2017-12-08 20:20] nickolashe commented on #805
@MaxTattenbach can you provide more details please? is this for a group event again? why 20 hr, and not 10? have you checked if admin Max gdot already received hours for this event (by checking anyone else in prior to this)?

[2017-12-08 20:20] nickolashe commented on #805
@tevtonez like to be the same issue as #804

[2017-12-08 20:30] nickolashe commented on #806
@tevtonez lets remove the manual filter here:
https://github.com/opencurrents/opencurrents/blob/kostya_profile_additions/openCurrents/interfaces/orgadmin.py#L50-L52

[2017-12-08 20:30] nickolashe commented on #806
this should fix it

[2017-12-08 21:26] MaxTattenbach commented on #805
@nickolashe regarding question above:   It is 20 Currents because its giving Currents to both admin and volunteer once the volunteer gets checked in.

A bit confused because yesterday it was only giving Currents to the Volunteer.  Either or are Ok but it should be consistent throughout the platform.

[2017-12-08 22:20] nickolashe commented on #805
@MaxTattenbach it only issues the currents to the admin once per event. that's why i wanted to check if the admin has checked in anyone to this event prior to this

[2017-12-08 22:24] nickolashe commented on #795
we've only started tracking ledger recently. could you verify this claim further by creating an event more than 30 days in the past and checking some in?

[2017-12-08 22:24] nickolashe commented on #795
@MaxTattenbach

[2017-12-08 23:17] tevtonez commented on #806
@nickolashe this one should be fixed with my latest commit...

[2017-12-09 02:49] dannypernik commented on #798
Added in develop

[2017-12-09 02:49] #798 closed

[2017-12-09 05:27] nickolashe commented on #806
@tevtonez can link to the commit pls

[2017-12-09 05:28] nickolashe commented on #806
alternatively, can mention #<issue_number> in the commit message

[2017-12-09 08:20] nickolashe commented on #637
@MaxTattenbach @dannypernik you can this one a test now

[2017-12-09 08:20] nickolashe commented on #748
@MaxTattenbach @dannypernik you can this one a test now

[2017-12-09 08:38] #804 closed

[2017-12-09 08:39] nickolashe commented on #808
#800

[2017-12-09 08:39] nickolashe commented on #808
@MaxTattenbach can you retest pls

[2017-12-09 08:40] tevtonez commented on #806
ok, will do @nickolashe

[2017-12-09 08:43] nickolashe commented on #738
@MaxTattenbach @dannypernik you can give this one a test now

[2017-12-09 08:43] nickolashe commented on #739
@MaxTattenbach @dannypernik you can give this one a test now

[2017-12-09 13:35] MaxTattenbach commented on #805
All events had the volunteer check-in.  And yes the functionality seems to
be working fine.

Max Tattenbach
Cofounder & CEO
opencurrents.com <http://www.opencurrents.com>

On Fri, Dec 8, 2017 at 4:20 PM, nickolashe <notifications@github.com> wrote:

[2017-12-09 18:23] dannypernik commented on #748
@nickolashe looks like the default values are getting passed into the template instead of vars:
<img width="622" alt="screen shot 2017-12-09 at 12 13 10 pm" src="https://user-images.githubusercontent.com/3347095/33798228-7220f8c4-dcda-11e7-806c-7bcd0069105b.png">

Are you only wanting to test "Someone else" button? I also clicked the "Request Currents" button and tried submitting hours, but Admin

[2017-12-10 00:51] MaxTattenbach opened #811 "Invite Volunteer: Lets create Text box around Subject and Text."

[2017-12-10 00:54] MaxTattenbach opened #812 "Invite Volunteer: Lets Change Email Subject line: From: An invitation from [org] to [Admin first name], [last name] from [org] is inviting you to [event]"

[2017-12-10 00:55] MaxTattenbach opened #813 "Invite Volunteer: Lets Change Text in body of Email."
Lets Change To:

[Admin FN] [Admin LN] is inviting you to volunteer on [Event date] at [time], in [location].

[Project description]

Click the link below to register for the event to volunteer.  You can earn Currents for volunteering at this event.

You can also reach out to Max by replying to this email.

Original:

![image](https://user-images.githubusercontent.com/26234440/33801038-bfc9205e-dd

[2017-12-10 00:55] MaxTattenbach opened #814 "Invite-Volunteers forms:"

[2017-12-10 01:03] MaxTattenbach commented on #812
![image](https://user-images.githubusercontent.com/26234440/33801037-adb0c39a-dd13-11e7-99d3-ebd0ce4f1822.png)

[2017-12-10 01:17] MaxTattenbach opened #815 "Profile: Let's add event under "My Upcoming Events" for User Profile of the admin"
"My Upcoming Events"  User Profile should also display the events that admin creates.  Note the difference for both profiles.

![image](https://user-images.githubusercontent.com/26234440/33801087-fd6337b4-dd14-11e7-9d81-ed71df32dbde.png)

![image](https://user-images.githubusercontent.com/26234440/33801098-5fab7396-dd15-11e7-958c-77fc47b36e6b.png)

[2017-12-10 05:50] MaxTattenbach opened #816 "Hours-detail: Change variable in header to [User] instead of [Biz]"
This is being accessed from "My Volunteer Hours" in Max Costas account and its showing in header as My Hours Fast Folks

Let's use:  My hours volunteered.

![image](https://user-images.githubusercontent.com/26234440/33802359-2b4852ec-dd3b-11e7-9f51-41357201f669.png)

[2017-12-10 05:55] MaxTattenbach commented on #808
@nickolashe tested and its working good!  Thnks!

[2017-12-10 05:55] #808 closed

[2017-12-10 05:56] MaxTattenbach commented on #805
Working now.

[2017-12-10 05:56] #805 closed

[2017-12-10 05:57] MaxTattenbach commented on #806
Working now!  Thanks   @nickolashe @tevtonez

[2017-12-10 05:57] #806 closed

[2017-12-10 06:05] MaxTattenbach opened #817 "Hour Detail: Let's include name of volunteer in Hour Detail Org."

[2017-12-10 06:10] MaxTattenbach opened #818 "Hours Detail: Let's make header more specific w/ Hour Detail Org"
Let's change to:  My hours tracked as an admin with [org name].     We need to offer more clarity in the titles/headers.

![image](https://user-images.githubusercontent.com/26234440/33802520-95540106-dd3e-11e7-90fc-6d94f2fefd02.png)

[2017-12-10 06:14] MaxTattenbach opened #819 "Hour Detail: Change labeling for Hour Detail User"

[2017-12-10 06:18] MaxTattenbach opened #820 "Labeling: Detail Hours."

[2017-12-10 06:20] #819 closed

[2017-12-10 06:32] MaxTattenbach opened #821 "Hour-Detail. URL difference."
@nickolashe @dannypernik  I think it would make sense to have two Hour Detail URLs.  One for: Hour-Detail-User and the other Hour-Detail-Org.

Currently, descriptions of hours and headers are the same for Hours Detail across User and Org and should be different.

For example hour detail org should always mention the name of volunteer, and header should say: "hours tracked as admin for [org]".

Whi

[2017-12-10 19:59] MaxTattenbach opened #823 "Profile Pop-up: Let's change text to make it more enticing."
I read over the pop-up when signing in.  I think it could be improved significantly.   I suggest the following.

Title:  Would you like to be a  "community developer" with openCurrents?

Community developers are those who actively seek to grow our community and get special benefits on the platform for doing.  For example, you introduce to your network of friends, non-profits, and business so we al

[2017-12-10 20:05] MaxTattenbach opened #824 "Let's - Add in the menu Become Community Developer"
I know there is some backend that needs to be built. - we can discuss later what the best way around it.

![image](https://user-images.githubusercontent.com/26234440/33808865-dec538b8-ddb2-11e7-9457-4b44dad988cf.png)

[2017-12-11 08:43] nickolashe commented on #821
we can probably still the same template but add a column conditional on org vs volunteer

[2017-12-11 18:39] dannypernik commented on #565
fixed in develop

[2017-12-11 18:39] #565 closed

[2017-12-11 18:48] dannypernik commented on #549
Mobile browsers have native date and time pickers for input type="date" or "time". Unfortunately, Chrome and Opera desktop browsers have undesirable interface for these input types, and it's not clear how to disable it entirely. Unfortunately, for the time being @MaxTattenbach and I have agreed not to worry about date and time pickers on iPhone 4. Our custom pickers are working fine on newer iPhon

[2017-12-11 18:48] #549 closed

[2017-12-11 22:16] dannypernik commented on #783
Updated in `new_home` branch

[2017-12-11 22:16] #783 closed

[2017-12-11 22:46] dannypernik opened #827 "live-dashboard: Remove last name autofill"
Leading to incorrect volunteers being added. Last names are frequently shared by multiple users and there's no way to tell who is who when multiple last names appear. If you select the wrong name, selecting another option does not revise the last name. I've found at least one occasion where I was checked in to a volunteer event under the wrong email.

Let's remove autofill until we have a search f

[2017-12-12 02:12] nickolashe commented on #827
sounds good @dannypernik , want to take a shot at it?

[2017-12-12 02:12] nickolashe commented on #821
@dannypernik

[2017-12-12 03:09] #756 closed

[2017-12-12 03:46] nickolashe commented on #676
can we retest this one

[2017-12-12 03:47] nickolashe commented on #795
@MaxTattenbach still waiting to hear from you on this one

[2017-12-12 05:11] MaxTattenbach commented on #795
@nickolashe so I created an event in the past 7th of Nov.  Currents are adding up on public profile on both All Time and Past 30 days.   The issue now seems that Currents issued with more than 30 days in the past are been added to Last 30 days.

[2017-12-12 05:13] nickolashe commented on #782
biz detail form is in develop now

[2017-12-12 05:13] nickolashe commented on #782
moved to "To be tested"

[2017-12-12 18:47] MaxTattenbach opened #829 "Let's create a signup bar - something similar to bethercurrent.godaddysites.com"
![image](https://user-images.githubusercontent.com/26234440/33902162-c4275f12-df39-11e7-8ef9-e4824bd55553.png)

![image](https://user-images.githubusercontent.com/26234440/33902347-5a08cade-df3a-11e7-9464-f8943a0e92f6.png)

[2017-12-12 22:11] nickolashe commented on #795
that is correct, working on a fix

[2017-12-12 23:36] nickolashe opened #830 "Fix public record unit tests"

[2017-12-12 23:38] nickolashe commented on #782
@dannypernik @MaxTattenbach has this been tested? please close if so.

[2017-12-12 23:40] nickolashe commented on #795
@MaxTattenbach can you give another test pls

[2017-12-12 23:41] nickolashe commented on #768
@dannypernik can you clarify what you mean by this exactly?

[2017-12-12 23:45] nickolashe commented on #799
to be tested

[2017-12-13 00:22] dannypernik commented on #782
@nickolashe 3 fields display "None" as the default value instead of blank
<img width="745" alt="screen shot 2017-12-12 at 6 21 29 pm" src="https://user-images.githubusercontent.com/3347095/33915526-6eb52840-df69-11e7-8489-5c24690f6a74.png">

[2017-12-13 00:24] dannypernik commented on #782
@nickolashe "Introduce your business" field does not save

[2017-12-13 00:26] dannypernik commented on #782
Does not check if website is valid - not required for MVP

[2017-12-13 01:17] nickolashe commented on #782
are you sure intro is saved? i think it was on my end

[2017-12-13 03:59] dannypernik commented on #676
Working. I changed the offer_redeemed text on profile, as it should say "You received $X for oC Y from Biz" not "Biz received $X for oC Y". @MaxTattenbach want to double check and close?

[2017-12-13 04:18] dannypernik commented on #738
@nickolashe status message when inviting 1 volunteer to non-event:
<img width="1051" alt="screen shot 2017-12-12 at 10 09 12 pm" src="https://user-images.githubusercontent.com/3347095/33921392-2c196a94-df89-11e7-9dd4-e494f1d6ea02.png">

Have not yet received any of the 3 test emails I had sent to dannypernik@gmail.com (an email with existing account)  from event- and non-event-based invite-volunte

[2017-12-13 06:14] dannypernik commented on #738
@nickolashe @MaxTattenbach I just upgraded MailChimp/Mandrill since we're out of free trials. It appears that the cheapest paid plan is $30 per month ($10 for MailChimp and $20 for 1 block per month of 25,000 emails - they don't have a smaller option). I'm sure there are cheaper options out there but we have relatively high switching costs given that all our emails are created with MailChimp.

[2017-12-13 06:17] dannypernik commented on #738
I've now tested invite-volunteer-event-new and invite-volunteer-event-existing. Both are working with optional status message after I included the message variable in the template. However, invite-volunteer (when admin invites volunteer to create an account, not attend an event) is not passing in variables:

<img width="683" alt="screen shot 2017-12-13 at 12 17 20 am" src="https://user-images.gith

[2017-12-13 19:48] dannypernik commented on #829
@MaxTattenbach This will require backend adjustment. Moving to post-MVP

[2017-12-13 19:50] dannypernik commented on #613
@nickolashe bump

[2017-12-13 20:18] #799 closed

[2017-12-13 20:31] MaxTattenbach opened #834 "Market Place: Create way to access biz detail form from the marketplace."
There is no way for users to access the biz detail form.

![image](https://user-images.githubusercontent.com/26234440/33961067-536df176-e012-11e7-9fdd-adaef2d8a35a.png)

[2017-12-13 20:32] dannypernik commented on #619
@nickolashe on `volunteer-opportunities.html` I'd like to only display "See upcoming events" button if upcoming events are present. Perhaps we can use `{% if events_group_upcoming %}` variable that's used in org-admin?

[2017-12-13 20:37] MaxTattenbach commented on #782
@dannypernik @nickolashe added a dependency to this issue, to complete this issues form must be displayed in the marketplace so users can access biz information.

[2017-12-13 20:44] dannypernik commented on #770
@MaxTattenbach @nickolashe here's design for create-org page - given that biz or npf can be created from here, I don't know that we need any other fields here. A business can add details after they have signed up.

<img width="634" alt="screen shot 2017-12-13 at 2 41 18 pm" src="https://user-images.githubusercontent.com/3347095/33961548-1806435c-e014-11e7-96f9-c091e868879a.png">

Ideally we can re

[2017-12-13 20:45] MaxTattenbach commented on #795
@nickolashe same issue as above.  Created an event 9th of November.  Currents adding up in public record in last 30 days and all time.

[2017-12-13 21:09] dannypernik commented on #774
@nickolashe In addition to changing values of variables when the price input changes here...
https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/templates/redeem-currents.html#L348
...we will also need to have the variables set equal to the price input when the page loads. This is because the input will already be filled if there's an error on the page. I see that you've defined

[2017-12-13 21:10] MaxTattenbach commented on #676
@nickolashe  note that the $ amount is now displaying the net amount but the Current amount is incorrect.

For example in the redemption of Dec 13, there were 17.5 Currents redeemed.  It should state the Net amount of $ with the total amount of Currents given to the business.

It should say.

You requested $157.50 for 17.5 C  from openCurrents

![image](https://user-images.githubusercontent.com/26

[2017-12-13 21:19] MaxTattenbach commented on #771
@nickolashe @dannypernik

Closed a few issues from the To Be tested and also moved a few back from "to be tested" to "new issues"  #676 #782 and #795.

@nickolashe when I test and the functionality works should I close the issue or just move it to "Tested".  Please advise so we can establish the methodology.

[2017-12-13 21:21] dannypernik commented on #785
@MaxTattenbach it needs to be one or the other - both is too long. Which do you prefer?

[2017-12-13 21:25] dannypernik commented on #788
I prefer what we have.

[2017-12-13 21:35] MaxTattenbach commented on #748
@tevtonez

[2017-12-13 21:37] dannypernik commented on #827
@nickolashe looks like this takes care of it?
https://github.com/opencurrents/opencurrents/pull/835/files#diff-4bb47c5b5349a08b7772a129a0bbcb0dL301

[2017-12-13 21:38] MaxTattenbach commented on #748
@tevtonez  emails don't seem to be sending to neither the admin nor the bizdev@openCurrents.com

[2017-12-13 21:57] dannypernik commented on #821
@nickolashe what variable would I use? Note that a volunteer admin could be viewing their own hours volunteered with another organization on hours-detail so I can't use `if is_admin_org`

[2017-12-13 22:19] MaxTattenbach commented on #637
I am unable to submit  the form when user records hours with non-registered NPF.  Error: Admin Field required

![image](https://user-images.githubusercontent.com/26234440/33965360-31f61f3c-e021-11e7-8dc6-f349d655cf99.png)

[2017-12-13 22:43] MaxTattenbach commented on #666
@nickolashe @tevtonez

Wondering about the functionality of time tracker in these two use cases:
Volunteer requests Currents with non-registered NPF
Volunteer requests Currents with non-registered admin of a registered NPF

When looking at these issues above I don't see the implementation issues regarding creating a new org user in the database when the form is submitted.  Additionally, a voluntee

[2017-12-13 23:26] tevtonez commented on #748
@MaxTattenbach I introduced a fix and created a PR.
Please, test it again once the fix is merged to develop, thanks!

[2017-12-13 23:45] dannypernik commented on #782
@nickolashe I've designed a dropdown to display biz details on `biz_details` form (#837). See that PR for the variables we need. If you let me know the variable names, I can add them to the HTML.

[2017-12-13 23:55] dannypernik commented on #768
@nickolashe currently a user who creates a business must be manually added to the business admin group before getting admin access. Access should be automatic for businesses but not for nonprofits.

[2017-12-14 00:10] dannypernik commented on #799
@MaxTattenbach 's change of pipeline from Tested then to Closed begs the question - when issues are tested and working, do we move to Tested or Closed? I suggest we test things twice - first person moves it to Tested, the 2nd moves it to Closed.

@nickolashe also note that we've added a bucket "Tested needs work" and changed the name of the Tested bucket to "Tested and working".

[2017-12-14 00:18] dannypernik commented on #834
Added in PR #837. Adding a bucket in pipeline "PR in Progress".

[2017-12-14 00:22] dannypernik commented on #771
I suggested to @MaxTattenbach that we use "Tested needs work" and "Tested and working" buckets. Issues have been moved accordingly.

[2017-12-14 08:03] tevtonez commented on #666
@MaxTattenbach @dannypernik
I've been using the PDF file with instructions for mentioned functionality and testing. It seems that it contradicts the requirements from gSheet. Regarding requested hours PDF doc says that "Record   not   saved   in   DB   but   passed   into   vars   in   email" in the cases when a volunteer requests Currents with non-registered NPF/NPF-admin. Additionally the PDF do

[2017-12-14 14:41] MaxTattenbach commented on #666
@tevtonez - yes that is the funcionality needed.  I was unaware the PDF contradicted the MVP Usecases Sheet.  Sorry about that.
Lets wait to  here from @nickolashe on how to proceed w/ this one.

[2017-12-15 06:50] nickolashe commented on #666
existing org new admin = create new user for admin and new usertimelog
new org = just send emails

[2017-12-15 06:53] nickolashe commented on #771
@MaxTattenbach in case it passes test lets close

[2017-12-15 06:55] nickolashe commented on #768
@dannypernik i can do the change for business users. let track functionality for regular users separately.

[2017-12-15 06:57] nickolashe commented on #834
what does PR in Progress mean? does it mean a finished PR or not?

[2017-12-15 07:11] #834 closed

[2017-12-15 07:13] nickolashe commented on #799
does that assume each issue is going to be tested by two persons?

[2017-12-15 07:16] nickolashe commented on #782
please note the following discrepancies here:
1. biz details on marketplace should not be referred to as a form - its not taking any user input
2. this issue (#782) is not blocked by anything, #837 does not depend on it

[2017-12-15 07:18] nickolashe commented on #748
this needs a retest from what i understand

[2017-12-15 07:29] nickolashe commented on #821
#838

[2017-12-15 08:28] nickolashe commented on #827
right

[2017-12-15 08:28] #827 closed

[2017-12-15 09:02] nickolashe commented on #774
there are no function definitions inside .on('input'). instead i am calling the getUserBalance asynchronously. same call can be issued on page load, just copy it over (not move)

[2017-12-15 09:06] nickolashe commented on #770
looks good to me. what's left to do here?

[2017-12-15 09:09] nickolashe commented on #613
i thought this was merged long time ago?

[2017-12-15 19:56] dannypernik commented on #768
Regular users creating org tracked in #770

[2017-12-15 22:39] MaxTattenbach commented on #748
@tevtonez still not receiving email at bizdev nor admin when hours are being recorded under "someone else".

[2017-12-15 23:04] MaxTattenbach commented on #748
@nickolashe it seems like #836 needs to be merged before we can give this a round of testing

[2017-12-15 23:25] MaxTattenbach commented on #676
@nickolashe working good and balances adding up correctly.

[2017-12-15 23:28] MaxTattenbach commented on #782
@nickolashe understood on dependencies. Looks good.

[2017-12-15 23:30] MaxTattenbach opened #840 "Market Place: Let's add links to the details of the businesses."
![image](https://user-images.githubusercontent.com/26234440/34064267-7b447344-e1bd-11e7-9ae7-c986a5d0288d.png)

[2017-12-15 23:49] MaxTattenbach commented on #795
@nickolashe same issue as before.  Events with more than 30 days are showing in the public record on "past 30 days"

Although I do notice for first time a difference between "all time" and "past 30 days" in public record.  Maybe that the DB is filtering Currents by the day recorded rather than day of work.

Not sure how to test for manual tracking on same issue as I would have to wait 30 days.

[2017-12-15 23:59] MaxTattenbach commented on #771
@nickolashe ok - will close that have been tested and working.

[2017-12-16 00:09] MaxTattenbach commented on #799
@dannypernik @nickolashe  I am doing most of the testing and will close once I double check and I feel confident its working properly.

I'll go ahead and change the label  from "tested and working"  to "Working to be Retested"

[2017-12-16 00:11] #676 closed

[2017-12-16 00:12] #782 closed

[2017-12-16 00:13] tevtonez commented on #748
@nickolashe @MaxTattenbach a fix has been pushed recently and tests passed.
It can be re-tested after #836 PR is approved.

[2017-12-16 00:15] dannypernik commented on #770
@nickolashe I'm now using forms.py for create-org form. Note that I repurposed the OrgSignupForm that had been used with a previous version. Wasn't sure if clean_user_affiliation or clean_org_status may be useful, so I left them: https://github.com/opencurrents/opencurrents/commit/f56ee329f7b3558bdf50eaf799a472153b7ed748#diff-f50c9452349a91e8a521be5657b61cd4R224

Also added a menu button to create

[2017-12-16 00:22] nickolashe commented on #770
you can delete those two clean methods, they are not really useful

[2017-12-16 00:23] nickolashe commented on #770
should we create a pipeline when something is complete on front-end but needs back-end integration

[2017-12-16 00:24] MaxTattenbach commented on #748
@tevtonez thanks for heads up!

[2017-12-16 00:25] nickolashe commented on #748
needs testing

[2017-12-16 00:26] MaxTattenbach commented on #770
That makes sense.  We could then have final versions of FE when the backend is needed.

[2017-12-16 00:30] dannypernik commented on #834
@nickolashe it means a PR is open but not merged. Currently includes PRs that I open that need backend work, or PRs that are ready to merge. Not sure if you want to split them.

[2017-12-16 00:32] nickolashe commented on #834
yes, i think i prefer to have those separate

[2017-12-16 00:37] nickolashe commented on #795
can you check what the difference is between the two (which events)?

[2017-12-16 00:39] nickolashe commented on #770
what's the priority on this one?

[2017-12-16 00:40] nickolashe commented on #738
@tevtonez please take a look

[2017-12-16 00:41] nickolashe commented on #738
we've bombed out some of our mailchimp quota before we switched to mocking sending emails in unit tests

[2017-12-16 00:44] nickolashe commented on #529
@dannypernik do you know what the status is on this one?

[2017-12-16 00:49] #769 closed

[2017-12-16 00:51] nickolashe commented on #594
did ever get anywhere with this?

[2017-12-16 00:58] dannypernik commented on #770
@nickolashe I'd say medium to high since we need this to allow regular user to post offer. Also I added conditional logic on "Post offer" button in marketplace. Should direct to create-org if regular user, /offer if biz admin, and no button if npf admin. Kinda weird logic:
https://github.com/opencurrents/opencurrents/blob/create_org/openCurrents/templates/marketplace.html#L19

[2017-12-16 01:01] nickolashe commented on #770
`      {% if is_admin_biz %}
        <a href="{% url 'openCurrents:offer' %}"
        class="half-margin-top button round tiny">
          Post an offer
        </a>
      {% elif not is_admin_org %}
        <a href="{% url 'openCurrents:create-org' %}"
        class="half-margin-top button round tiny">
          Post an offer
        </a>
      {% endif %}`

[2017-12-16 01:03] nickolashe commented on #770
i think we can use above (simpler) version. what if the user already has an org?

[2017-12-16 03:39] MaxTattenbach commented on #795
I'll add "to be tested" and follow-up with this

[2017-12-16 04:23] dannypernik commented on #774
@nickolashe Does this look right? Seems unDRY?

[2017-12-16 04:28] dannypernik commented on #613
Just double checked and it appears not.

[2017-12-16 04:36] dannypernik commented on #840
@nickolashe when saving URLs from biz-details form, do we save in a standard format? For example, what happens if some users input http://, others www, and others none? If http or https isn't present in user input, is it safe to assume http:// ? If website has SSL, am I correct in thinking http will forward to https?

I think it makes sense to check for http/https in URL and add http:// when savin

[2017-12-16 05:07] dannypernik commented on #748
@nickolashe @tevtonez Received this error when trying to submit form with "Someone else" selected:
![image](https://user-images.githubusercontent.com/3347095/34067484-bc965d42-e1ec-11e7-9d58-15d40c617d0c.png)

[2017-12-16 05:10] dannypernik commented on #834
I've added bucket "PR needs backend" and "PR ready to merge"

[2017-12-16 05:14] dannypernik commented on #799
@nickolashe Max and I discussed it makes sense to use "retest" bucket for new features so that we get 2 people verifying proper functionality. However for smaller issues or bugs, we'll close after one successful test.

[2017-12-16 05:30] dannypernik commented on #529
@nickolashe the error no longer displays. However, status message is still not displaying when "Send message" input field is blank, even though it's passed into URL.

I don't mind the "You're all set!" message displaying on registration-confirmed when volunteers message coordinator, but we need a different message when the coordinator is contacting volunteers. `{% if coordinator %}' used in event-

[2017-12-16 05:35] dannypernik commented on #594
#546 still open. If name not present for a registrant in the see-invitees-popup, display email address instead. (Occurs when admin invites volunteers but volunteer does not sign up.)

[2017-12-16 05:39] dannypernik commented on #770
If user is already admin of npf, we don't want to show the button at all. Good to know `else` is not required when using `elif`. Logic updated.

[2017-12-16 05:44] dannypernik commented on #601
Closing PR in favor of links directly to forms on various landing pages

[2017-12-16 05:54] dannypernik commented on #821
@nickolashe the hours-detail page is a bit more complex than I thought. There’s actually 3 titles needed - “My hours for {{ orgname }}“, “Hours approved by {{ admin_name }}“, and “Hours pending review by {{ admin_name }}“. Also for the descriptions to be listed in the latter 2 cases, is the volunteer’s name available via the event?

[2017-12-16 05:56] dannypernik commented on #301
Changed timepicker to allow 2 weeks into the past. Input still needs to be validated to ensure this.

[2017-12-16 06:02] dannypernik commented on #812
@MaxTattenbach I'd like to use the same subject line for all emails related to invite-volunteer template. How about "An invitation from [admin first] [admin last] of [org]"

[2017-12-16 06:45] dannypernik commented on #823
@MaxTattenbach how about:

Title: Would you like to be a community connector?

Community connectors actively seek to grow this movement and get special benefits for doing so. You could bring massive value to the community by simply asking your favorite business, "Do you accept Currents?"

What do you say, do you want to help us create Currents in the world?

Yes, count me in / Not now

[2017-12-16 06:46] dannypernik commented on #637
@MaxTattenbach I assume you tested this? Given that we're only requiring one successful test before closing, let's leave a comment "Working" or something similar when closing issues.

[2017-12-16 12:54] tevtonez commented on #748
Great catch @dannypernik it should be fixed now. Pushed 2 fixes to kostya_time_tracker_update branch

[2017-12-16 19:56] MaxTattenbach commented on #812
I am ok with your proposed, although have a feeling that if Admin Name is first in subject people are more likely to open.

We could do:
[admin first] [admin last] from [org] is inviting you to...

Pick which ever you like better.  I'm ok here

[2017-12-16 20:00] MaxTattenbach commented on #823
@dannypernik I like it!

Let's add after (Yes, count me in/Not now)

You can always opt-in later to become a community connector.

[2017-12-16 20:02] MaxTattenbach commented on #637
@dannypernik I don't think I closed it.  We were waiting for PR before testing.

[2017-12-16 21:19] MaxTattenbach opened #842 "Profile: Lets change the default below my volunteer hours when there is no hours."
Note that the front of "no record available" is bigger than the title.   Let's add a link to the time tracker from My volunteer hours when no hours.  I propose the following:

My volunteer hours:
No hours volunteered.  Submit your hours and earn Currents!  (Link with time tracker)

![image](https://user-images.githubusercontent.com/26234440/34074395-a423cd80-e273-11e7-8d05-e0dc579411ed.png)

[2017-12-16 21:25] MaxTattenbach opened #843 "Org-Profile: Let's eliminate the bottom two "No hours are pending approval""
Seems to be some unnecessary repetition.

![image](https://user-images.githubusercontent.com/26234440/34074463-20d4dfa8-e275-11e7-8799-9fa934ce0bb3.png)

[2017-12-16 21:32] MaxTattenbach opened #844 "Hours-detail: When hour details is accessed from org-admin the functionality should be "back to org" rather than back to "back to profile""
I continue to think to have two URL's hour-detail user and hour-detail org prob makes more sense due to different functionality.

@dannypernik fine to leave this post MVP if we can't get to it.  Will include in FE MVP in the mean time.

![image](https://user-images.githubusercontent.com/26234440/34074485-b5b76eba-e275-11e7-8f6a-432198f86376.png)

[2017-12-16 21:49] MaxTattenbach opened #845 "Live-Dashboard. Admin can check himself in an event if event was created by another admin. Let's leave for post MVP."
Let's  discuss if want to allow anybody to check himself in or not.  Let's leave for post MVP.

![image](https://user-images.githubusercontent.com/26234440/34074541-07b67480-e277-11e7-964d-89a68a94d5fa.png)

[2017-12-16 22:50] MaxTattenbach opened #846 "Live Dashboard: Hours are not been recorded when users don't have a existing password or active account openCurrents."
@dannypernik @nickolashe;  seems to me that we want to track hours on live dashboard no matter if a person is on the platfrom or not.

Note despite hours not tracked new users are being created in the DB although hours aren't being associated.

Image #1 checked everyone in.

![image](https://user-images.githubusercontent.com/26234440/34074927-e5b73a6a-e27e-11e7-90df-a973adb69d69.png)

Image #2. We

[2017-12-16 23:06] MaxTattenbach opened #847 "Profile: Currents "Accepted" no longer displaying in Profile nor Public record."
@dannypernik  @nickolashe -  Not sure if the confusion here is the definition of "Accepted".  I believe we actually want to display Currents redeemed as before.

 Before (as of a couple of days ago)  the public record and profile were displaying Redeem Currents now its not.   Not sure what it is?

![image](https://user-images.githubusercontent.com/26234440/34075071-6676fcec-e281-11e7-92cc-cb993752

[2017-12-16 23:14] MaxTattenbach opened #848 "Profile: Let's display active npf and active biz in the community activity - currently we aren't."
@dannypernik  @nickolashe let's make it very simple and just add the amount of biz on the platform and on openCurrents.  It doesn't matter if they have issued Currents for npf or accepted Currents as a business.

Note ecosystem buttons: "active orgs" and "active biz" can point to the public record Currents issued and Currents "Accepted"

![image](https://user-images.githubusercontent.com/26234440/

[2017-12-16 23:17] MaxTattenbach opened #849 "Live Dashboard: Let's add the name of who is responding to the event."
From admins perspective, they don't know how is in charge of what event.

Will place in post mvp.

![image](https://user-images.githubusercontent.com/26234440/34075200-c6461a56-e284-11e7-91a5-2f939a6f49a5.png)

[2017-12-16 23:22] MaxTattenbach commented on #795
@nickolashe   I erased everything in the database and started from 0.

Both events and manual tracking with more than 30 days is showing up in past 30 days.   For manual tracking, I did went past the restriction by entering past date manually.

 Currents are been created but the filter in public record doesn't seem to be working.

[2017-12-17 01:26] nickolashe commented on #795
found the bug. you should not need to recreate anything, it should filter existing fixtures correctly now.

[2017-12-17 01:32] nickolashe commented on #847
could it be due to the fact you cleared everything? you'll need to rerun the setup_fixtures.py script to create some accepted.

[2017-12-17 01:36] nickolashe commented on #846
@tevtonez lets take a look at this one

[2017-12-17 03:09] nickolashe commented on #768
@MaxTattenbach

[2017-12-17 03:21] nickolashe commented on #301
@MaxTattenbach

[2017-12-18 00:41] nickolashe commented on #748
@tevtonez do we have a unit test that tests this use case?

[2017-12-18 00:43] nickolashe commented on #748
its on row 26 of oC MVP use case specs, Time tracker tab:
https://docs.google.com/spreadsheets/d/15mnrkl4Rc5dsFX8VAGOeuPPfCQTPHyOWV1SVwkXIqNQ/edit#gid=994160613&range=26:26

[2017-12-18 01:01] nickolashe commented on #821
@dannypernik user is available via `hr.usertimelog.user`
you should be able to get full name like this:

[2017-12-18 01:04] nickolashe commented on #594
think you can push a change? we'd be testing for {% if user.first_name and user.last_name %} there

[2017-12-18 01:05] nickolashe commented on #529
@dannypernik think you push the corresponding change?

[2017-12-18 01:11] nickolashe commented on #840
we can validate url input, but we are not doing that now.
i think the easiest would to put a memo in the form for the user to include http:// and use django built url validator

[2017-12-18 01:15] nickolashe commented on #840
we are now with the above commit

[2017-12-18 01:17] nickolashe commented on #613
i am not sure it makes sense to try resolve the conflict at this point, but instead implement the change again

[2017-12-18 01:20] nickolashe commented on #774
yes, very undry. why don't we turn https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/templates/redeem-currents.html#L348-L377 into a function and call it in both places?

[2017-12-18 04:10] #795 closed

[2017-12-18 04:12] MaxTattenbach commented on #301
@nickolashe just gave it a round of testing, still possible to record hours manually more than 2 weeks in the past and in the future.  A status message should pop-up indicating this.

[2017-12-18 04:25] MaxTattenbach commented on #768
@nickolashe affiliation seems to be happening automatic, although no email is being sent so I can't create an account to create a password.

![image](https://user-images.githubusercontent.com/26234440/34089821-7a77e614-e378-11e7-8d4a-591dacd03d71.png)

![image](https://user-images.githubusercontent.com/26234440/34089889-f5785092-e378-11e7-904f-11d07f9ee563.png)

[2017-12-18 04:29] MaxTattenbach opened #856 "Profile: Let's add decimal point in Pending Currents when 0."
Notice how all the rest have them.

![image](https://user-images.githubusercontent.com/26234440/34089996-9750806a-e379-11e7-9b18-e1dfd7ee614b.png)

[2017-12-18 05:00] MaxTattenbach commented on #748
@nickolashe @tevtonez
Note that new admin is unable to create his account after he receives email because the system says the account is already existent.
I noticed that new admin password is being created automatically when hours are submitted not sure if that's the problem.

Tried to reset the password for new admin under "forgot my password" but rest password email didn't come through so I coul

[2017-12-18 09:15] tevtonez commented on #748
@MaxTattenbach
I got the information that a new NPF admin account should be created without a password, if a volunteer logs time mentioning a non-registered admin.
Now I see that it's impossible to log in with empty password field.
Please, let me know, which password should we use as default?
Thanks!

[2017-12-18 11:14] tevtonez commented on #738
@nickolashe
it should be covered in this commit: f938ed0

[2017-12-18 11:16] tevtonez commented on #707
please, note that the tests are failing in this branch because they were fixed in another branch with this commit: cce27dd

[2017-12-18 16:26] tevtonez commented on #748
@MaxTattenbach @nickolashe
tests are added but marked for skipping due to issue with time tracking form (as per discussion with Max)

[2017-12-18 18:36] dannypernik commented on #811
@MaxTattenbach I just now realize what you're suggesting here, I think. You're right it would look more like an email if we put text boxes around subject and body, but users will think they are editable, which they are not.

[2017-12-18 21:12] MaxTattenbach commented on #847
@nickolashe  we were before showing Currents redeemed.   I think we should show currents redeemed vs. accepted.  On the openCurrents platform to date, there haven't been "accepted" Currents - I don't believe this functionality exists from biz admin side.

[2017-12-18 22:24] dannypernik commented on #843
@MaxTattenbach changed in develop and ready to test

[2017-12-18 22:25] dannypernik commented on #812
Alright thanks, I went with the first change.

[2017-12-18 22:25] #812 closed

[2017-12-18 22:33] dannypernik opened #859 "profile: Allow someone to become community connector after clicking "no" on welcome popup"
Post MVP

[2017-12-18 23:38] MaxTattenbach commented on #843
@dannypernik  lets leave at least one line - "no hours pending approval"
![image](https://user-images.githubusercontent.com/26234440/34133410-2ccd8e80-e41a-11e7-96e4-045a7951b98c.png)

[2017-12-19 00:33] nickolashe commented on #301
@MaxTattenbach turns out i forgot to merge the fix to develop. can you double check regarding dates too far in the past again. pretty sure future dates won't work for you regardless.

[2017-12-19 00:40] nickolashe commented on #748
@dannypernik @MaxTattenbach @tevtonez to clarify things here a bit:
1. new admin is created without a password
2. hours are tracked under this account
3. it is correct that admin should not be able to log in just yet, otherwise anyone could log in to all new accounts
4. i think the main problem is the email sent to admin directs him to the homepage, whereas what we should really sending them a var

[2017-12-19 00:59] nickolashe commented on #847
@MaxTattenbach so the idea was to transition `pending` (the initial state) to `accepted` after a certain time window. then once the funds are transferred move to `redeemed`. there won't be any accepted or redeemed in production yet, but you can create those using the script locally or test in develop. let me know what you think.

[2017-12-19 01:03] nickolashe commented on #707
@tevtonez @dannypernik @MaxTattenbach what is the status of this epic now? can the implementation and tests be considered done?

[2017-12-19 01:13] nickolashe commented on #768
@MaxTattenbach i've also been seeing email issues in production. where are you testing this?

[2017-12-19 01:14] nickolashe commented on #768
nothing changed on the backend in terms of sending email verification emails

[2017-12-19 01:16] nickolashe commented on #732
@tevtonez @dannypernik @MaxTattenbach what is the status of this epic now? can the implementation and tests be considered done?

[2017-12-19 01:17] nickolashe commented on #706
@tevtonez @dannypernik @MaxTattenbach what is the status of this epic now? can the implementation and tests be considered done?

[2017-12-19 01:17] nickolashe commented on #669
@tevtonez @dannypernik @MaxTattenbach what is the status of this epic now? can the implementation and tests be considered done?

[2017-12-19 01:18] nickolashe commented on #666
@tevtonez @dannypernik @MaxTattenbach is it correct to say that #748 is the only blocker on this epic?

[2017-12-19 01:45] nickolashe opened #865 "release transactions"

[2017-12-19 01:47] nickolashe commented on #361
enforce lowercase

[2017-12-19 01:54] dannypernik commented on #865
@nickolashe Ronak was willing to give us guidance and possibly direct assistance with production server if we wrote out a list of requirements

[2017-12-19 02:00] nickolashe commented on #865
@dannypernik i'll keep that in mind, thanks

[2017-12-19 04:29] dannypernik commented on #848
@MaxTattenbach so you want 5 buttons? feels like too much

[2017-12-19 07:38] tevtonez commented on #669
@nickolashe I believe yes.

[2017-12-19 12:56] MaxTattenbach commented on #748
@nickolashe I am in agreement with #4 above., if not it becomes too many steps.

[2017-12-19 13:04] MaxTattenbach commented on #847
@nickolashe, thanks for the clarification on timing that makes sense.

Although, I believe before we were illustrating # Currents used to redeem offers in both profile and public record.  I remember numbers changing as we redeemed offers.  Or did you now include the timing variable which gives it some type of time lag.

I think the more we can illustrate the movement in a "live" form in the ecosys

[2017-12-19 13:07] MaxTattenbach commented on #707
@nickolashe I can do a round of testing for these scenarios, I'll move to the  To be Tested bucket.

[2017-12-19 13:10] MaxTattenbach commented on #768
@nickolashe testing in develop server.  I haven't done any testing in production.

[2017-12-19 13:13] MaxTattenbach commented on #732
I'll move to be tested bucket and can run testing.

@tevtonez @nickolashe  Once functionality for the unit test is ready to be tested feel free to move to "To be Tested" in the pipeline.

[2017-12-19 13:13] MaxTattenbach commented on #732
I'll move this one.

[2017-12-19 13:15] MaxTattenbach commented on #706
@nickolashe how can we check for #692 in data base?

I'll move epic to be tested bucket.

[2017-12-19 13:20] MaxTattenbach commented on #666
@nickolashe I'll move to to be tested bucket.   Although I believe we shall figure out the email situation

[2017-12-19 13:32] MaxTattenbach commented on #848
@dannypernik profiles will be pretty empty at the beginning.  Let's discuss.  For the future lets try and stick to the spec sheet and if we feel we want to change it let raise it up on an issue.

@dannypernik what's  your position on Currents accepted and redeemed.

[2017-12-19 13:33] MaxTattenbach commented on #669
I'll move to to be tested.

[2017-12-19 13:57] MaxTattenbach opened #867 "Business: Unable to submit signup form form Join the Community button on biz profile. Although able to submit form through bottom of biz page."
![image](https://user-images.githubusercontent.com/26234440/34160220-b07ddbe6-e491-11e7-8162-3a918d2cf024.png)

[2017-12-19 13:58] MaxTattenbach opened #868 "Sign-up Errors."

[2017-12-19 14:04] MaxTattenbach opened #869 "Create account emails not coming in from the following pages: Business, Non-profit, nor Volunteer form"

[2017-12-19 14:09] #301 closed

[2017-12-19 16:10] MaxTattenbach opened #870 "Invite Volunteers: Status message only says a number. Its should say something like " you have invited 1 volunteer""
![image](https://user-images.githubusercontent.com/26234440/34166527-c0b93236-e4a4-11e7-8a79-12d890492251.png)

[2017-12-19 16:13] MaxTattenbach opened #871 "Emails from invite volunteers form is not working."
@tevtonez @nickolashe emails from invite volunteer form is not been sent.

[2017-12-19 16:15] MaxTattenbach commented on #739
@tevtonez emails don't seem to be sending from invite volunteer form I can't test, unfortunately.

[2017-12-19 16:19] MaxTattenbach commented on #707
@nickolashe can't currently test as email aren't working.

[2017-12-19 16:20] #725 closed

[2017-12-19 16:48] #704 closed

[2017-12-19 16:49] #743 closed

[2017-12-19 16:50] MaxTattenbach commented on #742
@nickolashe @dannypernik to define if want to see Redeemed Currents

[2017-12-19 16:54] MaxTattenbach opened #872 "hours-detail: Let's show who's hours they belong to. If clicked from profile under particular NPF - title should display "Hours volunteered w/ Casa""
![image](https://user-images.githubusercontent.com/26234440/34168643-a7b0656a-e4aa-11e7-90f8-f5024e57876e.png)

[2017-12-19 16:55] MaxTattenbach commented on #739
Can't test due to email problem

[2017-12-19 19:13] tevtonez commented on #739
@MaxTattenbach are there any additional info on where it fails, eg logs or anything I could use to pinpoint the issue?

[2017-12-19 21:03] MaxTattenbach commented on #847
@nickolashe per agreed we will convert Currents accepted to "Currents Redeemed for offers". This should show the number of Currents used in the ecosystems to redeem offers whether accepted or not.   We will decide if we want to include Currents Accepted post MVP.

[2017-12-19 21:04] MaxTattenbach opened #874 "Currents Accepted to Currents Redeemed in Profile and Public Record."

[2017-12-19 21:05] MaxTattenbach opened #875 "Change wording for Currents Accepted to Currents Redeemed in profile and Public Record"

[2017-12-19 21:07] tevtonez commented on #871
@MaxTattenbach I've just tried it during the fix for #846 and it worked for me (bulk and individual emails)
it's possible that this feature will work again after PR is approved.

[2017-12-19 23:38] #846 closed

[2017-12-20 01:02] dannypernik commented on #546
PR #878

[2017-12-20 02:14] dannypernik commented on #529
@nickolashe started PR #879 but not sure how to get `{% if coordinator %}` working. Tried copying a few things over from EventDetailView but to no avail

[2017-12-20 02:31] dannypernik commented on #748
@nickolashe the one issue with the suggestion to direct a new admin straight to verify-email is that he/she will not have a first/last name saved for the account. Don't we have it set up such that a user who has an account created with no password can still sign up through homepage and save first/last name, then get verification email directing to verify-email?

[2017-12-20 03:29] dannypernik commented on #774
@nickolashe agreed:
https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/templates/redeem-currents.html#L347

[2017-12-20 03:29] #774 closed

[2017-12-20 03:59] dannypernik commented on #843
Hm, that's strange. @nickolashe here's what I have:
[code]

Previously, the `{% empty %}` tag was part of the inner `for` loop and the 'no hours' message was displayed three times. I figured the empty message needed to be moved to the outer `for` loop but now it's not displaying at all. Any idea why that's happening?

[2017-12-20 04:04] dannypernik commented on #843
@MaxTattenbach ha turns out @tevtonez had already fixed this, and I changed it. Try now please.

[2017-12-20 04:07] dannypernik commented on #843
@nickolashe @tevtonez it seems that my commit automatically closed this issue because I had "fix #843" in the commit message. Turns out that all of these words followed by issue number will do the same:
close
closes
closed
fix
fixes
fixed
resolve
resolves
resolved

Good to know.

[2017-12-20 05:25] dannypernik commented on #732
@nickolashe given that there's no implementation issues in this milestone, if the unit tests look good, @tevtonez 's work here can be considered done. Max will be testing all use cases, but any additional implementation will be separate work.

[2017-12-20 05:29] dannypernik commented on #666
@nickolashe @MaxTattenbach @tevtonez also #637. see 2 comments on PR #861

[2017-12-20 05:34] dannypernik commented on #848
@MaxTattenbach I suggest we use 3 buttons for community activity as we originally agreed on.  Logic of current buttons is to have bigger numbers showing. I'm happy with Currents redeemed over Currents accepted for that reason.

[2017-12-20 05:39] dannypernik commented on #870
dup of #736

[2017-12-20 05:39] #870 closed

[2017-12-20 05:49] dannypernik commented on #875
PR #880

[2017-12-20 06:21] dannypernik commented on #821
Receiving error when trying above (and double checked that tags are loaded on template): https://github.com/opencurrents/opencurrents/blob/hours_detail/openCurrents/templates/hours-detail.html#L61

<img width="998" alt="screen shot 2017-12-20 at 12 19 19 am" src="https://user-images.githubusercontent.com/3347095/34193854-7d0685d0-e51b-11e7-9130-e37b7c5df689.png">

My previous comment had a second

[2017-12-20 14:30] MaxTattenbach commented on #739
@tevtonez I believe Nicko solved the email issues will retest and let you know

[2017-12-20 14:49] #843 closed

[2017-12-20 14:55] MaxTattenbach commented on #848
@dannypernik  Sounds good.  We can keep it to three buttons.

[2017-12-20 14:55] #848 closed

[2017-12-20 21:51] dannypernik commented on #613
PR #860

[2017-12-20 21:54] dannypernik commented on #450
PR #632

[2017-12-20 21:55] dannypernik commented on #619
@nickolashe

[2017-12-20 21:59] dannypernik commented on #785
@MaxTattenbach

[2017-12-20 21:59] #788 closed

[2017-12-20 22:00] dannypernik commented on #791
@MaxTattenbach

[2017-12-20 22:01] dannypernik commented on #811
@MaxTattenbach please close if we're good

[2017-12-20 22:04] dannypernik commented on #813
@MaxTattenbach I'm not clear on why the original is an issue or why the new one is better.

[2017-12-20 22:05] #823 closed

[2017-12-21 00:42] nickolashe commented on #619
@dannypernik `{% if events %}`

[2017-12-21 00:43] nickolashe commented on #619
consult the view for any existing context vars

[2017-12-21 00:43] nickolashe commented on #619
in this case its a ListView and the context object name is `events`:
https://github.com/opencurrents/opencurrents/blob/develop/openCurrents/views.py#L1971

[2017-12-21 00:46] nickolashe commented on #739
@MaxTattenbach following up

[2017-12-21 00:47] nickolashe commented on #821
my bad, it should instead be {{ user.first_name|fullname:user.last_name }}

[2017-12-21 01:00] #842 closed

[2017-12-21 01:37] dannypernik commented on #619
@nickolashe am I correct in thinking `{% if events %}` will be true if manually tracked records exist? I'm interested in checking for group events.

[2017-12-21 01:40] nickolashe commented on #619
i would think there can't be future manual events? does not hurt to impose the filter explicitly. could you create an issue @dannypernik? i don't think its blocking however.

[2017-12-21 01:43] nickolashe commented on #748
@dannypernik that is correct, yes. now what is the issue again?

[2017-12-21 01:45] nickolashe commented on #871
@tevtonez which PR did you mean, #882?

[2017-12-21 01:46] nickolashe commented on #871
this is ready for testing, if so

[2017-12-21 03:38] nickolashe commented on #361
@dannypernik @MaxTattenbach i've made minor adjustments to the email field in some forms to enforce lowercase emails. can you please double check all forms referenced in https://github.com/opencurrents/opencurrents/pull/884/commits/63ecff5cec9eba5e72c536ad2ed5356ae2176c01 are still showing up correctly.

[2017-12-21 03:39] nickolashe opened #885 "convert all emails to lowercase"

[2017-12-21 05:55] dannypernik commented on #821
Ok thanks @nickolashe. Now for the other question - how to change the title on hours-detail depending on whether the admin's approved or pending hours are showing?

[2017-12-21 05:58] dannypernik opened #886 "volunteer-opportunities: Make filter for {% if events_group_upcoming %}"
I believe it's the same `{% if events_group_upcoming %}` filter from org-admin

[2017-12-21 06:04] dannypernik commented on #748
@nickolashe - @MaxTattenbach suggested that it's too many steps to have an invited admin go to homepage from invite email, create an account, go back to email to verify account, and save password. I don't see a way around it assuming we want user to always have a name. Plus I think an invited admin should be directed to homepage so they know what they're signing up for.

[2017-12-21 06:21] dannypernik commented on #619
True. ok creating issue #886. However, `events` isn't accessible to volunteer-opportunities template, it's currently a hard-coded list of initial nonprofits. Wish I knew what needed to be done beyond `context_object_name` to get variable working.

[2017-12-21 06:40] dannypernik opened #887 "login: Status message displaying blue"
Looks like `{{ msg_type }}` in status block of layouts/base.html is not getting set. Will we see the same issue on other pages?

<img width="537" alt="screen shot 2017-12-21 at 12 37 06 am" src="https://user-images.githubusercontent.com/3347095/34243667-768d2a02-e5e7-11e7-87d5-349573976263.png">

[2017-12-21 15:56] MaxTattenbach commented on #768
@nickolashe somehow now the association is not being created automatically on the backend.  I think the nonprofit form and the biz form now may be mistaken.   I registered Fast Folks1

@dannypernik  @nickolashe note that form comming into biz dev is missing a variable in the header.

![image](https://user-images.githubusercontent.com/26234440/34263201-4db3e3a8-e634-11e7-9219-80e2c746ac51.png)

![i

[2017-12-21 19:49] MaxTattenbach commented on #768
@nickolashe, Even after creating the associating email with org on the database I am not getting the account is not getting any affiliation on the frontend.

![image](https://user-images.githubusercontent.com/26234440/34272314-6af6347c-e655-11e7-96d4-e0b01b0bd39e.png)

![image](https://user-images.githubusercontent.com/26234440/34272383-b7a673f4-e655-11e7-92c3-b7df7d7f5253.png)

[2017-12-21 19:56] #768 closed

[2017-12-21 20:00] MaxTattenbach opened #889 "business signup form. The upper form of the website is not working."
Email Received to biz dev after creating two biz accounts from top form and bottom form.   Notice that the top is not complete.

The top form is not creating the biz, it does create an Org id but when associating them on the DB nothing happens.  not the case for the bottom form which works fine.

Top form:
![image](https://user-images.githubusercontent.com/26234440/34272735-192b55f8-e657-11e7-9d81

[2017-12-21 20:04] MaxTattenbach commented on #889
@dannypernik  -  can we just send user to the bottom after creating join community in biz and eliminate top form.  That would be the easiest way around it.  Also, I believe we should do these for NPF page and Volunteer and User, this way when signing in they always see what they want to sign in as.

[2017-12-21 20:10] dannypernik commented on #768
@MaxTattenbach I'm a little confused that you made the comment above then closed the issue. Is it fixed? If you can leave a clarification comment when you close issues it will help.

[2017-12-21 20:16] dannypernik commented on #361
Max found an issue with popup biz form: #889

[2017-12-21 20:21] nickolashe commented on #889
@dannypernik could you compare the two forms in the template to see if you find any differences?

[2017-12-21 20:24] nickolashe commented on #619
get_query_set needs to be defined. See UpcomingEventsView

[2017-12-21 20:25] dannypernik commented on #889
@nickolashe there's a difference with the hidden field. Here's the field in the form at the bottom of the page:
`<input class="lead center" type="hidden" name="org_status" value="biz"/>`
and here's the one in the popup:
<input class="lead center" type="hidden" name="org_type" value="business"/>

Seems like we want both fields to be named "org_status" with value "business", correct?

[2017-12-21 20:27] nickolashe commented on #872
I think this one belongs to the hour details epic?

[2017-12-21 20:28] nickolashe commented on #869
Can this be closed?

[2017-12-21 20:28] nickolashe commented on #868
Can this be closed?

[2017-12-21 20:29] MaxTattenbach opened #890 "Invite Volunteer Form: Is creating a user in the DB which then doesn't allow user to create an account."
Once the user is created after admin invites volunteer user is unable to create an account, as email directs him to home.

I suggest we don't create a new user in the DB when invite volunteers.

@dannypernik  @nickolashe

[2017-12-21 20:37] MaxTattenbach commented on #361
@nickolashe seem that all the sign-up forms to create a new account are not allowing to create new user when entering existent email with capitals letters which is good.

Although.

Invite volunteers and live dashboard are still accepting uppercase.

When using live dashboard and adding a existent email with a capital letter a new is being created in DB.

Also, when inviting volunteers on invite v

[2017-12-21 20:48] #890 closed

[2017-12-21 20:49] #738 closed

[2017-12-21 20:50] #871 closed

[2017-12-21 21:08] MaxTattenbach opened #891 "live-dashboard: Incorrect status message showing up. Says volunteered is already enrolled when not. Functionality on back-end working fine."
No new volunteers can be invited once event is created.

![image](https://user-images.githubusercontent.com/26234440/34274934-97596542-e660-11e7-9c6e-d2a66e025e8f.png)

[2017-12-21 21:30] #546 closed

[2017-12-21 21:48] MaxTattenbach commented on #748
@dannypernik  I am ok with making them go to home for the mean time no biggie

[2017-12-21 21:50] MaxTattenbach commented on #748
@tevtonez seems that we need to create user but not create a password for him.
@nickolashe we should use the same as live dashboard where a user is created without a password

[2017-12-21 22:10] MaxTattenbach opened #892 "Time-tracker: "Request Currents from another nonprofit" Let's change status message when admin already exists."
I suggest when a user is requested to approve hours and already has an account affiliated to an org, then the status message says the following.

The coordinator is already affiliated with an existing organization.

Note if email exists in the data base but is not affiliated to an existent organization then it should be happy path and email is send to biz dev and admin.

![image](https://user-imag

[2017-12-21 22:11] MaxTattenbach commented on #637
I am unable to submit forms it says that it can only submit hours for up to 2 weeks in the past.

![image](https://user-images.githubusercontent.com/26234440/34276975-78023a58-e669-11e7-9809-6826faebc978.png)

[2017-12-21 22:12] #739 closed

[2017-12-21 22:16] MaxTattenbach commented on #840
@dannypernik  note what happens after clicking on the website link.
![image](https://user-images.githubusercontent.com/26234440/34277167-45c114b4-e66a-11e7-9903-769b4f0ab1f3.png)

[2017-12-21 22:18] #869 closed

[2017-12-21 22:19] #867 closed

[2017-12-21 22:23] #708 closed

[2017-12-21 22:25] #709 closed

[2017-12-21 22:27] #710 closed

[2017-12-21 22:28] #711 closed

[2017-12-21 22:32] #712 closed

[2017-12-21 22:37] #713 closed

[2017-12-21 22:41] #714 closed

[2017-12-21 22:42] #715 closed

[2017-12-21 22:46] #716 closed

[2017-12-21 22:48] #717 closed

[2017-12-21 22:51] #718 closed

[2017-12-21 22:51] #719 closed

[2017-12-21 23:02] MaxTattenbach commented on #720
@tevtonez @nickolashe @dannypernik   I believe that when and NPF invites volunteers with the openCurrents account (non-event based) there should be no email sent to volunteer.

I tried with both user with password and user w/out a password and both are getting the emails.  What makes more sense is if volunteer is to send emails to those who don't have a password created.  If user and password then

[2017-12-21 23:04] MaxTattenbach commented on #707
@tevtonez @nickolashe  closed the vast majority of the issues in this epic.   Moved to needs work until we address  #720, #721, #722, #723.

[2017-12-21 23:17] nickolashe commented on #637
pushed a fix, can you try again @MaxTattenbach

[2017-12-21 23:42] nickolashe commented on #361
time-tracker

[2017-12-21 23:42] MaxTattenbach commented on #361
Time-tracker as well @nickolashe

[2017-12-22 00:59] nickolashe opened #894 "invite-volunteers: clicking "skip for now" results in invalid status message"
![image](https://user-images.githubusercontent.com/6278359/34280104-36ccd402-e66a-11e7-8ccc-133d2c62c8ae.png)

[2017-12-22 01:01] #894 closed

[2017-12-22 02:54] dannypernik commented on #887
PR #858

[2017-12-22 02:57] dannypernik opened #895 "profile: Error page after clicking Yes or No on welcome-popup"
![image](https://user-images.githubusercontent.com/3347095/34283466-80b61052-e691-11e7-8152-47596db2f715.png)

[2017-12-22 03:14] dannypernik commented on #840
@MaxTattenbach this is because the website was saved for Fast Folks before @nickolashe changed the website field to validate URL and add http:// if not present.

Max, I made your m.tattenbach an admin of Fast Folks. Please try changing the website for Fast Folks by simply opening the Edit business details popup, then clicking Save. It should update the URL even if you don't change anything. You ca

[2017-12-22 03:19] MaxTattenbach commented on #840
@dannypernik thanks! That worked.

[2017-12-22 03:19] #840 closed

[2017-12-22 03:24] MaxTattenbach commented on #889
@dannypernik

Neither forms for biz signup seem to be working now

![image](https://user-images.githubusercontent.com/26234440/34284114-4ffeeb88-e695-11e7-862e-2d0e75fa7085.png)

[2017-12-22 03:30] MaxTattenbach commented on #637
@nickolashe its working now.

[2017-12-22 03:30] #637 closed

[2017-12-22 03:36] MaxTattenbach opened #897 "Email Template New NPF invited to through time tracker."
@dannypernik  note the email template coming to Admin and Biz Dev when volunteer records hours selecting new npf.  This info is insufficient for us to do anything on the backed as assign pending Currents, etc.   I believe you had created the proper templates.

Also please include the email of a volunteer in template to biz dev not only name - not sure we will be able to find volunteer in database

[2017-12-22 03:54] dannypernik opened #898 "business signup: Display error message when only 1 character is entered into field"
![image](https://user-images.githubusercontent.com/3347095/34284678-72921d06-e699-11e7-9527-ea918df1a7ad.png)

[2017-12-22 04:07] #726 closed

[2017-12-22 04:07] #727 closed

[2017-12-22 04:07] #728 closed

[2017-12-22 04:08] #729 closed

[2017-12-22 04:33] #730 closed

[2017-12-22 04:34] #731 closed

[2017-12-22 04:39] MaxTattenbach opened #899 "Profile: Incorrect date is showing in my hours requested. It displays date of today not date of work."
![image](https://user-images.githubusercontent.com/26234440/34285484-957c93e0-e69f-11e7-8303-b775ade40cee.png)

[2017-12-22 04:48] MaxTattenbach opened #900 "Time-tracker: POST MVP - hours declined that have not been assigned should be able to be resubmitted."
![image](https://user-images.githubusercontent.com/26234440/34285660-cd7a54c0-e6a0-11e7-9287-66afedfbf825.png)

[2017-12-22 05:00] MaxTattenbach commented on #762
@dannypernik  I am not sure what you mean with this issue.  Can you test?   If its working the Approve Hours epic seems to be completed.

[2017-12-22 05:07] #889 closed

[2017-12-22 05:07] #868 closed

[2017-12-22 05:09] #665 closed

[2017-12-22 05:17] MaxTattenbach commented on #664
@tevtonez There should be an error message indicating to volunteer that admin is already registered with another organization.

Email is not been sent to biz dev nor existing admin which is correct functionality.  Missing error message

[2017-12-22 05:21] MaxTattenbach commented on #663
@tevtonez error message indicating that admin already is affiliated is missing

[2017-12-22 05:31] MaxTattenbach commented on #656
@tevtonez note that biz dev is not getting email only Admin.  Both biz dev and Admin most receive email.

[2017-12-22 05:48] MaxTattenbach commented on #656
@tevtonez same issue with password of new admin which is being created

[2017-12-22 05:50] MaxTattenbach commented on #748
@tevtonez emails are been sent correctly the only issue is creating the password for new admin.

[2017-12-22 05:56] MaxTattenbach commented on #662
@tevtonez  both admin and biz dev are getting the email, which seems like form is being submitted.  Although this shows up on the screen.  Pending Currents are not being created.

![image](https://user-images.githubusercontent.com/26234440/34287053-535b280e-e6aa-11e7-8942-c7271cc97b7a.png)

[2017-12-22 06:23] dannypernik commented on #762
I'm no longer getting this error, and no one else has experienced it so I'm closing

[2017-12-22 06:23] #762 closed

[2017-12-22 06:30] dannypernik commented on #656
@MaxTattenbach could you give more detail here? I don't understand

[2017-12-22 06:36] dannypernik commented on #897
@nickolashe I'll need to add variables for time-tracker fields description of work, date, start time, end time, organization name (typed into textbox after "Request other org" clicked), and suggested admin name and email. I also need to add logged in user's email, would that be `self.request.user.email`?

I'm thinking I can add this to `email_vars` PR and try to get this and volunteer-confirmation

[2017-12-22 07:06] dannypernik commented on #619
@MaxTattenbach "See upcoming events" button should only display on volunteer-opportunities.html if upcoming events are present. (Access vol-opps by clicking Volunteer on profile then View opportunities)

[2017-12-22 07:48] tevtonez commented on #748
@MaxTattenbach @nickolashe newly created NPF admin gets empty password here
https://github.com/opencurrents/opencurrents/blob/89a24d42e000e577e67b185d5e98e0fd3d8301f1/openCurrents/views.py#L1019
Am I missing something? Please, let me know, thanks!

[2017-12-22 08:25] tevtonez commented on #662
@MaxTattenbach I cannot reproduce it with the latest code from develop branch. Let's meet and see exact steps to reproduce. Thanks!

[2017-12-22 13:23] tevtonez commented on #748
@MaxTattenbach I talk to nickolashe and removed the line where we set the password, it'll be merged to develop soon.

[2017-12-22 13:53] tevtonez commented on #830
@nickolashe I fixed it, please have a look and close/let me know if needs more work.

[2017-12-22 15:20] tevtonez commented on #663
@MaxTattenbach after e16a108 commit it says this:
![screenshot 2017-12-22 16 18 52](https://user-images.githubusercontent.com/343347/34303024-e26aada6-e733-11e7-8256-3a3a628074ac.png)

is it ok, or it should say 'The coordinator is already affiliated with an existing organization.' ?

[2017-12-22 15:29] tevtonez commented on #664
@MaxTattenbach this e16a108 commit should fix it
![screenshot 2017-12-22 16 28 48](https://user-images.githubusercontent.com/343347/34303382-4d41cc12-e735-11e7-83c4-5dd7b458fbdd.png)

[2017-12-22 17:00] tevtonez commented on #707
@MaxTattenbach
Thanks for pointing it out! I didn't get the idea of these cases but now it makes sense to me.
Code is updated, and will be ready to test after PR.

[2017-12-22 17:07] tevtonez commented on #720
@MaxTattenbach @nickolashe
after commit d962236 all volunteers, registered in the system, won't receive email if they were invited non-event based.
@nickolashe is there a way to distinguish volunteer users with and w/o passwords?

[2017-12-23 01:15] dannypernik commented on #663
@MaxTattenbach I had initially told @tevtonez the status message shown in the screenshot above. If you'd like him to change it to your suggestion I'm fine with that too

[2017-12-23 14:45] tevtonez commented on #663
I changed the pipeline 'to be tested' to bring it up to your radar.

[2017-12-23 17:27] dannypernik opened #902 "live-dashboard: Make first and last name optional"
We'll need to change the registration list to display email if first + last are not present. (Similar to see-invitees popup on event-detail)

[2017-12-23 23:07] MaxTattenbach commented on #785
@dannypernik  Let's keep it as is in the meantime.

[2017-12-23 23:10] MaxTattenbach commented on #768
@dannypernik this is working now.  I'll clarify for other cases.

[2017-12-23 23:21] MaxTattenbach commented on #663
@tevtonez   Thanks!

[2017-12-23 23:21] #663 closed

[2017-12-23 23:29] MaxTattenbach commented on #664
@maxtattenbach to test with email associated with biz.   Test successful with email associated with another npf

[2017-12-23 23:31] #892 closed

[2017-12-23 23:50] MaxTattenbach commented on #748
@maxtattenbach  connect Gala's account on the back end and see if Currents appear on her admin profile.

[2017-12-23 23:54] MaxTattenbach commented on #656
This is working now.

[2017-12-23 23:54] #656 closed

[2017-12-23 23:55] MaxTattenbach commented on #662
This is seems be working.

[2017-12-23 23:55] #662 closed

[2017-12-24 00:18] MaxTattenbach commented on #891
@nickolashe admins are now able to invite volunteers from live dashboard although the status message is incorrect.  I suggest the following.

When the volunteer is not already registered at the event and added through live-dashboard the status message should be.
"volunteer successfully added to the event, please refresh the page to check volunteer in".  Note that volunteers aren't appearing until

[2017-12-24 00:29] #732 closed

[2017-12-24 00:35] #670 closed

[2017-12-24 00:37] MaxTattenbach commented on #668
@

[2017-12-24 00:37] #668 closed

[2017-12-24 00:37] #667 closed

[2017-12-24 00:38] #745 closed

[2017-12-24 00:38] #746 closed

[2017-12-24 00:39] MaxTattenbach commented on #669
@tevtonez   Functionality in Org Admin Profile Additions is working correctly.

[2017-12-24 00:40] MaxTattenbach commented on #767
@nickolashe  not sure if this is you or me.  The functionality of NPF admin profile is working per descriptions.

[2017-12-24 00:44] #699 closed

[2017-12-24 00:44] #700 closed

[2017-12-24 00:46] MaxTattenbach commented on #741
@nickolashe how do I check this in db?

[2017-12-24 00:48] MaxTattenbach commented on #742
@maxtattenbach check accepted vs redeemed close if working properly

[2017-12-24 00:49] #705 closed

[2017-12-24 00:50] #695 closed

[2017-12-24 00:51] #696 closed

[2017-12-24 00:51] #698 closed

[2017-12-24 00:53] MaxTattenbach commented on #697
@maxtattenbach recheck currents accepted vs. currents reedeed

[2017-12-24 00:54] #701 closed

[2017-12-24 16:04] #785 closed

[2017-12-24 16:09] dannypernik commented on #664
@MaxTattenbach are you saying there's another case you'll be testing here? Just sending a message to keep this on your radar. I can also test if you like. I know we decided "Tested and working" was a bucket for issues we want to test twice.

[2017-12-24 16:11] dannypernik commented on #748
@dannypernik

[2017-12-24 16:22] #669 closed

[2017-12-24 16:24] dannypernik commented on #741
@MaxTattenbach you can see the checkbox in the "User settings" table in admin panel.

[2017-12-24 16:25] dannypernik commented on #742
@dannypernik

[2017-12-24 16:27] dannypernik commented on #697
@MaxTattenbach

[2017-12-24 16:34] dannypernik commented on #895
@nickolashe I received this error because my user had been created before the user entity table was created. If we have created all entities on master, we're good here.

[2017-12-24 16:34] #786 closed

[2017-12-24 16:35] dannypernik commented on #821
@nickolashe

[2017-12-24 16:57] dannypernik commented on #821
@nickolashe `{% if is_admin %}` returns True even if I am coming from profile.html. Here's the var you created for the purpose of distinguishing between buttons on profile and org-admin when arriving at hours-detail:
https://github.com/opencurrents/opencurrents/pull/838/files

[2017-12-24 17:23] dannypernik commented on #813
@MaxTattenbach

[2017-12-24 17:23] dannypernik commented on #811
@MaxTattenbach

[2017-12-24 17:23] #791 closed

[2017-12-24 18:38] MaxTattenbach commented on #748
@dannypernik Thanks!

[2017-12-24 18:38] MaxTattenbach commented on #748
@nickolashe @tevtonez   This is working going to close!

[2017-12-24 18:38] #748 closed

[2017-12-24 18:40] MaxTattenbach commented on #664
@dannypernik it was a note for me as I couldn't finish testing due to lack of access to DB

[2017-12-24 18:48] MaxTattenbach commented on #664
@tevtonez @nickolashe This is working now will close.

[2017-12-24 18:48] #664 closed

[2017-12-24 18:57] MaxTattenbach opened #903 "Time-tracker: Lets not display in the dropdown those admins who have not yet been granted admin access."
@tevtonez note that the admins which are have not yet been granted admin access are being displayed in the drop-down. The were added to drop down when selecting someone else.

Note this is not a top priority.

![image](https://user-images.githubusercontent.com/26234440/34328630-8183a9c6-e8a9-11e7-846a-33c62d6f742e.png)

[2017-12-24 19:21] nickolashe commented on #821
@dannypernik there is already a var “hours_admin” that lets you distinguish between admins and users. Looks like I’ll need to add a second one for approved vs. pending.

[2017-12-24 19:22] nickolashe commented on #821
As a general practice, always consult the view’s get_context_data method to see the list of available vars passed to template.

[2017-12-24 19:24] nickolashe commented on #821
As well as get_queryset method and it’s corresponding context_object_name, if those are present (only for some view types, such as ListView)

[2017-12-24 20:05] MaxTattenbach commented on #742
@tevtonez, this is a pretty top issue.

The Active volunteer's button is only displaying 10 active volunteers when there is more than 10.  I am imagining you are pointing it to the public record where we only display 10 volunteers maximum.

Active volunteers button under Community Activity:  Must add all the users that have been issued Currents too and that have a password w/ openCurrents.   There

[2017-12-24 20:16] MaxTattenbach commented on #697
@nickolashe  I believe you had changed the logic so that we actually see the Currents been submitted for redemption under community activity.   The Currents accepted button doesn't seem to be updating nor does the public record.

![image](https://user-images.githubusercontent.com/26234440/34328961-a84d8e7c-e8b4-11e7-805a-dd7425bd3224.png)

![image](https://user-images.githubusercontent.com/2623444

[2017-12-24 20:19] MaxTattenbach commented on #874
@nickolashe I believe you had mentioned a few days ago on Slack you had done work on this one.   See my comment on 12/24 on #697

I'll retest once ready.

[2017-12-25 05:56] dannypernik commented on #821
@nickolashe distinguishing between admins and users is not sufficient here. An npf admin has a profile with "My hours" section, which should show hours he/she volunteered. Sounds like using hours_admin will display org-admin hours details in this instance. Wondering if we should just split this into 2 templates. Not sure if there's value in keeping them together, the content differs throughout. (S

[2017-12-25 07:30] nickolashe commented on #821
@dannypernik I understand it's not sufficient here, that's why I said we'll need to add a second var above. However, I think you misunderstanding `hours_admin` var. It can be both true or false for admins, depending whether they are visiting the page from /profile or /org-admin. So this var is sufficient between to differentiate between case 1 and 2/3 you mentioned. I'll push a commit to develop t

[2017-12-25 07:39] nickolashe commented on #821
Taking a look at the button urls as hover over them on both /profile and /org-admin should give an idea too.

[2017-12-25 07:58] nickolashe commented on #821
And here is the commit.

[2017-12-25 12:23] tevtonez commented on #903
@nickolashe please review this change, and let me know if we should create a separate view for this case only (I'm not sure if this filter works for other possible cases in the app).

[2017-12-25 13:04] tevtonez commented on #742
@nickolashe I think the changes in 4afdd14 should do the job. Please, let me know.

[2017-12-25 22:33] nickolashe commented on #742
@tevtonez changes look good. i think we need to add a test for handling users without a password and then we can merge.

[2017-12-25 22:39] nickolashe commented on #903
@tevtonez:
1. added a comment on that commit
2. not sure what you mean by a separate view here

[2017-12-25 22:42] nickolashe commented on #874
@MaxTattenbach i have not merged the changes yet. see the discussion on #880.

[2017-12-25 22:44] #895 closed

[2017-12-25 22:46] #767 closed

[2017-12-25 22:49] nickolashe commented on #891
@MaxTattenbach:
1. i am not sure i am following, are you saying new volunteers don't show up in the list after adding them in the top form?
2. have you confirmed that all currents are assigned as expected? we don't have unit tests for this view yet so we have to resort to testing everything manually in this case.

[2017-12-25 22:51] nickolashe opened #904 "live-dashboard"

[2017-12-26 07:08] #898 closed

[2017-12-26 07:18] #899 closed

[2017-12-26 07:20] nickolashe commented on #897
@dannypernik {{ user.email }}

[2017-12-26 07:22] #830 closed

[2017-12-26 07:58] tevtonez commented on #742
@nickolashe thanks.
I added assertion as a part of the same test case https://github.com/opencurrents/opencurrents/commit/9cacbb509c3cc1b6d63380f061e1a6c32cdf7396#diff-74d59739237d4413f6babaeba70721beR229